<fieldset>
	<legend>Collection</legend>
	<p>
		<label for="name">Name</label>
		<%= text_field :collection, :name, :value => @collection.vendor %>
	</p>

	<p>
		<label for="translation">Translation</label>
		<%= text_field :collection, :translation, :value => @collection.translation %>
	</p>
</fieldset>

