<div>
	<div class="sermon-on-the-mount unearned"></div>		
	<div class="consistency         unearned"></div>
	<div class="referrer            unearned"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$.getJSON('/earned_badges.json', function(badges_array) {
		$.each(badges_array, function(index, badge) {
			var badgeclass = badge.name.replace(/ +/g, '-').toLowerCase();
			switch( badge.color ) {
				case 'gold'  : $("." + badgeclass).removeClass("unearned").addClass("earned-gold");   break;
				case 'silver': $("." + badgeclass).removeClass("unearned").addClass("earned-silver"); break;
				case 'bronze': $("." + badgeclass).removeClass("unearned").addClass("earned-bronze"); break;
				case 'solo'  : $("." + badgeclass).removeClass("unearned").addClass("earned");        break;
			}
		});
	});
});
</script>