<p>This page allows you to help check verses that have been entered by other Memverse users. Remember that any changes you make here will affect other people
so please pay extremely close attention when making changes on this page.</p>

<p>Please observe the following points:</p>

<ul>
    <li><strong>'Lord' vs 'LORD': </strong>These two terms are translations of different words and have different meanings. Please ensure that you enter them correctly.</li>
    <li><strong>'He' vs 'he', 'Him' vs 'him', etc.: </strong>Different translations capitalize pronouns for God differently. Please preserve the capitalization.</li>
    <li><strong>Quotation Marks: </strong>Do not omit any quotation marks. It is understandably tempting to omit the single sided quotation marks but they should be included
        as they are part of the text.</li>
    <li><strong>Periods and Fullstops: </strong>These are frequently left out at the end of verses. When you are copying and pasting from another website, please ensure
        that you capture the final punctuation.</li>
    <li><strong>Double dashes: </strong>Please convert all double dashes ('--') to single dashes with a space on either side (' - ')</li>
</ul>

<p>To make changes, click on the text of the verse you'd like to correct and then make any changes in the edit box. Click 'Ok' to save the change and then
click 'Ok' again in the right column to submit the change.</p>
