#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository
#
# The original version of this file is found here:
# https://github.com/RailsApps/rails3-application-templates/raw/master/files/gitignore.txt
#
# Corrections? Improvements? Create a GitHub issue:
# http://github.com/RailsApps/rails3-application-templates/issues
#----------------------------------------------------------------------------

# bundler state
/.bundle
/vendor/bundle/
.rvmrc
.env

# Ignore development environmment-specific gems
vendor/cache/libv8-3.3.10.4-x86_64-linux.gem
vendor/cache/ruby/

# minimal Rails specific artifacts
db/*.sqlite3
db/memverse_development
db/memverse_test
/log/*
pubnub.log
tmp/*
dump.rdb

# YARD documentation
.yardoc/*
doc/*

# various artifacts
**.war
*.rbc
*.sassc
.rspec
.redcar/
.sass-cache
/config/config.yml
/config/development.sphinx.conf
/config/initializers/setup_mail.rb
/config/initializers/site_keys.rb
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3-journal
/db/sphinx/
/db/memverse_development
/db/memverse_test
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/assets
/public/ckeditor_assets/
/public/stylesheets/compiled
/public/system
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/rerun.txt
/specifications

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# Local sitemap files
/public/sitemap*

# Ignore encrypted secrets key file.
config/secrets.yml.key
config/master.key

# CircleCI deploy key
circleci_deploy_key
circleci_deploy_key.pub
