.bundle
db/*.sqlite3
log/*.log
log/searchd.development.pid
db/sphinx/development/*
tmp/**/*
.DS_Store
doc/api
doc/app
coverage
db/*.sqlite3
*.tmp_*
config/database.yml
*vendor/gems/*
*public/system/*
mkmf.log
/config/initializers/site_keys.rb
/config/initializers/setup_mail.rb
*.rails2
*plugins/rails_upgrade/*
.bundle

