<% page_title  I18n.t :signup, :scope => 'page_titles' %>

<div class="white-box-with-margins">
			
<div class="signupform" id="signup-page-form">
	<script type="text/javascript">
		formSubmitted = false; // setup global variable
		
		checkForm = function(){
			var isFormValid = true;
			var emptyFields = false;
			var invalidFields = false;
		
			$("div.signup input").each(function(){
				if ($.trim($(this).val()).length == 0){
					$(this).addClass("hilite");
					isFormValid = false;
					emptyFields = true;
				} else if ( $(this).parent().find("div.sidetip p.error:visible").length ) {
					$(this).addClass("hilite");
					isFormValid = false;
					invalidFields = true;
				} else {
					$(this).removeClass("hilite");
				}
			});
		
			if (!isFormValid) {
				if (emptyFields && invalidFields) {
					alert("Please complete any empty fields and correct any invalid fields.")
				} else if (emptyFields) {
					alert("Please complete any empty fields.")
				} else if (invalidFields) {
					alert("Please correct any invalid fields.")
				}
			} else if (formSubmitted) { // form passes previous validation but has already been submitted
				isFormValid = false;
			} else { // The form is OK! We update global formSubmitted variable.
				formSubmitted = true;
			}
			
			return isFormValid;
		}
	</script>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		<script type="text/javascript">
		//<![CDATA[
		<!--
		var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
		"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
		" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
		"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
		"\"(0),4\\\"\\\\05\\\\0r\\\\\\\\\\\\07\\\\02\\\\02\\\\\\\\30\\\\07\\\\00\\\\" +
		"\\\\27\\\\07\\\\02\\\\\\\\WD10\\\\0r\\\\\\\\\\\\XD0T00\\\\\\\\22\\\\0Y\\\\_" +
		"pGvUtQzMxS~q|oBu@kF)D59qf/. q2277\\\\1e\\\\`ed|wspphl0 02\\\\\\\\22\\\\05\\" +
		"\\02\\\\\\\\17\\\\03\\\\03\\\\\\\\24\\\\0n\\\\\\\\\\\\36\\\\00\\\\02\\\\\\\\"+
		"33\\\\03\\\\03\\\\\\\\20\\\\0R\\\\24\\\\06\\\\00\\\\\\\\06\\\\03\\\\01\\\\\\"+
		"\\16\\\\0t\\\\\\\\\\\\31\\\\0J\\\\35\\\\0O\\\\\\\\t2\\\\00\\\\\\\\14\\\\0 \\"+
		"\\@]7=02\\\\\\\\0:2r349-$:2<==7217\\\\\\\\<<?(e>4k02\\\\\\\\ z6 b+| 37\\\\0" +
		"6\\\\03\\\\\\\\`SfIdWjE13\\\\03\\\\03\\\\\\\\23\\\\0@\\\\4S01\\\\\\\\21\\\\" +
		"0O\\\\02\\\\00\\\\02\\\\\\\\24\\\\0N\\\\G[UPEV2S00\\\\\\\\USgph=}twk(QH7wd7" +
		"7\\\\1?\\\\|k{byxxhu(awwp\\\\.\\\\\\\"\\\\\\\\\\\\\\\"@\\\\32\\\\06\\\\03\\" +
		"\\\\\\10\\\\01\\\\02\\\\\\\\6X02\\\\\\\\UJ5T03\\\\\\\\3.00\\\\\\\\1,00\\\\\\"+
		"\\7203\\\\\\\\5000\\\\\\\\3603\\\\\\\\Y4EI26\\\\01\\\\00\\\\\\\\_^01\\\\0p\\"+
		"\\3b{5>44100\\\\\\\\wh10\\\\0=\\\\6;01\\\\\\\\(>>'8c,82;gi30\\\\0~\\\\$$W23" +
		"6\\\\0\\\\\\\\\\\\\\\\0\\\\00\\\\\\\\33\\\\02\\\\03\\\\\\\\dMjChAn]lC21\\\\" +
		"04\\\\01\\\\\\\\_qD@D@\\\\nV\\\\tP\\\\\\\\EMSHB=o {h{u`7p|f/dM`S~Q~W|Uh[vY<" +
		"_ .14\\\\07\\\\03\\\\\\\\7@01\\\\\\\\r&\\\\\\\\1$03\\\\\\\\7*00\\\\\\\\7(00" +
		"\\\\\\\\5.00\\\\\\\\1,00\\\\\\\\7203\\\\\\\\U034\\\\00\\\\00\\\\\\\\14\\\\0" +
		"H\\\\[ZCK=@3B00\\\\\\\\8c7)/;ux\\\\n!\\\\>=$0m#22\\\\0p\\\\;)=3eh32\\\\0~\\" +
		"\\km3/y/^USY1Y03\\\\\\\\EVACAQ20\\\\0m\\\\\\\\rD\\\\DMH@FD10\\\\05\\\\00\\\\"+
		"\\\\QzNMNO=C Bvyw{58aJ~}dp-c0Rbh+*iTqivp,`7t02\\\\\\\\20\\\\06\\\\03\\\\\\\\"+
		"16\\\\0t\\\\\\\\\\\\$[5J00\\\\\\\\06\\\\05\\\\02\\\\\\\\37\\\\01\\\\02\\\\\\"+
		"\\4Q00\\\\\\\\32\\\\06\\\\03\\\\\\\\03\\\\05\\\\00\\\\\\\\TW37\\\\01\\\\00\\"+
		"\\\\\\03\\\\0Z\\\\21\\\\08\\\\27\\\\0>\\\\17\\\\0<\\\\2-00\\\\\\\\0)00\\\\\\"+
		"\\6/00\\\\\\\\4700\\\\\\\\n%\\\\\\\\0;01\\\\\\\\6!01\\\\\\\\&o*&pb6?02\\\\\\"+
		"\\4=02\\\\\\\\2)03\\\\\\\\0703\\\\\\\\4}$(20\\\\02\\\\00\\\\\\\\`IfOdMjYhG\\"+
		"\\rB\\\\36\\\\04\\\\01\\\\\\\\16\\\\0E\\\\MCHG\\\\tM\\\\6E00\\\\\\\\KQLMC@p" +
		"?ur{ojtp~{{2pbuy`7~17\\\\\\\\Zj*7t[vjgqk!20\\\\04\\\\03\\\\\\\\20\\\\01\\\\" +
		"03\\\\\\\\%X4E00\\\\\\\\05\\\\04\\\\02\\\\\\\\30\\\\00\\\\02\\\\\\\\1R00\\\\"+
		"\\\\3L03\\\\\\\\1203\\\\\\\\7003\\\\\\\\5603\\\\\\\\t4\\\\\\\\7:02\\\\\\\\]" +
		"822\\\\0N\\\\\\\\\\\\\\\\\\\\6q(>7:,y88;ur7\\\"\\\\\\\\\\\\=4:!8?1+03\\\\\\" +
		"\\ev32\\\\07\\\\1+$0[`QWM]PT32\\\\0k\\\\13\\\\0F\\\\RGR^20\\\\0_\\\\22\\\\0" +
		"Y\\\\_p]vStKzQx7~03\\\\\\\\0P\\\"\\\\\\\\\\\\t3nxuxe7fqe|cb^n.3aWifotp%g`rg" +
		"33\\\\0r\\\\\\\\\\\\'^nG\\\\\\\\13\\\\06\\\\02\\\\\\\\32\\\\06\\\\02\\\\\\\\"+
		"3T00\\\\\\\\5N00\\\\\\\\3,03\\\\\\\\1203\\\\\\\\7003\\\\\\\\7600\\\\\\\\540" +
		"2\\\\\\\\1:02\\\\\\\\7802\\\\\\\\5>02\\\\\\\\+<02\\\\03\\\\00\\\\0)\\\\06\\" +
		"\\0g\\\\x(tj=15=*pj<$9i3),e'.!5+Z`RL3Q03\\\\\\\\W_tw\\\\\\\\24\\\\0i\\\\ZD3" +
		"F02\\\\\\\\2l02\\\\\\\\^]GMtI\\\\\\\\3X03\\\\\\\\yR7P17\\\\\\\\}VCTApGn;$gD" +
		"77\\\\1a\\\\wqb{S2~377\\\\1j\\\\jfq(aow8u^\\\\\\\\\\\\\\\\\\\\n!\\\\22\\\\0" +
		"'\\\\10\\\\0%\\\\26\\\\0+\\\\04\\\\0)\\\\\\\\J\\\\\\\\R\\\\,S13\\\\04\\\\03" +
		"\\\\\\\\02\\\\03\\\\03\\\\\\\\30\\\\01\\\\03\\\\\\\\10\\\\00\\\\03\\\\\\\\:" +
		"E1X00\\\\\\\\23\\\\03\\\\03\\\\\\\\25\\\\0@\\\\2}00\\\\\\\\om6y00\\\\\\\\=d" +
		"?-t&6q01\\\\\\\\\\\\5\\\\\\\" \\\\>9*?32\\\\0i\\\\5%#/,*01\\\\0c\\\\34\\\\0" +
		"2\\\\00\\\\\\\\XLWXQUT]YW3D02\\\\\\\\20\\\\0m\\\\AmDAJX[GAAJH|GSFhOnmk}kAd}" +
		"7c.H|waq/.eP`ef|wkemnl!c31\\\\06\\\\01\\\\\\\\24\\\\0r\\\\\\\\\\\\\\\\n3\\\\"+
		"01\\\\\\\\26\\\\06\\\\00\\\\\\\\6*00\\\\\\\\26\\\\01\\\\00\\\\\\\\04\\\\0R\\"+
		"\\S3\\\\t5\\\\00\\\\\\\\6K03\\\\\\\\34\\\\00\\\\03\\\\\\\\\\\\t7\\\\01\\\\\\"+
		"\\0Y02\\\\\\\\6?02\\\\\\\\4=02\\\\\\\\03\\\\00\\\\01\\\\0.\\\\07\\\\0d\\\\4" +
		"{00\\\\\\\\$:2<==42!=?:+8h937#+1*4c03\\\\\\\\02\\\\0M\\\\]NYW31\\\\0N\\\\R^" +
		"\\\\t@\\\\Fo^m\\\\s\\\\\\\\q\\\\22\\\\0]\\\\MC07\\\\03\\\\03\\\\\\\\yR7P17\\"+
		"\\\\\\}LCRk 7u17\\\\\\\\%5KlIbO`M|Sb}07#b+ffgjf$!`1t02\\\\\\\\23\\\\02\\\\0" +
		"2\\\\\\\\32\\\\01\\\\03\\\\\\\\4Y03\\\\\\\\05\\\\01\\\\03\\\\\\\\02\\\\07\\" +
		"\\00\\\\\\\\00\\\\03\\\\02\\\\\\\\N!2M37\\\\03\\\\00\\\\\\\\31\\\\00\\\\03\\"+
		"\\\\\\14\\\\0H\\\\14\\\\00\\\\01\\\\\\\\04\\\\00\\\\01\\\\\\\\01\\\\0@\\\\]" +
		"=-,0<z8d)n#\\\\\\\\0!01\\\\\\\\6'01\\\\\\\\4%01\\\\\\\\2!02\\\\\\\\0?02\\\\" +
		"\\\\:utf5i!7!72 V^4^03\\\\\\\\\\\\r2\\\\03\\\\\\\\KMSV4Y02\\\\\\\\SG21\\\\0" +
		"U\\\\6M01\\\\\\\\_YG^\\\\tL\\\\IUWRCP6q03\\\\\\\\B=sohi8|7s17\\\\\\\\uy|e2x" +
		"3S7~17\\\\\\\\fj(j:wXq^w\\\\u\\\\\\\\n\\\\\\\\\\\\2!02\\\\\\\\0'01\\\\\\\\F" +
		"%07\\\\0Y\\\\ZI26\\\\00\\\\00\\\\\\\\04\\\\03\\\\02\\\\\\\\\\\\n5\\\\03\\\\" +
		"\\\\tM\\\\\\\\31\\\\05\\\\00\\\\\\\\04\\\\0H\\\\02\\\\04\\\\00\\\\\\\\0E00\\"+
		"\\\\\\17\\\\07\\\\02\\\\\\\\16\\\\03\\\\00\\\\\\\\77\\\\1:\\\\3/),9*07\\\\0" +
		"h\\\\0w01\\\\\\\\=8#0n&-&=.4k02\\\\\\\\5z%6!/0a03\\\\0J\\\\HaNgLeXkFi\\\\o\\"+
		"\\\\\\m\\\\sB20\\\\0]\\\\03\\\\07\\\\02\\\\\\\\04\\\\0P\\\\LI5I00\\\\\\\\JW" +
		"02\\\\0E\\\\pRnizo'JK:z}`u1{`{Q,x1hyddu&w8u^\\\\\\\\\\\\\\\\\\\\n!\\\\10\\\\"+
		"0'\\\\24\\\\0%\\\\\\\\n+\\\\5H00\\\\\\\\O[5S00\\\\\\\\23\\\\0n\\\\\\\\\\\\1" +
		"0\\\\07\\\\03\\\\\\\\\\\\t3\\\\03\\\\\\\\2J03\\\\\\\\01\\\\0G\\\\02\\\\07\\" +
		"\\02\\\\\\\\13\\\\04\\\\02\\\\\\\\21\\\\02\\\\02\\\\\\\\01\\\\07\\\\01\\\\\\"+
		"\\7`17\\\\\\\\00\\\\00\\\\85>+!v67#4?51l02\\\\\\\\8q(9$$5f7x36\\\\05\\\\34\\"+
		"\\0K\\\\IbU`KfCdAjGhEnAl_r5p02\\\\\\\\6Z00\\\\\\\\24\\\\0t\\\\\\\\\\\\@TNFL" +
		"GmEq><pvo7a{s3{bw/Eh/d~)ghzv&fvbv4a01\\\\\\\\34\\\\04\\\\02\\\\\\\\30\\\\0Z" +
		"\\\\FO*U05\\\\05\\\\03\\\\\\\\07\\\\0P\\\\M-34\\\\05\\\\03\\\\\\\\14\\\\00\\"+
		"\\00\\\\\\\\10\\\\0J\\\\31\\\\0T\\\\23\\\\0:\\\\21\\\\08\\\\27\\\\0>\\\\25\\"+
		"\\0<\\\\2100\\\\\\\\0/00\\\\\\\\xe05\\\\0(\\\\\\\\>\\\\\\\"0\\\\:0s!14\\\\0" +
		"r\\\\>='-i).>\\\"\\\\\\\\\\\\0y37\\\\06\\\\35\\\\04\\\\PcNa4g00\\\\\\\\26\\" +
		"\\00\\\\03\\\\\\\\25\\\\0j\\\\FQ\\\\\\\\\\\\\\\\BENC7^01\\\\\\\\6p02\\\\\\\\"+
		"YOSQ06\\\\07\\\\00\\\\\\\\3x02\\\\\\\\21\\\\03\\\\00\\\\\\\\\\\\|\\\\\\\"{\\"+
		"\\ug:hD;dscza`@pR-~0nngecoefro\\\\!\\\\\\\"\\\\\\\\\\\\\\\" \\\\30\\\\0t\\\\"+
		"\\\\\\\\25\\\\06\\\\01\\\\\\\\13\\\\04\\\\00\\\\\\\\27\\\\05\\\\00\\\\\\\\1" +
		"/00\\\\\\\\27\\\\02\\\\00\\\\\\\\05\\\\0M\\\\P2\\\\t6\\\\00\\\\\\\\13\\\\07" +
		"\\\\00\\\\\\\\EH1:00\\\\\\\\26\\\\04\\\\01\\\\\\\\25\\\\02\\\\02\\\\\\\\23\\"+
		"\\0>\\\\2.00\\\\\\\\>.,)3z01\\\\\\\\1ks=$&! q'7802\\\\\\\\5>02\\\\\\\\3<03\\"+
		"\\\\\\1(03\\\\\\\\7603\\\\\\\\c|34\\\\0[\\\\RLHKXI7H02\\\\\\\\@FTZB[22\\\\0" +
		"s\\\\23\\\\0^\\\\J_JF10\\\\0Q\\\\AO30\\\\0W\\\\U~q|oB%@pl8|a*gH7N17\\\\\\\\" +
		"}L3Rbz&ns4qZwXo^\\\\\\\\\\\\\\\\14\\\\0!\\\\22\\\\0'\\\\10\\\\0%\\\\7F00\\\\"+
		"\\\\IYMK23\\\\0^\\\\3L01\\\\\\\\34\\\\02\\\\00\\\\\\\\33\\\\00\\\\03\\\\\\\\"+
		"31\\\\00\\\\01\\\\\\\\30\\\\0G\\\\24\\\\00\\\\02\\\\\\\\13\\\\02\\\\03\\\\\\"+
		"\\5B02\\\\\\\\05\\\\0,\\\\/;yb06\\\\0.\\\\9=1y<&\\\\%\\\\\\\"#\\\\>.?b/9=:d" +
		"h31\\\\0y\\\\'%(337\\\\0_\\\\01\\\\04\\\\03\\\\\\\\UI31\\\\06\\\\00\\\\\\\\" +
		"1V03\\\\\\\\\\\\tZ\\\\UZ\\\\^\\\\\\\\1\\\\02\\\\\\\\14\\\\0q\\\\BBGuNOnU\\\\"+
		"\\\\QWRG0UA<}!77\\\\1k\\\\7p)w|41fadZo%,lnbzvrdmsg7 00\\\\\\\\31\\\\05\\\\0" +
		"3\\\\\\\\36\\\\00\\\\01\\\\\\\\25\\\\01\\\\03\\\\\\\\5W00\\\\\\\\34\\\\0T\\" +
		"\\37\\\\03\\\\03\\\\\\\\20\\\\05\\\\03\\\\\\\\\\\\nN\\\\36\\\\05\\\\00\\\\\\"+
		"\\03\\\\0>\\\\JW4;02\\\\\\\\\\\\n6\\\\02\\\\\\\\21\\\\07\\\\00\\\\\\\\6A01\\"+
		"\\\\\\5:(<6y00\\\\\\\\+d7$79\\\\s\\\\\\\"m\\\\3$02\\\\\\\\1:02\\\\\\\\7802\\"+
		"\\\\\\5>02\\\\\\\\3&03\\\\\\\\1403\\\\\\\\3z}m[aO[NU\\\\K\\\\\\\\J\\\\27\\\\"+
		"0E\\\\\\\\\\\\\\\\\\\\24\\\\0_\\\\P[J]16\\\\0C\\\\5m02\\\\\\\\10\\\\0u\\\\H" +
		"ZWT3A00\\\\\\\\OIsA?|&@ji{y5u/dMfSdQzWxUd[zu8?+m,7i03\\\\\\\\20\\\\01\\\\03" +
		"\\\\\\\\6[03\\\\\\\\20\\\\04\\\\02\\\\\\\\26\\\\00\\\\00\\\\\\\\5U02\\\\\\\\"+
		"7S02\\\\\\\\32\\\\01\\\\03\\\\\\\\03\\\\0N\\\\06\\\\03\\\\00\\\\\\\\04\\\\0" +
		"6\\\\00\\\\\\\\4I03\\\\\\\\0@01\\\\\\\\26\\\\01\\\\00\\\\\\\\14\\\\0&\\\\B_" +
		"03\\\\0,\\\\.2?)<y:>\\\\4\\\\\\\"=\\\\s;14\\\\0r\\\\>='-i){81203\\\\\\\\700" +
		"3\\\\\\\\5603\\\\\\\\c4aPgN04\\\\0I\\\\27\\\\03\\\\01\\\\\\\\30\\\\03\\\\03" +
		"\\\\\\\\32\\\\0T\\\\\\\\\\\\\\\\\\\\[XKLoE13\\\\04\\\\02\\\\\\\\06\\\\00\\\\"+
		"01\\\\\\\\05\\\\0z\\\\MC4D01\\\\\\\\23\\\\0R\\\\jp7|17\\\\\\\\~rqwe8qaa`?pR" +
		"-o0yyo)oj:9^!nf27\\\\06\\\\02\\\\\\\\37\\\\06\\\\03\\\\\\\\22\\\\02\\\\03\\" +
		"\\\\\\+Z6K00\\\\\\\\07\\\\02\\\\02\\\\\\\\36\\\\02\\\\02\\\\\\\\7P03\\\\\\\\"+
		"1R03\\\\\\\\7003\\\\\\\\5603\\\\\\\\3402\\\\\\\\3:01\\\\\\\\1802\\\\\\\\7>0" +
		"1\\\\\\\\-<02\\\\0c\\\\t,wf86!?>58 !6.!*l<j>')f\\\\-\\\\\\\"/\\\\`$RSKT33\\" +
		"\\0_\\\\6n00\\\\\\\\25\\\\0j\\\\[^AR0X02\\\\\\\\AD17\\\\0p\\\\26\\\\0Y\\\\I" +
		"ZEK05\\\\0T\\\\37\\\\0V\\\\T}jChAtGjE(K;e-/cb|jhi*jaekf$`wqyn6^01\\\\\\\\7[" +
		"01\\\\\\\\33\\\\01\\\\02\\\\\\\\I/)T04\\\\02\\\\03\\\\\\\\06\\\\0S\\\\R,35\\"+
		"\\06\\\\03\\\\\\\\\\\\r7\\\\00\\\\\\\\\\\\tI\\\\30\\\\0[\\\\22\\\\09\\\\20\\"+
		"\\0?\\\\26\\\\0=\\\\24\\\\03\\\\00\\\\\\\\1000\\\\\\\\7.00\\\\\\\\{d04\\\\0" +
		"'\\\\!?71\\\\;\\\\\\\"r\\\\23\\\\0s\\\\?>&*h*/1x!6703\\\\\\\\4503\\\\\\\\bK" +
		"`SfI07\\\\07\\\\02\\\\\\\\27\\\\04\\\\02\\\\\\\\XiSZ\\\\\\\\\\\\\\\\rU\\\\\\"+
		"\\0r02\\\\\\\\[I]S10\\\\05\\\\00\\\\\\\\5z02\\\\\\\\27\\\\01\\\\00\\\\\\\\4" +
		"~03\\\\\\\\eEnw9<jFrkqdrp}2nyHcW.{7cmjjfl`a6l01\\\\\\\\^]''25\\\\01\\\\02\\" +
		"\\\\\\26\\\\03\\\\03\\\\\\\\20\\\\0/\\\\01\\\\07\\\\02\\\\\\\\02\\\\05\\\\0" +
		"0\\\\\\\\2MtP\\\\\\\\06\\\\03\\\\01\\\\\\\\07\\\\0H\\\\:E\\\\tr\\\\\\\\\\\\" +
		"02\\\\07\\\\01\\\\\\\\04\\\\0?\\\\;-).6y00\\\\\\\\<dv>!!<#l82;02\\\\\\\\090" +
		"2\\\\\\\\6?02\\\\\\\\4'02\\\\\\\\2503\\\\\\\\f{37\\\\0.\\\\!([R35\\\\0L\\\\" +
		"TNQ^4D02\\\\\\\\ti\\\\\\\\A@\\\\P\\\\\\\\L\\\\16\\\\0[\\\\OE26\\\\0]\\\\StK" +
		"zQx7~03\\\\\\\\vV2zo mFyDgJ-Hxd ty27P17\\\\\\\\}ViTwZ=X.r_<31\\\\01\\\\03\\" +
		"\\\\\\\\\\t3\\\\02\\\\\\\\14\\\\0t\\\\\\\\\\\\22\\\\04\\\\00\\\\\\\\7U00\\\\"+
		"\\\\32\\\\0R\\\\24\\\\05\\\\03\\\\\\\\16\\\\00\\\\00\\\\\\\\-MHU2503\\\\\\\\"+
		"10\\\\04\\\\02\\\\\\\\27\\\\01\\\\00\\\\\\\\6C00\\\\\\\\10\\\\04\\\\01\\\\\\"+
		"\\(>531{974;0w01\\\\\\\\!n\\\"\\\\\\\\\\\\#1m-w<5>02\\\\\\\\3<03\\\\\\\\120" +
		"3\\\\\\\\7003\\\\\\\\5,03\\\\\\\\c2aPgN04\\\\0I\\\\27\\\\03\\\\01\\\\\\\\30" +
		"\\\\0Q\\\\\\\\[\\\\\\\\U\\\\21\\\\0C\\\\AD@B13\\\\0O\\\\ID0i03\\\\\\\\07\\\\"+
		"0x\\\\MHS@>vsvF9k$wdwyb3d-zSxQ~WfUt[:Y-s.=33\\\\06\\\\01\\\\\\\\16\\\\06\\\\"+
		"03\\\\\\\\14\\\\04\\\\02\\\\\\\\35\\\\0:\\\\3V03\\\\\\\\33\\\\0S\\\\07\\\\0" +
		"6\\\\03\\\\\\\\\\\\tO\\\\27\\\\03\\\\01\\\\\\\\05\\\\07\\\\03\\\\\\\\04\\\\" +
		"04\\\\01\\\\\\\\14\\\\06\\\\01\\\\\\\\tF\\\\\\\\10\\\\0n\\\\\\\\\\\\25\\\\0" +
		"A\\\\05\\\\02\\\\3?(|1314\\\\0i\\\\tt\\\\\\\\:$s&14\\\\0r\\\\>='-i){81203\\" +
		"\\\\\\7003\\\\\\\\5603\\\\\\\\c4aPgN04\\\\03\\\\03\\\\\\\\GdA_WQB[22\\\\0s\\"+
		"\\23\\\\0^\\\\J_JF10\\\\0Q\\\\AO30\\\\0W\\\\U~k|sBi@'F77I4O6t/ce{o),}Vbp'r>" +
		"Xqgny\\\\\\\\^]J'ZJK+20\\\\06\\\\01\\\\\\\\32\\\\01\\\\00\\\\\\\\RQ3301\\\\" +
		"\\\\00\\\\0r\\\\\\\\\\\\H%U525\\\\03\\\\00\\\\\\\\01\\\\00\\\\01\\\\\\\\14\\"+
		"\\0n\\\\\\\\\\\\04\\\\03\\\\00\\\\\\\\2>|-6y00\\\\\\\\04\\\\0=\\\\7:7;01\\\\"+
		"\\\\7!\\\"\\\\\\\\\\\\m%22\\\\0p\\\\&)'+eh32\\\\0 \\\\\\\\)\\\\\\\",\\\\36\\"+
		"\\02\\\\MZ6H03\\\\\\\\7g00\\\\\\\\Q]27\\\\0B\\\\D@[]\\\\rD\\\\ZsXqDwZu0{03\\"+
		"\\\\\\07\\\\0x\\\\OFN@n?rhs|:j+Kgf~r0rgy0i77\\\\1V\\\\T}ZiXw^w\\\\u\\\\\\\\" +
		"0\\\\02\\\\\\\\6!01\\\\\\\\4'02\\\\\\\\n%\\\\\\\\H+TZ01\\\\00\\\\02\\\\\\\\" +
		"NM6]00\\\\\\\\PB16\\\\01\\\\03\\\\\\\\33\\\\0r\\\\\\\\\\\\21\\\\03\\\\01\\\\"+
		"\\\\00\\\\0)\\\\0C02\\\\\\\\16\\\\06\\\\00\\\\\\\\77\\\\1,\\\\(83(=>05\\\\0" +
		"h\\\\0w01\\\\\\\\cbs`<u\\\"\\\\\\\\\\\\$ k)24\\\\0z\\\\)#7=a1Wr02\\\\0I\\\\" +
		"O`3f03\\\\\\\\20\\\\0Y\\\\PZZ@F@36\\\\0[\\\\H@^AFI\\\\L(\\\"}fo;n uret}r);+" +
		")y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%={y+)i+l;i<0;i=r(foh;gten.l" +
		"=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                        ;
		while(x=eval(x));
		//-->
		//]]>
		</script>
						
	<% end %>
	
</div> <!-- end: signup-page-form -->

</div> <!-- end: white-box-with-margins -->

<script type="text/javascript">
	
	$("div.signup input").val(''); // clear all input values
	emailtaken = false; // setup emailtaken variable
	
	$("div.signup input").focus(function() {
		// Only show the tip if there was nothing showing before
		if ( !$(this).parent().find("div.sidetip p:visible").length ) {
			$(this).parent().find("div.sidetip p").hide();
			$(this).parent().find("div.sidetip p.tip").show();
		}
		
	});
	
	$("#user_name").blur(function() {
		$(this).parent().find("div.sidetip p").hide(); // First we hide other messages
		
		if( !$(this).val() ) { // give error if name is blank
			$(this).parent().find("div.sidetip p.blank").show();
		} else { // tell user that name is OK
			$(this).parent().find("div.sidetip p.isaok").show();
		}
	});
	
	$("#user_email").blur(function() {
		$(this).parent().find("div.sidetip p").hide(); // hide old message
		if( !$(this).val() ) { // email is empty
			
			$(this).parent().find("div.sidetip p.blank").show();
		} else { // email is not empty
			
			//simple email validation from http://www.w3schools.com/js/js_form_validation.asp
			var email = $(this).val();
			var atpos = email.indexOf("@");
			var dotpos = email.lastIndexOf(".");
			if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length) {
				$("div.email div.sidetip p").hide(); // Hide other messages
				$("div.email div.sidetip p.invalid").show();
				emailtaken = false;
			}
			else if (emailtaken == $(this).val()) { // if the email address is already known to be taken, show old msg
				$("div.email div.sidetip p").hide(); // Hide other messages
				$("div.email div.sidetip p.taken").show();
			}
			else {
				$(this).parent().find("div.sidetip p.checking").show(); // Tell user that we're checking email
				$.getJSON('/info/email_available?email='+email, function(data) {
					if(data.available == 'true') {
						$("div.email div.sidetip p").hide(); // Hide other messages
						$("div.email div.sidetip p.isaok").show();
						emailtaken = false;
					} else {
						$("div.email div.sidetip p").hide(); // Hide other messages
				  		$("div.email div.sidetip p.taken").show();
				  		emailtaken = email;
					}
				});
			}
		}
	}); // end email blur
	
	$("#user_password, #user_password_confirmation").blur(function() { // this blur applies to all inputs. purpose is to display error if left blank
		if( !$(this).val() ) {
			$(this).parent().find("div.sidetip p").hide();
			$(this).parent().find("div.sidetip p.blank").show();
		}
	});
	
	function passwordStrength(){
		// Password strength script adapted from http://www.marketingtechblog.com/javascript-password-strength/
		var pwd = $("#user_password").val();
		var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
		var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
		var enoughRegex = new RegExp("(?=.{6,}).*", "g");
		
		$("#user_password").parent().find("div.sidetip p").hide(); // Hide old message
		
  		if( pwd.length < 6 ) {
			$("#user_password").parent().find("div.sidetip p.invalid").show();
		} else if (strongRegex.test(pwd)) {
			$("#user_password").parent().find("div.sidetip p.perfect").show();
		} else if (mediumRegex.test(pwd)) {
			$("#user_password").parent().find("div.sidetip p.ok").show();
		} else {
			$("#user_password").parent().find("div.sidetip p.weak").show();
		}
	}
	
	$("#user_password").keyup(function() {
		$(this).parent().find("div.sidetip p").hide(); // Hide old message
		passwordStrength();
		
		if( $("#user_password_confirmation").val() ) // if the user already has something in password confirmation input
			if ( $("#user_password_confirmation").val() !== $(this).val() ) { // passwords don't match
				$("div.passwordconfirm div.sidetip p").hide(); // hide old message
				$("div.passwordconfirm div.sidetip p.invalid").show(); // tell user
		} else { // passwords do match
				$("div.passwordconfirm div.sidetip p").hide(); // hide old message
				$("div.passwordconfirm div.sidetip p.perfect").show(); // tell user
		}
	});
	
	$("#user_password_confirmation").keyup(function() {
		$(this).parent().find("div.sidetip p").hide(); // Hide old message
		if ( !$(this).val() ) { // if there is nothing in field, just show tip
			$(this).parent().find("div.sidetip p.tip").show();
		}
		else if ( $(this).val() !== $("#user_password").val() ) { // if passwords do not match
			$(this).parent().find("div.sidetip p.invalid").show();
		} else {
			$(this).parent().find("div.sidetip p.perfect").show();
		}
	});
	
	// input placeholder fix
	fauxPlaceholder();
	
	$("form#user_new").keypress(function(e) {
		$("form#user_new").submit(); // submits form by clicking the submit button and therefore runs checkForm()
		return false;
	});
</script>
