<% page_title  I18n.t :signup, :scope => 'page_titles' %>

<div class="white-box-with-margins">
			
<div class="entry-form" id="signup-page-form">

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		<script type="text/javascript">
		//<![CDATA[
		<!--
		var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i>(122+y)" +
		")y*=2;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"\\"+
		"034\\016\\022\\036\\ninl#b-~.s\\177ky,d\\\"`-30?{y+o6u\\177u{iv3L\\034MO\\0" +
		"37RNNDL\\002S\\002NFNBr]WQtB\\037T\\026\\013\\010\\025\\034\\003\\013th976<" +
		"=?ct2p fs#k,12 6>\\177=p!&!;1-H\\010_\\017IT]\\016VTZP\\005@CF\\013\\036YN\\"+
		"014[\\025\\037\\031\\013;\\017T\\024W;\\177tk{ec|3{;ebzjni4-2pL\\010\\031^B" +
		"\\r\\004\\016\\033\\034\\006w\\016\\006\\021\\032\\024\\037\\007OTY\\036\\r" +
		"IaMeSabc\\034uss\\030\\031g\\005:\\025\\026x~}\\022\\023ebb\\017\\010\\002\\"+
		"035\\037\\017qohl\\001\\002jSQ>?QUV;4]Z[01\\\\\\\\@-.GEE*+8IIK !L02ZR)\\016" +
		"N\\\\^5?.b\\\"516RB\\nL0^ZJ'gN22ZR/\\014N\\\\^6>.b\\\"436RB\\002\\000757RB\\"+
		"016N0^Z!-\\nK87q>/\\016\\\"\\\\l12/\\037\\020o24>Bb\\027606RBJS2(\\\"<}^K32" +
		"ZR*h-_KN>-\\016\\\"\\\\g3>.b\\\"RDJN-\\014N\\\\^@J^\\1779106RB\\014L0^ZS]sJ" +
		"22ZR)\\016N\\\\^0>.b\\\"QzQpKB\\017BmF+rN\\002+`OnQB3bQ|_fi\\032Ux]6mS\\031" +
		"-?rR<b\\\"t^Z.+\\014N\\\\^ =/\\016\\\"\\\\&5>.b\\\"*15>BbV126RB\\020I32ZR2\\"+
		"013M0^Z<M\\010M0^ZzBb(WvZRVd$706RBL\\\"\\\\pZR.\\017N\\\\^2<.b\\\"<))&6\\nN" +
		"x;?2>\\014A#;/.B\\034\\\"\\\\-m!!\\037\\\"\\\"^Z+>\\010\\0356d(UIGL02ZR/\\r" +
		"N\\\\^`@CgO32ZREe$FR[SYu<DK0>.b\\\"[WEXO\\nO0^Z>.\\016\\\"\\\\\\1773=.b\\\"" +
		"yyiz%E[85~Gxq\\002M`U>)\\tO\\\\^h9*VY;;gxrK\\014s55>Bb\\014\\\\^ZRBb\\n\\\\" +
		"^1?.b\\\"606RB\\017N0^ZY,\\016N\\\\^4=.b\\\"306RB\\017N0^Z;-\\016\\\"\\\\5H" +
		"C,\\014M0^ZzBbK02ZR[L\\\"\\\\05>BbN12ZR/\\014N\\\\^0<.b\\\"706RB\\014N0^Z<," +
		"\\016\\\"\\\\L5<.b\\\"-9('jFK02ZR{\\017M'>u=sN\\021 34>Bb@706RB\\032K22ZR$\\"+
		"rM0^Z&/\\rN\\\\^09-\\016\\\"\\\\~5R<b\\\"326RB\\016N0^ZRBb\\\"306RB\\tN0^ZZ" +
		"N\\016M0^ZWOb\\\"\\\\^a|BbN22ZRs`8qAMLG\\010N0^ZUK}(Q67>BbN02ZRc\\013M0^Zwe" +
		"Q\\n;y#6)\\\\7`M`C`m\\002Q0/Xd]\\027ok/}i\\022\\020116RB\\nL0^Z9/\\016\\\"\\"+
		"\\[ J-\\017N\\\\^2>.b\\\"706RB\\017M0^Z9,\\016\\\"\\\\Q2>.b\\\"016RB\\nL0^Z" +
		"],\\rN\\\\^7>-\\016\\\"\\\\52>.b\\\"505>BbE206RB\\007\\020\\\\^9>,\\016\\\"" +
		"\\\\?X~`\\021@g63>.b\\\"*17>BbFt^Z()\\017N\\\\^j)'\\025\\037q:1<.b\\\">74>B" +
		"bX316RB\\nO32ZRd\\021In~MlW^1fUbKt\\rO0^ZSA\\013M0^Z|Bb:sXwVi`\\013FyRwN\\t" +
		"I1^ZXcj=jCnIp{Xa51?Bb\\017;-5z`^\\024-k\\177#bY\\000&cllB\\034\\\"\\\\fk9,\\"+
		"016\\\"\\\\vZRBb\\\"\\\\45>BbN12ZR(\\014N\\\\^3<.b\\\"W14>BbM32ZR%s.-@1=.b\\"+
		"\"726RB\\017M0^Z>.\\016\\\"\\\\66>BbK02ZR+\\rN\\\\^L5E\\010L0^Z9,\\016\\\"\\"+
		"\\06>BbH12ZR,\\016N\\\\^F')\\007\\036/46>BbS426RB\\035\\020\\\\^'>/\\016\\\""+
		"\\\\%0?.b\\\"?67>BbC206RBM\\020706RB\\032X!1!&(\\024Z/-ZRBb\\037YLRCTu(Fh@X" +
		"_zL22ZRm\\rL0^ZG[\\rO0^Z>/\\016\\\"\\\\wsGWr.BMUGgN\\014757RBz\\000kufkxK\\" +
		"035Iasre\\021.6mbgw\\030YXev`iL\\\"\\\\47>BbK32ZR5dJ22ZRpb\\\"616RB\\016L0^" +
		"Z=-\\016\\\"\\\\15>BbNP/K;-\\016\\\"\\\\17>Bb\\n\\\\^6>.b\\\"426RB\\014N0^Z" +
		":/\\016\\\"\\\\17>BbH02ZRpb\\\"506RBz?>SUs,\\016N\\\\^f7?\\rTxwhRB\\017X<'Z" +
		",Bb].<i>,\\016\\\"\\\\t)7/\\r\\030135\\\"6B5bKfAxs\\032Ch]f_PI12ZRBb\\\"\\\\"+
		"HJB^\\nN0^Z8,\\016\\\"\\\\O\\\\FOh)Bp7>.b\\\"MoqulJ''8MvdC\\031s~dhv]\\035h" +
		"WktvO\\010w`tPl\\rM0^Z8/\\016\\\"\\\\vZRG\\030:n^Z>-\\016\\\"\\\\24>Bb+016R" +
		"B\\010L0^Z>,\\016\\\"\\\\24>BbJ32ZRM\\014M0^Z?.\\rN\\\\^18-\\016\\\"\\\\72=" +
		".b\\\";04>BbGn^Z1.\\014N\\\\^;P(\\014\\037(56>BbP526RB\\022M12ZRB\\034\\\"\\"+
		"\\vZR$\\tO0^Z.lb\\\"n$Z,Bb\\034p=0<.b\\\"=64>BbM216RB\\017N32ZR3\\010M0^Z=*" +
		"\\rN\\\\^MlW^1fObMt\\rO0^ZLDhH32ZR*\\017N\\\\^7>.b\\\"@@CQDn$DJF:.\\016\\\"" +
		"\\\\GK?.\\016\\\"\\\\N|ffNEnh{9)\\017\\\"\\\\szr-I\\007d-mpg\\025\\021^*/z~" +
		"X\\020gnc:/\\016\\\"\\\\_6<.b\\\"706RBcJ12ZR)\\014N\\\\^0?.b\\\"V24>BbL32ZR" +
		"*\\rN\\\\^T:,\\016\\\"\\\\16>BbDPM6W,\\rN\\\\^6>.b\\\"416RB\\rO0^ZzBb\\020\\"+
		"\\^6<.b\\\"A<ZRBbM22ZR2\\001O?y*>\\\"U\\\"\\\"^ZzBb^736RB\\030\\014\\\\^\\\""+
		"=,\\016\\\"\\\\87<.b\\\"\\\\ ZR)\\014N\\\\^>;,\\016\\\"\\\\tc<-\\016\\\"\\\\"+
		"#0\\\"+\\014M^Ld@@w2216RBUM12ZROcM22ZR.\\014N\\\\^kcUb\\\"\\\\^DUFg6X~RNIhN" +
		"02ZRc\\013M0^ZtmB\\014;:Cr{G\\034gbuO,mM757RBW\\021fdfl{Z\\026s^$RB\\035\\\""+
		"\\\\^Z@P`YG65>BbL02ZR(\\rN\\\\^3>.b\\\"UT)8,\\016\\\"\\\\16>BbI32ZR.\\rN\\\\"+
		"^3=.b\\\"616RBL\\\"\\\\15>Bb65W4>.b\\\"606RB\\nM0^Z>,\\016\\\"\\\\A0<.b\\\"" +
		"406RB\\016L0^Z?)_V726RB\\020K02ZR2\\rO0^ZR<b\\\"t^Z.)\\017N\\\\^:|Bb\\\"\\\""+
		"^Z=,\\016\\\"\\\\r''7\\025[gyZ,BbI+67<?QN02ZR)\\rN\\\\^fQVh1DGRJr~*CX2?.b\\" +
		"\"q34>Bb'EM6?.b\\\"KAAKQ\\010M0^Z[bU<iBiHsz\\007JeN#eCR{P\\177^)\\tO\\\\^Ps" +
		"JW$wZ;es\\021<t^Z.)\\017N\\\\^ |BbZ326RB\\024M32ZR6\\017N0^Z +\\016N\\\\^*=" +
		"-\\016\\\"\\\\07=.b\\\"055>BbH516RB\\n'006RB\\nO0^Z>.\\016\\\"\\\\NXA*\\017" +
		"N\\\\^01.\\007\\005447-)\\035C'36~4\\030Gl/#g/\\013]3/));^$LJI[A\\017M0^ZY]" +
		"\\010L0^ZPEb\\\"\\\\^V?,\\016\\\"\\\\AZRBb5_JIEjb\\\"DLAF_\\rN0^Z^Jq\\030>p" +
		"n5iH\\0059q`hhZ\\002u`Hm{X\\020h*!|GN!v_rR<b\\\"t^Z.)\\017N\\\\^ |BbZ326RB\\"+
		"024O02ZR6\\tN0^Z )\\rN\\\\^*;-\\016\\\"\\\\0hRB\\014N0^Z<.\\016\\\"\\\\47>B" +
		"b\\014\\\\^rRByL02ZR-\\017N\\\\^7>.b\\\"636RB\\tO0^Z8/\\016\\\"\\\\16>BbD,\\"+
		"177#9,\\000O?t6=.\\016\\\"\\\\qzR<b\\\"#(:'6\\024\\024%# %>ZN++29-\\016\\\"" +
		"\\\\HZRBbJ32ZRIm&UP0<.b\\\"[Y\\\\HNx8ZLK=/\\016\\\"\\\\FN>/\\016\\\"\\\\@VB" +
		"_~9S26>Bb\\rrvm5qH?7:jv)\\tO\\\\^aykC\\021n.~m\\177BYmdge_\\001\\\"\\\"^ZR<" +
		"b\\\"O67>BbL22ZR(\\017N\\\\^3<.b\\\"706RB\\016M0^Z<.\\016\\\"\\\\U.@/\\016N" +
		"\\\\^4>.b\\\"106RB\\rN0^Z|Bb3216RB\\014N0^Z8/\\016\\\"\\\\W2=.b\\\";04>BbG0" +
		"06RB\\001H22ZR#\\nL0^Z=.\\016\\\"\\\\27>.b\\\".56>Bb\\032{66>BbE?6?8lb\\\"#" +
		"7:5q\\016L0^Zx0\\036\\026e05>BbN32ZR6\\024],'bBFq0016RB[K02ZRLe*Z14>BbN22ZR" +
		"s}\\\"\\\\^ZEAv1KvZRZp9Hc7>.b\\\"~65>Bb,zxw}m\\tI1^ZtgE\\03054IR<b\\\"\\\\ " +
		"ZR,mMhtdw7\\024%jnc`y\\035\\\"\\\\^ZM.\\rN\\\\^2?.b\\\"226RB\\010O0^ZW*\\01" +
		"7N\\\\^4>.b\\\"626RB\\rM0^Z;-\\016\\\"\\\\M0>.b\\\"-66>BbM216RB\\017N32ZR)\\"+
		"010M0^Z;(\\016N\\\\^=:,\\016\\\"\\\\;\\\\9/\\016\\\"\\\\56>BbM02ZR/\\016N\\" +
		"\\^5\\177\\177\\016L;63=.b\\\"ivrRB\\006D3>3>,\\016\\\"\\\\>.1 VK22ZRk\\013" +
		"W#f))=\\037-226RBw\\036OdKj]T?h_hMr\\017L0^ZI_\\016L0^ZQhc\\nSxWvS@-|#q\\17" +
		"7-\\031\\020EnMlW^1|Od]do\\006W|SrEL':oe\\177mo?B[ =/\\016\\\"\\\\54>BbK02Z" +
		"R*\\016N\\\\^6<.b\\\"V-I;,\\016\\\"\\\\35>Bb1026RB\\nO0^Z:-\\016\\\"\\\\25>" +
		"Bb(516RB\\nM22ZR$\\017L0^Z6)\\014N\\\\^8;,\\016\\\"\\\\>7<.\\016\\\"\\\\-6>" +
		".b\\\"e.62fT\\0051\\\"&:8b\\\\\\\\^->.\\016\\\"\\\\n#+w\\003V?g;+5\\013PZXR" +
		":-\\016\\\"\\\\UP^Q\\tL0^Z]Fk#206RB|'Gx5<.b\\\"636RBIN32ZRG\\177-JHMY.\\016" +
		"N\\\\^{;-\\016\\\"\\\\nkrnFDosu$\\177v\\031NgJuLG.eT}Z'\\032'&]9jk\\014L0^Z" +
		":-\\016\\\"\\\\lZREf[516RB\\014M0^Z9,\\016\\\"\\\\15>Bb*126RB\\tN0^Z8-\\016" +
		"\\\"\\\\+K<N\\010M0^Z8/\\016\\\"\\\\47>BbK02ZR)\\016N\\\\^1?.b\\\"326RB\\01" +
		"0N0^Z;.\\016\\\"\\\\57>BbL22ZR_|M02ZRpP\\000726RBYB\\\\ ZR \\033\\013v57>Bb" +
		"I12ZR*\\003P 44>Bb@.;:d-\\rN\\\\^}.7b\\\\\\\\^*o|]%P_SkUc:C54>Bb\\026636RBh" +
		"&006RBL\\\"\\\\p_ZP`M12ZRj\\014M0^ZMKc)226RBk+orr.qx\\023DaLoVY0757RBr\\003" +
		"R1f`vV\\032(8fg|rA\\\\ ZRB\\034\\\"\\\\25>BbO22ZR,\\rN\\\\^2<.b\\\"&lZR,\\0" +
		"14N\\\\^3>.b\\\"026RBhQO16>BbI32ZRjb\\\"N36>Bb\\n\\\\^rRB\\rO0^Z;.\\016\\\"" +
		"\\\\V5<.b\\\":34>BbF706RB\\000K22ZR\\\"\\025L02ZR-\\016N0^Z'(\\016N\\\\^a?%" +
		"T_036RB\\031H12ZR;\\nO0^Z5,\\014N\\\\^%>,\\016\\\"\\\\;0<.b\\\"w&4t/\\016M0" +
		"^Z9(\\rN\\\\^3:-\\016\\\"\\\\SdA~k\\030KfEd_V9n]jSl}\\016Yt1<.b\\\"216RBq\\" +
		"n\\\\^7=.b\\\"ARVJH\\nN0^Z|BbTF54>BbM12ZR+\\016N\\\\^D=,\\016\\\"\\\\76>BbU" +
		"-6=0.\\017N\\\\^ad!T_036RB\\031H12ZR;\\nO0^Z/,\\014N\\\\^9>,\\016\\\"\\\\w:" +
		".2E\\032m())+\\0273I14>Bb6U]RCJg/\\\\ .hc\\005\\021 lt{j[\\014}9/'5\\025\\0" +
		"07(\\\\/g6J?efiMl_\\026c,~&{Z\\021Cpgf]S\\021rd(ipW\\014tQ;%q\\005I23;+g\\0" +
		"05\\027=)\\177'-\\013C=k.hwEW+)o5r\\002\\027;2;g6L\\021f9nzyP\\033l,~3r\\02" +
		"2\\\"\\\"^$3q\\022\\027 pgxe\\027\\007,z.h>P\\021ive`kX\\\\)\",122)"         ;
		while(x=eval(x));
		//-->
		//]]>
		</script>
		
						
	<% end %>
	
</div> <!-- end: signup-page-form -->


</div> <!-- end: white-box-with-margins -->

<script type="text/javascript">
	// select all desired input fields and attach tooltips to them 
	$("#user_new :input").tooltip({ 
	    // place tooltip on the right edge 
	    position: ['center', 'right'], 	 
	    // a little tweaking of the position 
	    offset: [-2, 70], 
	    // use a simple show/hide effect 
	    effect: 'toggle', 
	    // custom opacity setting 
	    opacity: 0.7, 
		//tooltip style
		tipClass: 'tooltip2'
	});
</script>
