<% page_title  I18n.t :signup, :scope => 'page_titles' %>

<div class="white-box-with-margins">
			
<div class="signupform" id="signup-page-form">
	<script type="text/javascript">
		formSubmitted = false; // setup global variable
		
		checkForm = function(){
			var isFormValid = true;
			var emptyFields = false;
			var invalidFields = false;
		
			$("div.signup input").each(function(){
				if ($.trim($(this).val()).length == 0){
					$(this).addClass("hilite");
					isFormValid = false;
					emptyFields = true;
				} else if ( $(this).parent().find("div.sidetip p.error:visible").length ) {
					$(this).addClass("hilite");
					isFormValid = false;
					invalidFields = true;
				} else {
					$(this).removeClass("hilite");
				}
			});
		
			if (!isFormValid) {
				if (emptyFields && invalidFields) {
					alert("Please complete any empty fields and correct any invalid fields.")
				} else if (emptyFields) {
					alert("Please complete any empty fields.")
				} else if (invalidFields) {
					alert("Please correct any invalid fields.")
				}
			} else if (formSubmitted) { // form passes previous validation but has already been submitted
				isFormValid = false;
			} else { // The form is OK! We update global formSubmitted variable.
				formSubmitted = true;
			}
			
			return isFormValid;
		}
	</script>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			
		<script type="text/javascript">
		//<![CDATA[
		<!--
		var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
		"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
		" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!88{)rt{y+xx=l;=+;" +
		"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
		"\"(7),6\\\"\\\\;7 19*%)av?>7v02\\\\\\\\31\\\\0S\\\\DGXV05\\\\04\\\\02\\\\\\" +
		"\\JI22\\\\0]\\\\OM34\\\\00\\\\00\\\\\\\\02\\\\05\\\\00\\\\\\\\37\\\\0t\\\\\\"+
		"\\\\\\34\\\\02\\\\03\\\\\\\\23\\\\05\\\\02\\\\\\\\13\\\\0r\\\\\\\\\\\\4C01\\"+
		"\\\\\\16\\\\0t\\\\\\\\\\\\?+.0<277v4\\\\0\\\\\\\":\\\\27=59n%k .14\\\\0y\\\\"+
		"1d03\\\\\\\\&3n,P.IWV]PHY^VY33\\\\0@\\\\T@ZC01\\\\07\\\\01\\\\\\\\6p02\\\\\\"+
		"\\LLOZ06\\\\0D\\\\30\\\\05\\\\03\\\\\\\\\\\\r1\\\\00\\\\\\\\}R\\\"\\\\\\\\\\"+
		"\\}#&4|&yegbs`0a{}ub~+ofiu:C^!ev20\\\\0R\\\\30\\\\0t\\\\\\\\\\\\25\\\\06\\\\"+
		"01\\\\\\\\13\\\\04\\\\00\\\\\\\\27\\\\05\\\\00\\\\\\\\0[00\\\\\\\\00\\\\04\\"+
		"\\02\\\\\\\\03\\\\02\\\\03\\\\\\\\OAV014\\\\04\\\\01\\\\\\\\32\\\\07\\\\01\\"+
		"\\\\\\4F00\\\\\\\\]XAM22\\\\0=\\\\cbt=7fw1280=00\\\\\\\\sl14\\\\0!\\\\2'02\\"+
		"\\\\\\\\\"\\\\\\\\\\\\#,g:447 m64c03\\\\\\\\02\\\\0X\\\\NX2S03\\\\\\\\4X00\\"+
		"\\\\\\\\\\t4\\\\02\\\\\\\\Gi\\\\X\\\\\\\\X\\\\\\\\\\\\\\\\\\\\02\\\\0^\\\\1" +
		"X00\\\\\\\\ME[@05\\\\0z\\\\30\\\\0W\\\\CPCMh?xt$'86tez)`OdM0Se{%o65&(X'^!e<" +
		"13\\\\01\\\\02\\\\\\\\35\\\\0r\\\\\\\\\\\\[Z3$00\\\\\\\\37\\\\00\\\\03\\\\\\"+
		"\\26\\\\06\\\\00\\\\\\\\01\\\\0S\\\\R,13\\\\05\\\\03\\\\\\\\25\\\\07\\\\03\\"+
		"\\\\\\KJ3402\\\\\\\\17\\\\00\\\\01\\\\\\\\\\\\t4\\\\01\\\\\\\\01\\\\0C\\\\b" +
		"<0;5={z04\\\\0#\\\\8?&6s!14\\\\0r\\\\$*il26\\\\0'\\\\3'02n&(6]-NK36\\\\0g\\" +
		"\\07\\\\0J\\\\VKVZ24\\\\0G\\\\AGF^22\\\\03\\\\02\\\\\\\\BZ5N02\\\\\\\\\\\\\\"+
		"\\\\\\\\\\R{Jy77\\\\1P\\\\T}jCrAhG&E7a17\\\\\\\\;qf/dM`S~Q4W77\\\\1a\\\\)cp" +
		"9v_t]\\\"\\\\\\\\\\\\23\\\\0 \\\\\\\\t&\\\\0G01\\\\\\\\JX7T03\\\\\\\\35\\\\" +
		"03\\\\02\\\\\\\\35\\\\02\\\\02\\\\\\\\3O01\\\\\\\\17\\\\0L\\\\37\\\\05\\\\0" +
		"0\\\\\\\\07\\\\06\\\\00\\\\\\\\06\\\\05\\\\00\\\\\\\\nE\\\\\\\\14\\\\03\\\\" +
		"01\\\\\\\\25\\\\01\\\\00\\\\\\\\,2:455x:$3#:! 0000\\\\\\\\lq21\\\\0>\\\\8$-" +
		";-g%+ /4c03\\\\\\\\02\\\\0M\\\\]NYW31\\\\0H\\\\13\\\\0B\\\\@iFoDm@s^q4w02\\" +
		"\\\\\\7Y00\\\\\\\\33\\\\00\\\\01\\\\\\\\GMCW0L00\\\\\\\\qk<s~tk9dscza`@p,1~" +
		"Qxdm{b'hltbio\\\\\\\\\\\\\\\\A!10\\\\0t\\\\\\\\\\\\30\\\\04\\\\02\\\\\\\\24" +
		"\\\\0V\\\\05\\\\0H\\\\07\\\\0.\\\\05\\\\0,\\\\33\\\\02\\\\31\\\\00\\\\05\\\\"+
		"06\\\\33\\\\04\\\\6Y02\\\\\\\\XJnM\\\\\\\\02\\\\04\\\\02\\\\\\\\3>/}(?/6%$4" +
		"400\\\\\\\\pm\\\\r;\\\\/ %>>k-*4!4 6a03\\\\\\\\3|_L_Q33\\\\0J\\\\05\\\\0L\\" +
		"\\Bk@iFo^m\\\\s\\\\\\\\q\\\\wXu^\\\\\\\\\\\\\\\\R{Jy77\\\\1P\\\\6}03\\\\\\\\"+
		"1o=!t~|vs73g}f0h`k,lgn|`c'kw\\\\n\\\\\\\"d\\\\1n^Cn'\\\\\\\\20\\\\04\\\\01\\"+
		"\\\\\\*U7H00\\\\\\\\00\\\\03\\\\02\\\\\\\\35\\\\03\\\\02\\\\\\\\6O03\\\\\\\\"+
		"0Q03\\\\\\\\6703\\\\\\\\4503\\\\\\\\2;02\\\\\\\\n9\\\\\\\\0?02\\\\\\\\^=2}0" +
		"0\\\\\\\\5-?/1=t$\\\\ti\\\\! <0n,%;v/4=02\\\\\\\\2303\\\\\\\\0103\\\\\\\\6-" +
		"03\\\\\\\\4303\\\\\\\\01\\\\01\\\\02\\\\\\\\35\\\\06\\\\03\\\\\\\\^gWKE@UF0" +
		"C02\\\\\\\\rm\\\\\\\\^JXT13\\\\00\\\\01\\\\\\\\0u03\\\\\\\\24\\\\04\\\\00\\" +
		"\\\\\\1y03\\\\\\\\XFSH<?xAuiknwd4E`~vxaa.N7Wm{jcljafl`16\\\\0]\\\\'^7'02\\\\"+
		"\\\\27\\\\06\\\\03\\\\\\\\02\\\\04\\\\02\\\\\\\\31\\\\01\\\\00\\\\\\\\33\\\\"+
		"07\\\\02\\\\\\\\36\\\\00\\\\00\\\\\\\\\\\\r2\\\\10\\\\01\\\\03\\\\\\\\05\\\\"+
		"06\\\\03\\\\\\\\33\\\\04\\\\02\\\\\\\\07\\\\05\\\\02\\\\\\\\1?02\\\\\\\\07\\"+
		"\\02\\\\02\\\\\\\\25\\\\0}\\\\02\\\\0`\\\\697;ux\\\\n;\\\\:;0&==+'\\\"\\\\\\"+
		"\\\\\\)$26\\\\0,\\\\)572#07103\\\\\\\\[MIN31\\\\0f\\\\04\\\\0\\\\\\\\\\\\\\" +
		"\\^\\\\26\\\\0A\\\\CA\\\\\\\\\\\\\\\\4X01\\\\\\\\r[pYv_tGzU33\\\\06\\\\00\\" +
		"\\\\\\77\\\\1O\\\\ISpy7r17\\\\\\\\77\\\\1h\\\\oveddtb3~dgh.~7W{zjf$fku<e\\\\"+
		"n!\\\\10\\\\0'\\\\24\\\\0%\\\\\\\\n+\\\\3H00\\\\\\\\35\\\\07\\\\02\\\\\\\\M" +
		"]04\\\\03\\\\32\\\\01\\\\02\\\\07\\\\30\\\\05\\\\1V02\\\\\\\\17\\\\01\\\\00" +
		"\\\\\\\\_K26\\\\0=\\\\24\\\\03\\\\00\\\\\\\\1*00\\\\\\\\7200\\\\\\\\5(00\\\\"+
		"\\\\'fiy8u0<-<(nk.&>)&&''d.0L7\\\\M\\\\\\\\l\\\\05\\\\00\\\\03\\\\\\\\JeDXQ" +
		"G23\\\\0Y\\\\Q_LC17\\\\0p\\\\26\\\\0Y\\\\IZEK05\\\\0T\\\\37\\\\0V\\\\T}jChA" +
		"tGjE(K;e</bbzjmnkyka0'p%cpldt^\\\\\\\\35\\\\0[\\\\37\\\\03\\\\03\\\\\\\\3X0" +
		"0\\\\\\\\05\\\\00\\\\00\\\\\\\\31\\\\0S\\\\26\\\\03\\\\00\\\\\\\\37\\\\00\\" +
		"\\03\\\\\\\\35\\\\06\\\\03\\\\\\\\\\\\r;\\\\KT5402\\\\\\\\\\\\t7\\\\02\\\\\\"+
		"\\26\\\\06\\\\00\\\\\\\\5B00\\\\\\\\\\\\t3\\\\+?225x00\\\\\\\\$e4%08!r;l22\\"+
		"\\09\\\\20\\\\0?\\\\26\\\\0=\\\\24\\\\0)\\\\32\\\\07\\\\30\\\\0}\\\\n21|02\\"+
		"\\\\\\O[XIJ_30\\\\0R\\\\ZD3Y02\\\\\\\\SW20\\\\0K\\\\XBHC\\\\nM\\\\HZVQBW7r0" +
		"3\\\\\\\\02\\\\0C\\\\ruh}9svsbsO6b/ncnb{,}6sTqZwXo^\\\\\\\\\\\\\\\\14\\\\0!" +
		"\\\\3B01\\\\\\\\EU6V01\\\\\\\\27\\\\06\\\\03\\\\\\\\33\\\\0S\\\\01\\\\00\\\\"+
		"03\\\\\\\\3P01\\\\\\\\34\\\\02\\\\00\\\\\\\\33\\\\00\\\\03\\\\\\\\31\\\\00\\"+
		"\\01\\\\\\\\Y89D17\\\\04\\\\01\\\\\\\\03\\\\02\\\\02\\\\\\\\\\\\t7\\\\17\\\\"+
		"\\\\257~00\\\\\\\\*g6+6:#t%n14\\\\0;\\\\22\\\\09\\\\20\\\\0?\\\\26\\\\0'\\\\"+
		"24\\\\05\\\\32\\\\0{\\\\l4`~\\\\4\\\\\\\\[\\\\N[J^31\\\\0K\\\\6^02\\\\\\\\F" +
		"Q\\\\\\\\\\\\\\\\BENC3~02\\\\\\\\16\\\\0w\\\\FATI5O00\\\\\\\\@PGGzR?n&@ji{y" +
		"5u/dMfSdQzWxUd[zYr_p]v\\\\t\\\\\\\"3\\\\02\\\\\\\\t \\\\\\\\G&10\\\\0X\\\\[" +
		"J06\\\\06\\\\02\\\\\\\\20\\\\04\\\\03\\\\\\\\25\\\\02\\\\00\\\\\\\\13\\\\07" +
		"\\\\03\\\\\\\\7L00\\\\\\\\06\\\\0N\\\\35\\\\00\\\\01\\\\\\\\37\\\\0E\\\\01\\"+
		"\\0r\\\\\\\\\\\\\\\\rA\\\\05\\\\0,\\\\13\\\\0}\\\\>}6(w5:$ t4 ,$?/#-i)y~1d0" +
		"3\\\\\\\\*4c634\\\\02\\\\00\\\\\\\\NMW]1Y03\\\\\\\\3H01\\\\\\\\iBo@mFsDq@w^" +
		"24\\\\03\\\\01\\\\\\\\WtQOGARK02\\\\0C\\\\n#zozva877\\\\1q\\\\g(eN{LcRyP7V'" +
		"'Y$q`vmrs\\\\\\\\34\\\\04\\\\01\\\\\\\\&Y5D03\\\\\\\\07\\\\07\\\\01\\\\\\\\" +
		"01\\\\0T\\\\.QCA2MtP\\\\\\\\21\\\\03\\\\00\\\\\\\\32\\\\0H\\\\:E01\\\\06\\\\"+
		"02\\\\\\\\14\\\\05\\\\02\\\\\\\\22\\\\03\\\\02\\\\\\\\6>01\\\\\\\\77\\\\10\\"+
		"\\00\\\\\\\\(f<<9;1=30 =lo21\\\\01\\\\02\\\\\\\\8/?&544$30\\\\00\\\\3$4J03\\"+
		"\\\\\\1a00\\\\\\\\W^VX27\\\\04\\\\02\\\\\\\\Pi]ACF\\\\\\\\\\\\\\\\]OYsZO5]0" +
		"0\\\\\\\\0z03\\\\\\\\J@02\\\\0U\\\\oUtpo mFcD{JaH/NS27j17\\\\\\\\|czywiu&mq" +
		"he\\\\s\\\\\\\\!\\\\0A01\\\\\\\\\\\\t0\\\\03\\\\\\\\24\\\\04\\\\02\\\\\\\\3" +
		"V00\\\\\\\\35\\\\07\\\\02\\\\\\\\5N00\\\\\\\\3,03\\\\\\\\3200\\\\\\\\1003\\" +
		"\\\\\\W636\\\\06\\\\01\\\\\\\\02\\\\0J\\\\7X02\\\\\\\\5>02\\\\\\\\1<02\\\\0" +
		"/\\\\00\\\\0e\\\\0,x<!j10\\\\0'\\\\16\\\\0%\\\\14\\\\0!\\\\22\\\\0?\\\\20\\" +
		"\\0u\\\\f:xt$x7k17\\\\\\\\3&H/NMK]32\\\\0K\\\\XM5O02\\\\\\\\V@TA1B02\\\\\\\\"+
		"14\\\\0q\\\\N[6D00\\\\\\\\ULRIPWQC17\\\\0l\\\\xlno;5*Dpp{fp2/,b|5,&ki4book#" +
		"<\\\\\\\\\\\\\\\\20\\\\04\\\\02\\\\\\\\5#02\\\\\\\\35\\\\00\\\\02\\\\\\\\13" +
		"\\\\0X\\\\05\\\\07\\\\00\\\\\\\\21\\\\00\\\\00\\\\\\\\07\\\\0^\\\\3R3S01\\\\"+
		"\\\\\\\\t1\\\\03\\\\\\\\02\\\\0I\\\\\\\\t[\\\\nF\\\\\\\\20\\\\0C\\\\26\\\\0" +
		"7\\\\01\\\\\\\\01\\\\00\\\\01\\\\\\\\s~>8<($,2?!1(r.4?+* :jg!,*.%a'V3iV02\\" +
		"\\01\\\\03\\\\\\\\KfEWPD24\\\\0]\\\\ZW[Q14\\\\0q\\\\21\\\\0X\\\\HYDD06\\\\0" +
		"U\\\\30\\\\0W\\\\U~k|iBu@kF)D:f2(tvfb|{yiz*'aljne!g?n^C0'01\\\\\\\\26\\\\0n" +
		"\\\\\\\\\\\\05\\\\03\\\\02\\\\\\\\7U03\\\\\\\\35\\\\03\\\\02\\\\\\\\35\\\\0" +
		"2\\\\02\\\\\\\\2M7P03\\\\\\\\30\\\\03\\\\01\\\\\\\\05\\\\03\\\\01\\\\\\\\6G" +
		"02\\\\\\\\0Y02\\\\\\\\6?02\\\\\\\\4=02\\\\\\\\03\\\\0*\\\\01\\\\02\\\\07\\\\"+
		"0(\\\\05\\\\0f\\\\y'zi;?=0n*%)+'h?f&/ .*+aQP4Q03\\\\\\\\5O03\\\\\\\\KWYRnq\\"+
		"\\\\\\21\\\\0n\\\\_C\\\\]\\\\\\\\H\\\\14\\\\0O\\\\ECQILH06\\\\07\\\\17\\\\\\"+
		"\\37\\\\0R\\\\~S~rk<m&cDaJgH7N17\\\\\\\\}L3R$|'6)&kahmda=hB]ZT$[21\\\\07\\\\"+
		"03\\\\\\\\22\\\\0Z\\\\0A00\\\\\\\\36\\\\04\\\\00\\\\\\\\16\\\\0r\\\\\\\\\\\\"+
		"04\\\\00\\\\01\\\\\\\\05\\\\03\\\\00\\\\\\\\3F03\\\\\\\\23\\\\03\\\\00\\\\\\"+
		"\\26\\\\07\\\\02\\\\\\\\02\\\\0M\\\\<C=b//={14hk0w01\\\\\\\\<4;8+,/%6i02\\\\"+
		"\\\\;t'4')2c4}JcHaNgVeDkni\\\\\\\\5C03\\\\\\\\\\\\r6\\\\03\\\\\\\\AAXDGJA[H" +
		"AGJ03\\\\0C\\\\01\\\\0U\\\\gpp={r}tz7}y2dGt,1gQkdazm'&j?_sr37\\\\01\\\\02\\" +
		"\\\\\\37\\\\0[\\\\\\\\nE\\\\14\\\\0+\\\\02\\\\0)\\\\00\\\\0/\\\\06\\\\0-\\\\"+
		"36\\\\03\\\\34\\\\01\\\\3R03\\\\\\\\UE4W02\\\\\\\\25\\\\00\\\\00\\\\\\\\26\\"+
		"\\07\\\\00\\\\\\\\06\\\\00\\\\00\\\\\\\\3@<7>1+z8-u/t'0&0803\\\\\\\\op20\\\\"+
		"0;\\\\=#3j03\\\\\\\\6{\\\\7\\\\\\\".\\\\\\\"\\\\\\\\\\\\O`02\\\\0I\\\\O`MfC" +
		"d[jAh7n01\\\\\\\\22\\\\0s\\\\D^NX@N5[00\\\\\\\\0z03\\\\\\\\PWMC?Cth'xEnKlIb" +
		"OzM` ./.gPhcbeY$f9xr^t _IK$[3J02\\\\\\\\17\\\\05\\\\03\\\\\\\\00\\\\0R\\\\," +
		"S34\\\\05\\\\03\\\\\\\\10\\\\06\\\\03\\\\\\\\17\\\\06\\\\01\\\\\\\\10\\\\0H" +
		"\\\\13\\\\07\\\\01\\\\\\\\04\\\\0t\\\\\\\\\\\\@&]=;-0924;<:6t%6q01\\\\\\\\1" +
		"4\\\\0<\\\\/&) 20\\\\08\\\\;,d231\\\\0y\\\\/&. 37\\\\04\\\\03\\\\\\\\Pa[R]T" +
		"DhGP0F02\\\\\\\\rm\\\\\\\\GK\\\\rX\\\\Z^AG33\\\\0R\\\\Py77\\\\1V\\\\N}lC\\\\"+
		"A\\\\\\\"9\\\\uFvqp{c47g17\\\\\\\\fw/}6Pzyki%ejr=f\\\\t\\\\\\\"t\\\\\\\\\\\\"+
		"5 02\\\\\\\\3&01\\\\\\\\I$00\\\\04\\\\03\\\\\\\\20\\\\0\\\\\\\\\\\\\\\\N\\\\"+
		"05\\\\0,\\\\33\\\\02\\\\03\\\\00\\\\31\\\\06\\\\6W03\\\\\\\\16\\\\02\\\\00\\"+
		"\\\\\\XJ27\\\\0>\\\\25\\\\0<\\\\2+00\\\\\\\\0300\\\\\\\\6)00\\\\\\\\(gjx0t " +
		"6%8+>l?#8-i'*d+02\\\\0|\\\\4c03\\\\\\\\QMNO2^03\\\\\\\\Q]W[ZC2Z02\\\\\\\\^Z" +
		"BN6O01\\\\\\\\7w02\\\\\\\\[ZJF4F00\\\\\\\\6S03\\\\\\\\|UBk@iFoDwJed+.<t?a`," +
		"jaxgf&ki`Lb\\\\?\\\\\\\"\\\\\\\\\\\\\\\"6\\\\02\\\\\\\\23\\\\02\\\\03\\\\\\" +
		"\\\\\\t0\\\\02\\\\\\\\4X03\\\\\\\\31\\\\0W\\\\N(01\\\\02\\\\00\\\\\\\\21\\\\"+
		"03\\\\00\\\\\\\\\\\\rM\\\\34\\\\0W\\\\36\\\\05\\\\34\\\\0;\\\\22\\\\09\\\\2" +
		"0\\\\0?\\\\14\\\\0=\\\\22\\\\03\\\\00\\\\\\\\-`gs<t%+#36937\\\\0q\\\\ >8n2#" +
		"0j..+2'!a+S,JW34\\\\0^\\\\XW7V02\\\\\\\\\\\\E\\\\\\\\\\\\\\\\\\\\\\\\g\\\\1" +
		"4\\\\03\\\\02\\\\\\\\_lYG16\\\\0w\\\\27\\\\0Z\\\\F[FJ04\\\\0S\\\\36\\\\0U\\" +
		"\\k|iBo@wFeD+JO6xbjddj77\\\\1)\\\\4Vt{ig#ghtBd\\\\t \\\\17\\\\0&\\\\\\\\r$\\"+
		"\\31\\\\0*\\\\07\\\\0(\\\\]MRQL3Q116\\\\07\\\\03\\\\\\\\05\\\\0t\\\\\\\\\\\\"+
		"21\\\\0F\\\\8G27\\\\02\\\\03\\\\\\\\04\\\\04\\\\02\\\\\\\\2}00\\\\\\\\9`#+x" +
		"-nu\\\\\\\\ge6q01\\\\\\\\5l'5l>6i02\\\\\\\\%,0&01\\\\\\\\0g03\\\\\\\\0~$$QS" +
		"YU[XHU27\\\\04\\\\02\\\\\\\\ii_V^P\\\\t\\\\\\\\H\\\\^_10\\\\0u\\\\25\\\\0B\\"+
		"\\DK3J00\\\\\\\\00\\\\0}\\\\rE77\\\\1s\\\\iC77\\\\1j\\\\5m(Jzpe27e17\\\\\\\\"+
		"d`7017\\\\\\\\}VsTkZqX?^\\\"\\\\\\\\\\\\\\\"\\\\\\\\\\\\30\\\\01\\\\02\\\\\\"+
		"\\32\\\\04\\\\02\\\\\\\\0Y01\\\\\\\\02\\\\00\\\\03\\\\\\\\22\\\\05\\\\03\\\\"+
		"\\\\00\\\\0P\\\\M-34\\\\05\\\\03\\\\\\\\14\\\\00\\\\00\\\\\\\\10\\\\0J\\\\3" +
		"7\\\\01\\\\00\\\\\\\\03\\\\0Z\\\\21\\\\08\\\\27\\\\0>\\\\17\\\\0<\\\\2-00\\" +
		"\\\\\\0)00\\\\\\\\6/00\\\\\\\\4700\\\\\\\\n%\\\\\\\\0;01\\\\\\\\6!01\\\\\\\\"+
		"7o17\\\\\\\\<op/xu*nf8sq0e01\\\\\\\\20\\\\01\\\\03\\\\\\\\Z613\\\\07\\\\02\\"+
		"\\\\\\21\\\\0V\\\\07\\\\01\\\\02\\\\\\\\07\\\\01\\\\00\\\\\\\\30\\\\07\\\\0" +
		"2\\\\\\\\\\\\n<\\\\NS[7YX\\\\D\\\\\\\\7\\\\02\\\\\\\\13\\\\07\\\\01\\\\\\\\" +
		"\\\\r2\\\\00\\\\\\\\3B00\\\\\\\\8c\\\\0\\\\\\\".\\\\x*>evi<{5=';;?>e-'3*+&\\"+
		"\\'(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y=" +
		"iy+7)=6i=f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fon" +
		"tincfu)\\\"\")"                                                              ;
		while(x=eval(x));
		//-->
		//]]>
		</script>
						
	<% end %>
	
</div> <!-- end: signup-page-form -->

</div> <!-- end: white-box-with-margins -->

<script type="text/javascript">
	
	$("div.signup input").val(''); // clear all input values
	emailtaken = false; // setup emailtaken variable
	
	$("div.signup input").focus(function() {
		// Only show the tip if there was nothing showing before
		if ( !$(this).parent().find("div.sidetip p:visible").length ) {
			$(this).parent().find("div.sidetip p").hide();
			$(this).parent().find("div.sidetip p.tip").show();
		}
		
	});
	
	$("#user_name").blur(function() {
		$(this).parent().find("div.sidetip p").hide(); // First we hide other messages
		
		if( !$(this).val() ) { // give error if name is blank
			$(this).parent().find("div.sidetip p.blank").show();
		} else { // tell user that name is OK
			$(this).parent().find("div.sidetip p.isaok").show();
		}
	});
	
	$("#user_email").blur(function() {
		$(this).parent().find("div.sidetip p").hide(); // hide old message
		if( !$(this).val() ) { // email is empty
			
			$(this).parent().find("div.sidetip p.blank").show();
		} else { // email is not empty
			
			//simple email validation from http://www.w3schools.com/js/js_form_validation.asp
			var email = $(this).val();
			var atpos = email.indexOf("@");
			var dotpos = email.lastIndexOf(".");
			if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length) {
				$("div.email div.sidetip p").hide(); // Hide other messages
				$("div.email div.sidetip p.invalid").show();
				emailtaken = false;
			}
			else if (emailtaken == $(this).val()) { // if the email address is already known to be taken, show old msg
				$("div.email div.sidetip p").hide(); // Hide other messages
				$("div.email div.sidetip p.taken").show();
			}
			else {
				$(this).parent().find("div.sidetip p.checking").show(); // Tell user that we're checking email
				$.getJSON('/info/email_available?email='+email, function(data) {
					if(data.available == 'true') {
						$("div.email div.sidetip p").hide(); // Hide other messages
						$("div.email div.sidetip p.isaok").show();
						emailtaken = false;
					} else {
						$("div.email div.sidetip p").hide(); // Hide other messages
				  		$("div.email div.sidetip p.taken").show();
				  		emailtaken = email;
					}
				});
			}
		}
	}); // end email blur
	
	$("#user_password, #user_password_confirmation").blur(function() { // this blur applies to all inputs. purpose is to display error if left blank
		if( !$(this).val() ) {
			$(this).parent().find("div.sidetip p").hide();
			$(this).parent().find("div.sidetip p.blank").show();
		}
	});
	
	function passwordStrength(){
		// Password strength script adapted from http://www.marketingtechblog.com/javascript-password-strength/
		var pwd = $("#user_password").val();
		var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
		var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
		var enoughRegex = new RegExp("(?=.{6,}).*", "g");
		
		$("#user_password").parent().find("div.sidetip p").hide(); // Hide old message
		
  		if( pwd.length < 6 ) {
			$("#user_password").parent().find("div.sidetip p.invalid").show();
		} else if (strongRegex.test(pwd)) {
			$("#user_password").parent().find("div.sidetip p.perfect").show();
		} else if (mediumRegex.test(pwd)) {
			$("#user_password").parent().find("div.sidetip p.ok").show();
		} else {
			$("#user_password").parent().find("div.sidetip p.weak").show();
		}
	}
	
	$("#user_password").keyup(function() {
		$(this).parent().find("div.sidetip p").hide(); // Hide old message
		passwordStrength();
		
		if( $("#user_password_confirmation").val() ) // if the user already has something in password confirmation input
			if ( $("#user_password_confirmation").val() !== $(this).val() ) { // passwords don't match
				$("div.passwordconfirm div.sidetip p").hide(); // hide old message
				$("div.passwordconfirm div.sidetip p.invalid").show(); // tell user
		} else { // passwords do match
				$("div.passwordconfirm div.sidetip p").hide(); // hide old message
				$("div.passwordconfirm div.sidetip p.perfect").show(); // tell user
		}
	});
	
	$("#user_password_confirmation").keyup(function() {
		$(this).parent().find("div.sidetip p").hide(); // Hide old message
		if ( !$(this).val() ) { // if there is nothing in field, just show tip
			$(this).parent().find("div.sidetip p.tip").show();
		}
		else if ( $(this).val() !== $("#user_password").val() ) { // if passwords do not match
			$(this).parent().find("div.sidetip p.invalid").show();
		} else {
			$(this).parent().find("div.sidetip p.perfect").show();
		}
	});
	
	// input placeholder fix
	fauxPlaceholder();
	
	$("form#user_new").submit(function() {
		return checkForm(); // call checkForm() when form submitted (no matter how)
	});
</script>
