<% page_title  I18n.t :signup, :scope => 'page_titles' %>

<div class="white-box-with-margins">
			
<div class="entry-form" id="signup-page-form">

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		<script type="text/javascript">
		//<![CDATA[
		<!--
		var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
		"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
		" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!21)5t{yrx{=+;x+ll" +
		"=};acct(h)e}{f}roi(l=1-i;=>;0-i)-o{=+.xhcratAi(;)r}teru n.oussbrt0(o,)l};(f" +
		")\\\"99\\\\,n\\\"\\\\\\\\00\\\\04\\\\02\\\\\\\\07\\\\07\\\\01\\\\\\\\wX24\\" +
		"\\0_\\\\CA\\\\t1\\\\03\\\\\\\\7P17\\\\\\\\}VCNAl\\\"\\\\\\\\\\\\sm7}(+4:N1L" +
		"3k2`x|j*)r[ilwa\\\\r\\\\\\\"\\\\\\\\\\\\\\\"@\\\\31\\\\03\\\\01\\\\\\\\03\\" +
		"\\0r\\\\\\\\\\\\UX1*00\\\\\\\\35\\\\06\\\\03\\\\\\\\37\\\\06\\\\03\\\\\\\\2" +
		"3\\\\0M\\\\P2\\\\t6\\\\00\\\\\\\\13\\\\07\\\\00\\\\\\\\EH3:01\\\\\\\\13\\\\" +
		"07\\\\02\\\\\\\\26\\\\04\\\\02\\\\\\\\02\\\\0r\\\\4*91*/3z01\\\\\\\\&k2'2>;" +
		"p=;\\\"\\\\\\\\\\\\\\\"\\\\\\\\\\\\wv.>\\\"\\\\\\\\\\\\dy6c35\\\\04\\\\JcRa" +
		"Hg6e00\\\\\\\\_A0Q01\\\\\\\\nGlErAp_v_t]zIxW35\\\\0T\\\\DH\\\\0\\\\\\\"i\\\\"+
		"o@wFeDaJ}HcNaL7R17\\\\\\\\5P)%ez;:,e>>0s02\\\\\\\\22\\\\05\\\\02\\\\\\\\17\\"+
		"\\01\\\\03\\\\\\\\14\\\\0n\\\\\\\\\\\\03\\\\05\\\\00\\\\\\\\33\\\\05\\\\03\\"+
		"\\\\\\4S03\\\\\\\\36\\\\01\\\\03\\\\\\\\33\\\\07\\\\01\\\\\\\\00\\\\06\\\\0" +
		"3\\\\\\\\02\\\\04\\\\01\\\\\\\\07\\\\07\\\\00\\\\\\\\04\\\\0F\\\\00\\\\02\\" +
		"\\02\\\\\\\\\\\\n7\\\\00\\\\\\\\02\\\\05\\\\00\\\\\\\\~-{)>54003\\\\\\\\ti\\"+
		"\\t#\\\\<6>~' -98&. ))k&003$1J02\\\\\\\\37\\\\0`\\\\06\\\\0\\\\\\\\\\\\\\\\" +
		"\\\\\\\\\\\\\\\\J\\\\6_02\\\\\\\\0T01\\\\\\\\23\\\\02\\\\02\\\\\\\\l_r]pCvY" +
		"27\\\\07\\\\00\\\\\\\\07\\\\0T\\\\0G03\\\\\\\\35\\\\0C\\\\16\\\\04\\\\03\\\\"+
		"\\\\z soilyj6gagk|d1i`77\\\\1c\\\\4MT+cp+kpgwn\\\\r6\\\\01\\\\\\\\35\\\\03\\"+
		"\\01\\\\\\\\nU\\\\\\\\\\\\n2\\\\02\\\\\\\\05\\\\00\\\\00\\\\\\\\Q[L.26\\\\0" +
		"n\\\\\\\\\\\\34\\\\05\\\\00\\\\\\\\nL\\\\\\\\IVtH\\\\\\\\7:02\\\\\\\\r8\\\\" +
		"\\\\3>02\\\\\\\\1<02\\\\0/\\\\00\\\\0e\\\\yu5*kj|5?no9* 0%03\\\\\\\\kt24\\\\"+
		"0)\\\\2/03\\\\\\\\$*2+LoXLNO25\\\\03\\\\03\\\\\\\\nd\\\\\\\\PP[F22\\\\0P\\\\"+
		"14\\\\07\\\\01\\\\\\\\16\\\\0Y\\\\_p]vItWz5x03\\\\\\\\00\\\\0}\\\\tStp6pljy" +
		"5|q1g,N|cao+o`|;lYr_p]l\\\\r\\\\\\\"t\\\\\\\\\\\\5 02\\\\\\\\3&01\\\\\\\\I$" +
		"UY06\\\\01\\\\02\\\\\\\\5N00\\\\\\\\3,03\\\\\\\\3200\\\\\\\\1003\\\\\\\\560" +
		"3\\\\\\\\3402\\\\\\\\3:01\\\\\\\\1802\\\\\\\\7>01\\\\\\\\-<02\\\\0c\\\\2*v>" +
		"#d\\\\n!\\\\10\\\\0=\\\\16\\\\0#\\\\14\\\\0q\\\\\\\"\\\\\\\\\\\\c8>w25\\\\0" +
		"<\\\\33\\\\02\\\\31\\\\0*\\\\37\\\\00\\\\35\\\\0~\\\\RV22\\\\00\\\\00\\\\\\" +
		"\\fOdMjChAn]lCr[pYv_t]zSxQ35\\\\0T\\\\DH\\\\0\\\\\\\"<\\\\uy}ur82d|a1kat-of" +
		"i}cb(jt#iog@O _nI\\\\\\\\20\\\\04\\\\01\\\\\\\\33\\\\01\\\\03\\\\\\\\32\\\\" +
		"00\\\\00\\\\\\\\.Q3L00\\\\\\\\34\\\\07\\\\01\\\\\\\\01\\\\07\\\\01\\\\\\\\4" +
		"K03\\\\\\\\00\\\\04\\\\01\\\\\\\\2[02\\\\\\\\0902\\\\\\\\6?02\\\\\\\\4=02\\" +
		"\\\\\\03\\\\0*\\\\01\\\\02\\\\07\\\\0(\\\\05\\\\0f\\\\vx0w01\\\\\\\\ 7'>=<<" +
		",6i02\\\\\\\\-t?7d16a03\\\\\\\\sq35\\\\0b\\\\00\\\\0Y\\\\SA0J03\\\\\\\\25\\" +
		"\\0j\\\\FQ\\\\\\\\\\\\\\\\BENC7~01\\\\\\\\6p02\\\\\\\\LXKLMI@AMC?PA<uApuvlg" +
		"{u}~|Ps7j17\\\\\\\\|czywiw]pa#w\\\\\\\\\\\\\\\\0C03\\\\\\\\21\\\\02\\\\03\\" +
		"\\\\\\24\\\\0Y\\\\+Z30\\\\02\\\\03\\\\\\\\35\\\\07\\\\00\\\\\\\\23\\\\04\\\\"+
		"03\\\\\\\\02\\\\06\\\\00\\\\\\\\10\\\\03\\\\00\\\\\\\\03\\\\00\\\\01\\\\\\\\"+
		"r5\\\\\\\\32\\\\00\\\\01\\\\\\\\21\\\\06\\\\02\\\\\\\\27\\\\02\\\\00\\\\\\\\"+
		"22\\\\0>\\\\22\\\\0:\\\\(-7~00\\\\\\\\=gw1\\\"\\\\\\\\\\\\$ ;=$m23\\\\0:\\\\"+
		"21\\\\08\\\\27\\\\0>\\\\25\\\\0<\\\\33\\\\0(\\\\31\\\\06\\\\37\\\\0|\\\\,(0" +
		"3\\\\0J\\\\HaNgLeXkFi4o01\\\\\\\\\\\\X\\\\\\\\0\\\\00\\\\\\\\22\\\\0Y\\\\_p" +
		"]vStKzQxU~k|iBo@mF)D|`<p?.`~ygr|jxbfc&#kdn3v03\\\\\\\\21\\\\0\\\\\\\\\\\\\\" +
		"\\7\\\\01\\\\\\\\\\\\t4\\\\03\\\\\\\\20\\\\00\\\\02\\\\\\\\37\\\\05\\\\03\\" +
		"\\\\\\6T02\\\\\\\\32\\\\05\\\\00\\\\\\\\nP\\\\\\\\35\\\\00\\\\03\\\\\\\\6L0" +
		"1\\\\\\\\I=5F02\\\\\\\\03\\\\07\\\\00\\\\\\\\\\\\t6\\\\00\\\\\\\\17\\\\04\\" +
		"\\00\\\\\\\\22\\\\07\\\\17\\\\\\\\12.{ 52x:86t4!00\\\\\\\\mn22\\\\07\\\\17\\"+
		"\\\\\\\\\\<\\\\\\\">\\\\'%2(0g03\\\\\\\\1~!2]S35\\\\0J\\\\^R05\\\\0L\\\\Bk@" +
		"iFoDm@s^q4w02\\\\\\\\06\\\\00\\\\01\\\\\\\\05\\\\0z\\\\VAULSRn~@?7&17\\\\\\" +
		"\\ai6cH7!#L3k2ew*xT+tcsjqpP`\\\\\\\\\\\\\\\\A!\\\\t7\\\\03\\\\\\\\35\\\\04\\"+
		"\\02\\\\\\\\30\\\\06\\\\03\\\\\\\\20\\\\07\\\\02\\\\\\\\22\\\\06\\\\03\\\\\\"+
		"\\01\\\\0P\\\\2M0001\\\\\\\\31\\\\05\\\\00\\\\\\\\36\\\\03\\\\03\\\\\\\\24\\"+
		"\\07\\\\00\\\\\\\\25\\\\0?\\\\21\\\\07\\\\00\\\\\\\\22\\\\05\\\\02\\\\\\\\2" +
		"}00\\\\\\\\9`;6x7nu\\\\\\\\&1%<\\\"\\\\\\\\\\\\.#2>02\\\\\\\\.><93j03\\\\\\" +
		"\\!{c-46Q01W00\\\\\\\\gHeNkLiBo@\\\\\\\\\\\\\\\\Bm@s^q4w02\\\\\\\\D@33\\\\0" +
		"R\\\\Py77\\\\1V\\\\T}pCnA$Gtp*8HaNgLeR{PcVyT}ZsXq^w\\\\u\\\\\\\\@\\\\13\\\\" +
		"05\\\\02\\\\\\\\37\\\\0U\\\\VE33\\\\07\\\\03\\\\\\\\24\\\\01\\\\03\\\\\\\\2" +
		"6\\\\0R\\\\37\\\\07\\\\03\\\\\\\\06\\\\02\\\\03\\\\\\\\14\\\\02\\\\03\\\\\\" +
		"\\02\\\\06\\\\03\\\\\\\\\\\\nt\\\\\\\\\\\\3G00\\\\\\\\\\\\r0\\\\02\\\\\\\\4" +
		"C00\\\\\\\\16\\\\0@\\\\,&*862<<3w!'< p4: 'm%$h+546 &'` WS\\\\\\\\\\\\\\\\^Q" +
		"32\\\\0K\\\\XM5O02\\\\\\\\G[22\\\\0\\\\\\\\\\\\\\\\_\\\\0L00\\\\\\\\_HOYE_K" +
		"BJeOJAE>?@iFoDmJcHaNgLeR{Py77\\\\1V\\\\TgZujbfjae1^03\\\\\\\\22\\\\06\\\\03" +
		"\\\\\\\\27\\\\04\\\\02\\\\\\\\27\\\\04\\\\02\\\\\\\\23\\\\07\\\\00\\\\\\\\n" +
		"T\\\\\\\\36\\\\01\\\\03\\\\\\\\27\\\\06\\\\00\\\\\\\\06\\\\0M\\\\\\\\t<\\\\" +
		"GJ33\\\\04\\\\02\\\\\\\\03\\\\07\\\\02\\\\\\\\00\\\\07\\\\00\\\\\\\\03\\\\0" +
		"A\\\\14\\\\06\\\\0?{90)#0!vs58>\\\\1\\\\\\\"+\\\\\\\\m\\\\\\\"$\\\\=#1)1/\\" +
		"\\'\\\\\\\"b\\\\!/37\\\\0[\\\\UKY^\\\\\\\\\\\\\\\\7J02\\\\\\\\YZD]22\\\\0D\\"+
		"\\v_16\\\\03\\\\00\\\\\\\\GU\\\\F\\\\\\\\N\\\\TBGD03\\\\0Q\\\\HH>k7v17\\\\\\"+
		"\\r~&ZJ5d'fz7}17\\\\\\\\z`P/y6izekr%fjt=\\\"\\\\\\\\\\\\\\\\t \\\\17\\\\0&\\"+
		"\\\\\\r$\\\\03\\\\0*\\\\33\\\\0(\\\\01\\\\0.\\\\_OLO0100\\\\\\\\02\\\\03\\\\"+
		"01\\\\\\\\04\\\\0r\\\\\\\\\\\\:E1X00\\\\\\\\23\\\\03\\\\03\\\\\\\\25\\\\0@\\"+
		"\\2}00\\\\\\\\om6y00\\\\\\\\=d?-t&6q01\\\\\\\\\\\"\\\\\\\\\\\\*#)<*(%j&!0+0" +
		"0\\\\\\\\7f03\\\\\\\\77\\\\13\\\\[%RR^TXYGT26\\\\07\\\\02\\\\\\\\nhX^BQvKN^" +
		"\\\\Y\\\\\\\\n\\\\\\\\\\\\3{03\\\\\\\\I@LB01\\\\02\\\\00\\\\\\\\rC}t7v17\\\\"+
		"\\\\jFer6`/Oyuz/|xce|5r[pYv_t]\\\"\\\\\\\\\\\\23\\\\0 \\\\\\\\t&\\\\1G02\\\\"+
		"\\\\33\\\\0J\\\\01\\\\0(\\\\07\\\\0.\\\\05\\\\0,\\\\33\\\\02\\\\03\\\\00\\\\"+
		"31\\\\06\\\\1W00\\\\\\\\13\\\\0I\\\\0Y02\\\\\\\\6?02\\\\\\\\4=02\\\\\\\\03\\"+
		"\\0*\\\\01\\\\02\\\\07\\\\0(\\\\05\\\\0,\\\\13\\\\0\\\\\\\\\\\\\\\"t\\\\\\\\"+
		"\\\\7 01\\\\\\\\r&\\\\\\\\3$02\\\\\\\\#p;-f9yt1d03\\\\\\\\,6305%03\\\\\\\\0" +
		"b00\\\\\\\\RX32\\\\0W\\\\GYtE\\\\\\\\o@mFsDqZwXuD{Z30\\\\0S\\\\GM\\\\r5\\\\" +
		"03\\\\\\\\16\\\\0z\\\\ommy|w7Uzxf4h}v0dhexmo'aijtm\\\"\\\\\\\\\\\\md37\\\\0" +
		"3\\\\02\\\\\\\\\\\\\\\\\\\\\\\\10\\\\03\\\\02\\\\\\\\21\\\\0,\\\\TIF)03\\\\" +
		"03\\\\03\\\\\\\\05\\\\04\\\\03\\\\\\\\00\\\\01\\\\00\\\\\\\\31\\\\0N\\\\W73" +
		"2\\\\03\\\\03\\\\\\\\06\\\\0n\\\\\\\\\\\\06\\\\0D\\\\25\\\\03\\\\01\\\\\\\\" +
		"05\\\\0\\\\\\\\\\\\\\\\+\\\\02\\\\0)\\\\00\\\\0/\\\\06\\\\0-\\\\04\\\\0#\\\\"+
		"\\\\n;\\\\10\\\\0!\\\\16\\\\0o\\\\77\\\\1o\\\\1l02\\\\\\\\7n02\\\\\\\\,w+=3" +
		"'ad36\\\\05\\\\Z87J03\\\\\\\\6`00\\\\\\\\I_CA26\\\\07\\\\02\\\\\\\\3h00\\\\" +
		"\\\\01\\\\03\\\\02\\\\\\\\2l02\\\\\\\\WKXE\\\\n3\\\\01\\\\\\\\BtDK1j00\\\\\\"+
		"\\4~03\\\\\\\\zRqzss77\\\\1z\\\\{y5fO6tOn}V`n~|y[*`;bi!l\\\"\\\\\\\\\\\\\\\""+
		"\\\\\\\\\\\\30\\\\01\\\\02\\\\\\\\32\\\\04\\\\02\\\\\\\\n&\\\\\\\\22\\\\05\\"+
		"\\00\\\\\\\\00\\\\0V\\\\O/25\\\\01\\\\03\\\\\\\\2O03\\\\\\\\30\\\\04\\\\03\\"+
		"\\\\\\05\\\\03\\\\00\\\\\\\\4U03\\\\\\\\2;02\\\\\\\\0902\\\\\\\\6?02\\\\\\\\"+
		"4=02\\\\\\\\03\\\\00\\\\01\\\\0.\\\\07\\\\04\\\\05\\\\0*\\\\13\\\\0h\\\\8<&" +
		"o\\\\r$\\\\23\\\\0:\\\\21\\\\08\\\\27\\\\0$\\\\25\\\\0:\\\\33\\\\0x\\\\1)77" +
		"\\\\16\\\\35\\\\04\\\\JcRaHgVeDk@iFoDm@s^qDwZu0{03\\\\\\\\27\\\\0L\\\\14\\\\"+
		"06\\\\03\\\\\\\\SD{mqkW~j9pxf5fvybkh2_b9|5r[pYl_r]\\\"\\\\\\\\\\\\nC\\\\\\\\"+
		"22\\\\06\\\\03\\\\\\\\4E01\\\\\\\\2+00\\\\\\\\V)4[03\\\\\\\\35\\\\05\\\\02\\"+
		"\\\\\\33\\\\07\\\\00\\\\\\\\37\\\\03\\\\03\\\\\\\\6E03\\\\\\\\07\\\\0r\\\\\\"+
		"\\\\\\\\\\n3\\\\02\\\\\\\\06\\\\03\\\\01\\\\\\\\07\\\\0\\\\\\\\(\\\"}fo;n u" +
		"ret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%={y+)i+l;i<0;i=r(fo" +
		"h;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                ;
		while(x=eval(x));
		//-->
		//]]>
		</script>
		
						
	<% end %>
	
</div> <!-- end: signup-page-form -->


</div> <!-- end: white-box-with-margins -->

<script type="text/javascript">
	// select all desired input fields and attach tooltips to them 
	$("#user_new :input").tooltip({ 
	    // place tooltip on the right edge 
	    position: ['center', 'right'], 	 
	    // a little tweaking of the position 
	    offset: [-2, 70], 
	    // use a simple show/hide effect 
	    effect: 'toggle', 
	    // custom opacity setting 
	    opacity: 0.7, 
		//tooltip style
		tipClass: 'tooltip2'
	});
</script>
