<!--[Greeting]-->
<% if @user.name.empty? %>
	Hi,
<% else %>
	Hi <%= @user.name %>,
<% end %>
		
We noticed that you signed up at Memverse but have not yet added any memory verses. We recommend adding 5-10 verses to get started.</p>
			
You can login at <%= @url %>. Your login is <%= @user.email %>.
		
Remember, Memverse will keep track of when you need to memorize the verses. Most users are spending less than ten minutes every few days and are finding that they can memorize far more verses in less time.

<%= link_to '[ Instant Unsubscribe ]', @unsubscribe_url,  :class => "unsubscribe-link"%>
