<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Welcome Newsletter</title>
	</head>
	<body>
		
		<p>Hi,</p>
		
		<p>It's hard to believe that Memverse.com only launched on March 1st, 2009. If you're getting this newsletter
		it's because you were one of the first 100 users to register on the site.</p>
		
		<p>In the past month we have made many changes to enhance the usability of the site, including:</p>
		
		<ul>
			<li>Better support for memory verses longer than one verse.</li>
			<li>Quicker adding of popular memory verses.</li>
			<li>Verification for English Standard Version verses - we will add other translations soon.</li>
			<li>An estimate of your daily time commitment so that you can pace your progress.</li>
			<li>A news feed from Christianity Today on the home page. (After you've added 6 verses)</li>			
		</ul>
		
		<p>We remain 100% committed to keeping Memverse.com a free resource for memorizing the bible. 
		We will never share your email address. And we promise to keep email newsletters to a minimum.</p>
		
		<p>If you haven't logged in for a while, why not give it another try. You can login at <%= @url %></p>
		
		<p>Feel free to reply to this email with suggestions or questions. We'd love to hear from you.</p>
		
		<p>Happy Easter</p>
		
		<p>Andy</p>

		<p><i>"I have hidden your word in my heart"</i></p>

	</body>
</html>
