<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Reminder</title>
	</head>
	<body>
		<!--[Greeting]-->
		<% if @user.name.empty? %>
			<p>Hi,</p>
		<% else %>
			<p>Hi <%= @user.name %>,</p>
		<% end %>
		
		<!--[Reminder]-->
		<p>We've noticed that you haven't visited Memverse for a while. We will be sending you reminder emails
		less frequently in future but we would love to have you back memorizing the Bible. We know that life often
		intrudes on our best intentions so we'll keep your account active for now.</p>
			
		<!--[URL]-->	
		<p>You can login at <%= @url %>. Your username is <b><%= @user.login %></b>.</p>
				
		<!--[Unsubscribe]-->
		<p>Remember, you can update the frequency with which you receive reminders on the 'Update Profile' page. If
		   you never want to receive an email reminder again, set the 'Reminder Frequency' option to 'Never'.</p>
		
		<p>Your Memverse Server</p>
		
		<p><%= link_to '[ Instant Unsubscribe ]', @unsubscribe_url,  :class => "unsubscribe-link"%></p>
	</body>
</html>
