<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Memverse Activation</title>
	</head>
	<body>
		
		<p>Welcome to Memverse. Your account has been created. You're moments away from starting your online memorization program.</p>
		
		<p>Your login is: <%= @user.email %></p>
		
		<p>Please follow this link to activate your account. (If you can't click on the link, you will have to cut and paste it into
		your browser address bar):</p>
		
		<p><%= @url %></p>
		
		<p>Once your account is activated we recommend completing your profile and setting your email preference to ensure that
		we don't email you more than you would like. Then, get started by adding five or six verses that you would like to memorize.</p>
		
		<p>Finally, if you haven't already done so, add 'admin@memverse.com' to your address book to ensure that any reminder emails
		we send you don't end up in your junk mail folder. If you don't want any reminder emails, just set the reminder frequency to
		'Never' in your profile.</p>

				<!-- Mobile Applications -->	
		<p>You can also try one of our mobile applications:</p>

		<p><%= link_to 'Apple iOS',     'https://itunes.apple.com/us/app/memverse/id1014752213',             :class => "mobile-app-link"%></p>
		<p><%= link_to 'Windows Phone', 'https://www.microsoft.com/en-us/store/apps/memverse/9nblgggzh6nm',  :class => "mobile-app-link"%></p>
		
		<p>Regards,</p>
		
		<p>The Memverse Team</p>
	</body>
</html>