<% page_title @us_state.name %>
<div class="white-box-with-margins">
<h1><%= @us_state.rank ? @us_state.rank.to_s + ". " : "" %><%= @us_state.name %></h1>
<table class="memverse-standard">
	<%= render :partial => "users/user_headings" %>
	<%= render :partial => "users/user", :collection => @users %>
</table>
</div>
