<%= error_messages_for 'church' %>

<!--[form:user]-->
<p><label for="church_name">Name</label><br/>
<%= text_field 'church', 'name'  %></p>

<p><label for="church_description">Description</label><br/>
<%= text_area 'church', 'description'  %></p>
<!--[eoform:user]-->

