<% page_title "Quiz Questions" %>

<div class="white-box-with-margins">

    <h1>Quiz Questions</h1>

    <p><%= link_to 'Submit a New Quiz Question', new_quiz_question_path(:quiz => @quiz.id) %></p>

    <div class="mcq-list">

        <%= render partial: "mcq_list", collection: @quiz_questions, as: :quiz_question %>

    </div>

</div>

