<% page_title "Quiz Questions" %>

<div class="white-box-with-margins">

    <h1>Quiz Questions</h1>

    <p><%= link_to 'Submit a New Quiz Question', submit_question_path %></p>

    <h2>Questions that Need Attention</h2>
    <div class="mcq-list"><%= render partial: "mcq_list", collection: @quiz_questions.rejected, as: :quiz_question %></div>

    <h2>Questions in Approval Queue</h2>
    <div class="mcq-list"><%= render partial: "mcq_list", collection: @quiz_questions.pending, as: :quiz_question %></div>

    <h2>Approved Questions</h2>
    <div class="mcq-list"><%= render partial: "mcq_list", collection: @quiz_questions.approved, as: :quiz_question %></div>

</div>

