<div class="white-box-with-margins">
	<div id="user-stats">
		<table class="user-stats-table" cellpadding="6" cellspacing="0" border="1">	
			<tr>
				<th align="center">Verses</th>
				<th align="center">Users</th>
				<th align="center">%</th>
			</tr>
			<% @table_keys.each do |x| %>
				<tr>
					<td align="center"><%= x %></td>
					<td align="center"><%= @usage_table[x] %></td>
					<td align="right"><%= number_with_precision(@usage_table[x].to_f / @num_users.to_f * 100, :precision => 1) %>%</td>
				</tr>
			<% end %>
			<tr>
				<th>Total</th>
				<td align="center"><%=@num_users%></td>
				<td align="right">100.0%</td>
			</tr>
		</table>
	</div>
</div>
