<% page_title "Quizzes" %>
<div class="white-box-with-margins">
<h1>Quizzes</h1>

<table class="memverse-standard">
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Host</th>
  </tr>

	<% @quizzes.each do |quiz| %>
	  <tr>
	    <td><%=h link_to(quiz.name, quiz) %></td>
	    <td><%=h quiz.datetime %></td>
	    <td><%=h quiz.user.name_or_login %></td>
	  </tr>
	<% end %>
</table>

<br />

<%= link_to 'New quiz', new_quiz_path %>
</div>