<h1><%= @country.rank %>. <%= @country.printable_name %></h1>

<h2 class="country-detail">
	<span id="country-name">Members: <%= @country.users_count %></span> 
</h2>

<table class="user-list">
	
	<tr>
		<th align="left" 	id='name'>	Name 		</th>
		<th align="center" 	id='mem'>	Memorized	</th>
		<th align="center" 	id='lrn'>	Learning	</th>
		<th align="center" 	id='acc'>	Accuracy	</th>
		<th align="left" 	id='church'>Church/Group</th>
		<th align="left" 	id='cntry'>	Country		</th>	
		<th align="center" 	id='start'>	Started		</th>
	</tr>
	
	<%= render :partial => @users %>
		
</table>
