.basictab {
	padding: 3px 0;
	margin-left: 0;
	font-size: 150%;
	font-weight: bold;
	border-bottom: 1px solid gray;
	list-style-type: none;
	margin-bottom: 0;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li {
	display: inline;
	margin: 0;
}

.basictab li a {
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 2px;
	border: 1px solid gray;
	border-bottom: none;
	background-color: #BAB18E;
	color: black;
}


.basictab li a:visited {
	color: black;
}

.basictab li a:hover {
	background-color: #687284;
	color: black;
}

.basictab li a:active {
	color: black;
}

.basictab li.selected a { /*selected tab effect*/
	position: relative;
	top: 1px;
	padding-top: 4px;
	background-color: #687284;
	color: black;
}


.submenustyle {
	padding: 2px 1px;
	border: 1px solid black;
	border-top-width: 0;
	width: auto;
	display: none;
	filter:alpha(opacity=0);
	-moz-opacity:0;
}

* html .submenustyle { /*IE only width definition*/
	width: 100%;
}

.submenustyle a {
	font-size: 125%;	
	border-right: 1px dashed black;
	padding: 1px 5px;
	text-decoration: none;
	background-color: #BAB18E;	
}

.submenustyle a:hover {
	background-color: #687284;
}