/* CSS Document */
	body	{
	font-size:11px;
	color: #333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	word-spacing:1px;
	background-color:#eeeeee;
	}
	
	option {
	background-color: #eeeeee;
	}
	
	select{
	background-color: #eeeeee;
	color:#333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	word-spacing:1px;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	}
	
	table {
	font-size:11px;
	color: #333333;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	}
	
	th {
	font-weight: bold;
	font-size: 14px;
	color: #b04329;
	}
	
	
	.white{
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	}
	
	
	.blank{ color:#000000; }
	
	.linkish{ cursor:pointer;}


	
	.toplinks{
	color:#333333;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	}
	
	.toplinksLight{
	color:#333333;
	font-weight:normal;
	text-decoration: none;
	font-size: 11px;
	}

	
	a.toplinks:visited{color:#333333; text-decoration:none}
	a.toplinksLight:visited{color:#333333; text-decoration:none}	
	a.toplinks:hover{color:#b04329; text-decoration: none}	
	a.toplinksLight:hover{color:#b04329; text-decoration: none}
	
	.toplinksRed{
	color:#b04329;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	}
	
	.toplinksRedLight{
	color:#b04329;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
	}
	
	a.toplinksRed:visited{color:#b04329; text-decoration:none}
	a.toplinksRedLight:visited{color:#b04329; text-decoration:none}
	a.toplinks:hover{color:#b04329; text-decoration: none}
	a.toplinksLight:hover{color:#b04329; text-decoration: none}

	.RedlinksLarge{
	color:#b04329;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	}
	
	.HugeRed{
	color:#990000;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	}

	a.RedlinksLarge:visited{color:#b04329; text-decoration:none}
	a.RedlinksLarge:hover{color:#b04329; text-decoration: none}

	.Sectionlinks{
	color:#999999;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	}


	a.Sectionlinks:visited{color:#999999; text-decoration:none}
	a.Sectionlinks:hover{color:#990000; text-decoration:none}
	
	.subon{
	color:#b04329;
	font-size: 11px;
	text-decoration: none;
	font-weight:bold;
	}
	
	a.subon:visited{color:#b04329; text-decoration:none}
	
	
			.subtitle{
	color:#999999;
	font-size: 11px;
	text-decoration: none;
	font-weight:bold;
	}
	
	.lightgreytitle{
	font-weight: bold;
	font-size:13px;
	color:#DDDDDD;
	}
	
	.goldtext{
	color:#F7D891;
	}
	
	.goldlink{
	font-weight: bold;
	font-size:11px;
	text-decoration: none;
	color:#F7D891;
	}
	
	.whitequote{
	font-size:13px;
	color:#DDDDDD;
	}
	.italics{
	font-size:11px;
	color:#333333;
	font-style: italic;	
	}
	

	

	
	.text	{
	font-size:12px;
	color: #333333;
	}
	
	
	.Redtext{
	color:#990000;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	letter-spacing: normal;	
	}
	
	
	

	.Redtitle{
	color:#990000;
	font-size: 14px;
	text-decoration: none;
	font-weight:bold;
	}
	
	.Greyheader{
	color:#333333;
	font-size: 14px;
	text-decoration: none;
	font-weight:bold;
	}
	
	.Redheader{
	color:#990000;
	font-size: 14px;
	text-decoration: none;
	font-weight:bold;
	}

	
	
	.Graytitle{
	color:#333333;
	font-size: 15px;
	text-decoration: none;
	font-weight:bold;
	}
	
	.Whitetitle{
	color:#FFFFFF;
	font-size: 21px;
	text-decoration: none;
	}
	.Darktitle{
	color:#333333;
	font-size: 21px;
	text-decoration: none;
	}
	
	.light{
	font-size:11px;
	color:#777777;
	}
	

	
		.littlesubtitle{
	color:#999999;
	font-size: 11px;
	text-decoration: none;
	}
	
	.TMtext{font-size: 5px;
	}
	
	
	
	a.subtitle:visited{color:#999999; text-decoration:none}
	
	a.goldlink:visited{color:#F7D891; text-decoration:none}
	
	
	a.subtitle:hover{color:#CC6666; text-decoration:none}
	
	


	a.Title:visited{text-decoration:none}
	
	

	






