<!-- Doesn't appear to be used -->
<div class="white-box-with-margins">

	<h2>Password Reset Request</h2>

    <% form_for :user, :url => {:action => 'forgot_password'} do |form| %>

		<p>
			Enter your email address that we have on our file and click send. We will 
			send you a password reset link email to your email address.
		</p>

        <p>
            <label for="user_email" >Email Address:</label><br/>
            <%= form.text_field :email, :size => 35, :class => 'text' %>
        </p>
		
		<%= submit_tag 'Send' %>
    
	<% end %> 

</div>