<div class="white-box-with-margins">
	
	
	<div id="choose-translation">
		<h2>Select your Translation</h2>
		
			  
	</div>

	<div id="select-workload">
	
	</div>
			
	<div id="select-starting-verses">
	
	</div>
		
	
</div>
