<h1>The Home of New Beginnings</h1>

<p>Memverse supports the Home of New Beginnings, a safe haven in Thailand for the victims of human trafficking. Watch this video for more information:</p>

<!-- "Video For Everybody" v0.4.2 by Kroc Camen of Camen Design <camendesign.com/code/video_for_everybody>
     =================================================================================================================== -->
<!-- first try HTML5 playback: if serving as XML, expand `controls` to `controls="controls"` and autoplay likewise       -->
<!-- warning: playback does not work on iPad/iPhone if you include the poster attribute! fixed in iOS4.0                 -->
<video width="720" height="480" controls preload autoplay>
	
	<!-- MP4 must be first for iPad! -->
	<source src="videos/hnb.mp4" 	type="video/mp4" /><!-- WebKit video, IE9 	-->
	<source src="videos/hnb.ogv" 	type="video/ogg" /><!-- Firefox / Opera 	-->
	<source src="videos/hnb.webm" 	type='video/webm; codecs="vp8, vorbis"' />

	<!-- fallback to Flash: -->
	<!-- http://www.longtailvideo.com/players/jw-flv-player/ -->
	<object width="720" height="480" type="application/x-shockwave-flash" data="/jwplayer/player.swf">
		<!-- Firefox uses the `data` attribute above, IE/Safari uses the param below -->
		<param name="movie" value="/jwplayer/player.swf" />
		<param name="flashvars" value="autostart=true&amp;controlbar=over&amp;image=poster.jpg&amp;file=/videos/hnb.mp4" />
		<!-- fallback image -->
		<img src="hnb.jpg" width="720" height="480" alt="Home of New Beginnings"
		     title="No video playback capabilities, please download the video below" />
	</object>	
		
</video>

<p>	
	<strong>Download Video: </strong><a href="videos/hnb.mp4">[MP4]</a> <a href="videos/hnb.ogv">[Ogg]</a>
</p>

<p>There is also an <a class="action-link" href="http://www.cnngo.com/bangkok/none/us-missionaries-target-tough-sell-bangkok-bar-girls-167479">article 
   describing the work at Home of New Beginnings.</a></p>

<p>
	If you'd like to support the <a class="action-link" href="http://www.homeofnewbeginnings.com">Home of New Beginnings</a>
	please consider <a class="action-link" href="./pendant">buying one of our pendants</a>. 
	100% of the profits will go towards the cause.
</p>