<head>
	<title>RedStart Design:  Specials</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
	<link 	href="necklace.css" rel ="stylesheet" type="text/css" />
	
	<script language="javascript" type="text/javascript">
		
		var largePics = new Array(	"images/hnb/RoseLoopL.jpg",
								 	"images/hnb/RoseLoopStillL.jpg",
								 	"images/hnb/SilverEggL.jpg"
							 );
							
		var smallPics = new Array(	"images/hnb/RoseLoopS.jpg",
								 	"images/hnb/RoseLoopStillS.jpg",
								 	"images/hnb/SilverEggS.jpg"									
							 );
		
		function changePhoto(num){
			document.largePhoto.src=largePics[num];	
			}
			
		function LoadPics(){
		    for(var i=0; i < largePics.length; i++) {
			var imgS = new Image();
			var imgL = new Image();
			imgS.src = smallPics[i] ;
			imgL.src = largePics[i] ;
			}
			for(var i=0; i < Buttons.length; i++) {
			var butts = new Image();
			butts.src = Buttons[i] ;
			}
			}
	
	</script>
</head>

<body onload="LoadPics();" >

<table width="1000px" align="center" border="0px" cellpadding="0px" cellspacing="0px" height="550" >

	<!--Top Navagation Bar-->		
	<tr>
		<td height="20px"></td>
	</tr> 

	<tr>
		<td height="400">
			<table cellpadding="0px" cellspacing="0px" border="0" height="400">
			
				<tr>
					<td rowspan="9"><img src="images/hnb/RoseLoopL.jpg" alt="HNB Pendant" name="largePhoto" width="400" height="400" id="largePhoto"/> </td>
					<td width="30" rowspan="9"></td>
					<td height="10"></td>
				</tr>

				<tr>
				  <td height="20" valign="top" class="RedlinksLarge" id="title" ><h1>New Beginnings Pendant</h1></td>
				</tr>
				
				<tr>
				  <td height="70" id="text" >
				  	The latest piece from Redstart Design, the New Beginnings Pendant celebrates the dignity of the individual and the renewal of the spirit. The organic
					egg-like shape symbolizes the new life God freely offers all of us. The pendant comes on a 16" sterling silver chain and the pendant itself is available
					in a choice of sterling silver, 14K gold, or 14K rose gold.
				  </td>
				</tr>

				<tr>
				  <td height="10" ></td>
				</tr>

				<tr>
				  <td height="70" id="text" >
				  	Redstart Design is a woman-founded, -owned, and -operated San Francisco-based boutique jeweler. It is known for its surging popularity with
					stars like Jessica Alba, Brooke Shiedlds, Hayden Panettiere and many more.
				  </td>
				</tr>


				<tr>
				  <td height="10" ></td>
				</tr>

				<tr>
				  <td height="50" id="text" >
				  	Your necklace will be custom cast specifically for you. Please allow up to 8 weeks for delivery.
				  </td>
				</tr>

				<tr>
					<td  width="470" valign="top"  colspan="4">
						<table cellpadding="0" cellspacing="0" border="0">	
							<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="K3LA3EZKZNWFE">
								<table>
									<tr><td><input type="hidden" name="on0" value="Option">Option</td></tr><tr><td><select name="os0">
										<option value="Sterling Silver">Sterling Silver $129.99</option>
										<option value="Gold 14K">Gold 14K $299.99</option>
										<option value="Rose Gold 14K">Rose Gold 14K $319.99</option>
									</select> </td></tr>
								</table>
								<input type="hidden" name="currency_code" value="USD">
								<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>		
						</table>
					</td>
				</tr>

				<tr>
					<td height="20px"></td>
				</tr> 
				

				<tr valign="bottom">
					<td colspan="2">
						<table cellpadding="0px" cellspacing="0px"  border="0px">
							<tr>
								<td width="120" height="120"><img class="linkish" src="images/hnb/RoseLoopS.jpg" alt="Bone Family"  onclick="changePhoto(0);" width="120" height="120"/></td>
						    	<td width="15"></td>
								<td width="120"><img class="linkish" src="images/hnb/RoseLoopStillS.jpg" alt="Pendant"  onclick="changePhoto(1);" width="120" height="120"/></td>
						    	<td width="15"></td>
								<td width="120"><img class="linkish" src="images/hnb/SilverEggS.jpg" alt="Pendant"  onclick="changePhoto(2);" width="120" height="120"/></td>
								<td width="40"></td>
								<td width="550" class="toplinksRed">
									100% of the profits from your purchase will be donated to the Home of New Beginnings, a safe haven in Thailand for victims of human trafficking. Each
									necklace will be enclosed in a Thai silk pouch embroidered by residents of the Home of New Beginnings. </td>
							</tr>	
						</table>
					</td>
				</tr>

				<tr>
					<td height="7px"></td>
				</tr>

			</table>
		</td> 
	</tr>
</table>
</body>









