<div class="thredded--email">

    <!-- Moderate Posts -->
    <% if @posts.present? %>

        <h2>Posts to review</h2>

        <% for post in @posts %>

            <figure class="thredded--email-post">
                <figcaption class="thredded--email-post--author">
                  <%= t 'thredded.emails.post_notification.html.post_lead_html',
                        user: post.user.thredded_display_name,
                        post_url: app.thredded.post_permalink_url(post.id),
                        topic_title: post.postable.title %>
                </figcaption>
                <% cache [post, 'content-onebox-placeholders'] do %>
                  <%= render partial: 'thredded/posts/content',
                             locals: { post: post, options: {onebox_placeholders: true} } %>
                <% end %>
            </figure>
            <hr/>

        <% end %>

    <% end %>

    <!-- Moderate Topics -->
    <% if @topics.present? %>

        <h2>Topics to review</h2>

        <% for topic in @topics %>

            <%= link_to topic, app.thredded.topic_url(topic) %>
            by <%= topic.user.name %><br />

        <% end %>

    <% end %>

</div>