<head>
	<title>Verse Scramble</title>
	
	<style type="text/css">
		#sortable { list-style-type: none; margin: 0; padding: 0; }
		#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 80px; height: 20px; font-size: 1em; text-align: center; }
	</style>
	
	<script type="text/javascript">
	$(function() {
		$('#dialog').dialog({
					autoOpen: false,
					width: 600,
					buttons: {
						"Yes": function() { 
							$(this).dialog("close"); 
						}, 
						"No": function() { 
							$(this).dialog("close"); 
						} 
					}
				});
		$('#dialog_link').click(function(){
					$('#dialog').dialog('open');
					return false;
				});
		$('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);

		$('#explication').dialog({
					autoOpen: false,
					width: 600,
					buttons: {
						"Return": function() { 
							$(this).dialog("close"); 
						}
					}
				});
		$('#explication_link').click(function(){
					$('#explication').dialog('open');
					return false;
				});
		$('#explication_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
		$('#instruction').dialog({
					autoOpen: false,
					width: 600,
					buttons: {
						"I Feel Instructed": function() { 
							$(this).dialog("close"); 
						}
					}
				});
		$('#instruction_link').click(function(){
					$('#instruction').dialog('open');
					return false;
				});
		$('#instruction_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
		$('#restart').click(function(){
				$('#win').hide();
				$('#sortable').shuffle();
			});
		$('#restart, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
		$("#sortable").sortable({
			 update: function(event, ui) {
				var result = $("#sortable").sortable('toArray');
				var win = new Boolean(true);
				var content = document.getElementById("output").innerHTML;
				 for (i=1;i<=12;i++)
				 {	
					content = document.getElementById("output").innerHTML;
					 if(!win){;}
					else{
						if(parseInt(result[i]) < parseInt(result[i-1])){
							win = false;
							document.getElementById("output").innerHTML = content  + "<br />The number " + result[i] + ", at index " + i +", is less than " + result[i-1] + ".<br />";
						}
					 }
				 }
				 if(win){
					$("#win").show();
				 }
				 
			}
		});
		$("#sortable").disableSelection();
	});
	</script>
</head>

<body onload="javascript:$('#sortable').shuffle();" bgcolor="#ececec">
	<h1>Verse Scramble</h1>
	<table>
		<tr>
			<td width="90"><p><a href="#" id="instruction_link" class="ui-state-default ui-corner-all">&nbsp;Instructions&nbsp;</a></p></td>
	        <td width="90"><p><a href="#" id="restart" class="ui-state-default ui-corner-all">&nbsp;Start Again&nbsp;</a></p></td>
			<td width="90"><p><a href="#" id="explication_link" class="ui-state-default ui-corner-all">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p></td>
		</tr>
	</table>
	
	<div id="win">
		<h1>You WIN!</h1>
		<em>Please click below.</em>
		<p><a href="#" id="dialog_link" class="ui-state-default ui-corner-all">Winner!</a></p>
	</div>
	
	<script type="text/javascript">
		$("#win").hide();
	</script>
	
	<div class="game" style="width: 1280px; height: 650px;">	
		<ul id="sortable">
			<% for word in @verse  %>
				<li id="<%= @verse.index(word) %>" class="ui-state-default"><%= word %></li>
			<% end %>
		</ul>
	</div>
	<div>
		
	</div>
	
	<div id="explication" title="Corrigienda">
		<p>Notice that one or two slight modifications remain to be made:</p>
		<ul>
			<li>Visually identical words are not treated as interchangeable, <i>e.g.</i>, <i>they</i> is both the fourth and ninth element.</li>
			<li>Punctuation and capitalization could be reapplied at the end.</li>
		</ul>
	</div>
	
	<div id="instruction" title="Instructions">
		<p>Simple--just drag the word into the correct place (according to the order in the verse).</p>
	</div>
	
	<div id="output" style="display:none;">
		Debug out here:
	</div>
	
	<div id="dialog" title="You Win">
		<p>You win. Do you understand?</p>
	</div>
</body>
