<div id="actions">
   <a class="prev">&laquo; Back</a>
   <%= TRANSLATIONS[@translation.to_sym] %>
   <a class="next">More verses &raquo;</a>
</div>

<!-- root element for scrollable -->
<div class="scrollable vertical">
   <!-- root element for the scrollable elements -->
   <div class="items">
   </div>   
</div>
