<div id="actions">
   <a class="prev">&laquo; Back</a>
   <a class="next">More verses &raquo;</a>
   <span class="js_bible-version bible-version">
    <%= select_tag "translations", grouped_options_for_select(Translation.select_options, @translation) unless @hide_select %>
   </span>
</div>

<!-- root element for scrollable -->
<div class="scrollable vertical">
   <!-- root element for the scrollable elements -->
   <div class="items">
   </div>
</div>
