<% page_title @tag.name + " - Tag" %>
<div class="white-box-with-margins">
	<div class="verse-list">
	
		<h2>Verses tagged '<%= @tag.name %>' by Users</h2>
	
		<% unless @verses.empty? %>
			<div id="search_results">	
				<table class="memverse-standard">
					<%= render :partial => "verses/verse_headings" %>
					<%= render :partial => "verses/verse", :collection => @verses %>
				</table>
			</div>
		<% end %>
		
	</div>
</div>

<script type="text/javascript">
  $(".add")
  	.live("ajax:success", function(evt, data, status, xhr) { $(this).html(data.msg) })
	.live("ajax:beforeSend", function(evt, xhr, settings) { $(this).find("a").html("Adding...") });
</script>
