<div class="white-box-with-margins">

	<h2>Forgot Your Password?</h2>
	
	<div class="entry-form" id="forgotten_password">

		<% form_for @password do |f| %>
		  <%= f.error_messages %>
	
			<p>
				Enter your email address that we have on our file and click send. We will 
				send you a password reset link email to your email address.
			</p>
				
			<%= f.label :email %>
			<%= f.text_field :email %>

			<div class="buttons">
		  		<%= f.submit "Submit" %>
			</div>
	
		<% end %>

	</div>

</div>


