<div id="shortcuts">
	<h3>Keyboard Shortcuts</h3>
	<p>Shift + Plus + 1 ~ Rate as 1<br />
	Shift + Plus + 2 ~ Rate as 2<br />
	Shift + Plus + 3 ~ Rate as 3<br />
	Shift + Plus + 4 ~ Rate as 4<br />
	Shift + Plus + 5 ~ Rate as 5<br />
	Shift + Plus + &gt; ~ Skip Verse<br />
	Shift + Plus + P ~ Show/Hide Prompts<br />
	Shift + Plus + V ~ Show/Hide Verse</p>
</div>

<h2>Reviewing your verses</h2>
<p>Welcome to the verse memorization page. This is where you will spend most of your time.</p>
<h3>Learning by typing</h3>

<p>When Memverse gives you a verse, you will use the tools on this page to learn or review it.
To begin, type the text of the verse as you remember it into the grey box.
As you type, Memverse will give you live feedback. When Memverse gives you the "Correct" message,
it is time to rate your review.
If a verse is new to you or you cannot remember it, you should use the "Show Verse" feature to view the verse text.
Then hide the verse and see how much you can remember by typing the text in the grey box. You should continue
using the "Show Verse" option when you need it until you have typed the verse perfectly.
</p>

<p>Please note that if a verse is not due for review today, Memverse gives you the option to skip it with a
fast-forward symbol (&gt;&gt;) next to the rating numbers. Clicking this will skip the verse for now,
but Memverse will still bring it back to you another day.</p>

<h3>Rating your recall</h3>
<p>Having reviewed a verse, it is important to tell the software how well you remembered it.
This allows Memverse to bring it back to you for review at an optimal time. There are five possible ratings:</p>

<h4>5. Remembered - Perfect</h4>
<p>Only select this option when you feel that you are reviewing a memory verse too frequently. Selecting this option will increase the review interval fairly dramatically. As tempting as it is to get the verse memorized as quickly as possible, you will find that you will have an increasingly difficult time recalling the verse if you select this option too frequently. It is best selected when you recall a verse instantly and can recite it perfectly without any hesitation whatsoever.</p>
<h4>4. Remembered - Hesitation</h4>
<p>We have had difficulty coming up with a suitable label for this option but it is intended to be used when you feel that you have recalled a memory verse to your satisfaction and with only slight hesitation. This is the option to select when everything feels just right. If you think to yourself: &quot;It's a good thing I reviewed this verse now otherwise I might have forgotten it,&quot; then you should select this option.</p>
<h4>3. Remembered - Difficult</h4>
<p>We recommend making frequent use of this option. If you struggle to recall a passage of scripture but can eventually <em>get it correct without looking at the verse</em> then you should select this option. If you have any doubt about rating yourself with option 4 or 5 then this is the selection for you. You will get to review the verse more frequently than the two options above but the interval will still continue to increase.</p>
<h4>2. Don't Know - Familiar</h4>
<p>Either of these next two options will reset the interval to one day and the verse will revert to 'learning' status. Don't worry, Bible memorization is a long term effort and starting again sooner, rather than later, will be profitable in the long run. Select this option if you can't associate the bible reference with the memory verse or if you cannot recite or type the verse without using the flash card.</p>
<h4>1. Don't Know - No Idea</h4>
<p>Select this when you can't remember anything. Memverse will adjust the review of the verse to be more frequent. This is a good option to select when you are starting a new verse as it will start the verse on a more frequent review schedule.</p>
<p>You shouldn't think of the five options as though you are grading yourself on a test. Rather, think of them as you giving feedback to the Memverse system to allow it to adjust the review schedule optimally. It is designed to be a flexible system: if you are the type of person who would like to know each verse backwards and forwards with perfect punctuation, then you can use the five memory assessment options to achieve that goal. If it's not critical to you whether you occasionally substitute the word 'for' in place of 'because' or swap 'Jesus Christ' with 'Christ Jesus' then you can adjust your feedback accordingly.</p>
<p>Finally, don't agonize too much over which rating you choose. If you remembered the verse select one in the 3 - 5 range. If you can't remember it select 1 or 2. The Memverse algorithm will gradually adjust over time.</p>