<table cellpadding="4" cellspacing="0" id="upcoming-verses">
	
	<% if @upcoming_verses.empty? %>
			<tr>
				<td>None</td>		 		
			</tr>		
	<% else%>
		<% for mv in @upcoming_verses %>
			<tr>
				<td class="upcoming-verse-ref"><%= mv.verse.ref %></td>		 		
			</tr>
		<% end %>
	<% end %>
		
</table>	

	
	