<table cellpadding="4" cellspacing="0">
	
	<% if @upcoming_verses.empty? %>
			<tr>
				<td>None</td>		 		
			</tr>		
	<% else%>
		<% for mv in @upcoming_verses %>
			<tr>
				<td><%= mv['verse'] %></td>		 		
			</tr>
		<% end %>
	<% end %>	
</table>	

	
	