<% page_title I18n.t :add_new_verses, :scope => 'page_titles' %>
<% page_description I18n.t :add_new_verses, :scope => 'page_descriptions' %>
<div class="white-box-with-margins">
	    
	<!-- Search for a verse -->
	<div class="quick-start-enter-verse">
		
		<div class="top-heading">
	    	<h3><span>Select a Bible Verse</span></h3>
	    </div>
	    
	    <!-- Reference entry box -->
	    <div class="verse-field">
	    	<div class="ui-widget">
	    		<label class="tag">Verse:</label>
	        	<%= text_field_tag(:verse, params[:verse], :class => "verse-search-by-tl-and-display" )%> 
				<img class="spinner" id="ajax_spinner" src="/assets/indicator2.gif" alt="Searching ..." style="display: none" />
	        </div>
	    </div>
	        
	    <!-- Results of verse retrieval -->    
	    <div id="quick-start-verse-selection">
		    <!-- Show found verse -->
			<div id="existing-verse-add" class="quick-start-show-verse quick-start-add-section">
			    <div id="foundVerse"></div>
			    <div id="quick-start-add-verse" class="quick-start-add-verse"></div>
			</div>
		    <!-- Enter a new verse -->
			<div id="new-verse-entry" class="quick-start-new-section">
		    	<label class="tag">Enter Verse Text:</label>
				<%= text_area_tag(:versetext, params[:versetext], :overflow => "hidden", :class => "verse-entry-box" )%>
			    <div class="quick-start-add-verse">
			   		<div class="quick-start-add-button"></div>
			   	</div>
		    </div>    	  	  	
	    </div>
				
	</div>	    
	    

</div> <!-- white-box-bg -->

