<% page_title I18n.t :chapter_review, :scope => 'page_titles' %>
<div>
	<h2>Chapter Review</h2>
	
	<p>If you'd like to review an entire chapter, rather than just the sections that are due today, you can select one of your chapters below. Any
	verses that are covered in this review will be omitted from your regular memorization session today.</p>
		
	<table class="memverse-standard">
		<tr>		  	   	  		  
			<th>Status</th>
			<th>Chapter</th>
		</tr>
		
		<% for cc in current_user.complete_chapters %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td align="center">	<%= cc[0] %></td>		
				<td align="left">	<%= link_to cc[1], :action => 'test_chapter', :book_chapter => cc[1]	%></td>	
			</tr>
		<% end %>
	</table>
	
</div>

