<div>
	<title>Contact / Feedback</title>
	<h1>Feedback and Contact</h1>
	
	<div id=email-feedback>		
		<p>
			Feedback is always welcome. Constructive feedback even more so. 
			Email us at: admin [at] memverse (dot) com
		</p>
	</div>
	
	
	<div id=twitter-button>
		<p>If you would like to follow Memverse on Twitter, click the icon below:</p>
	
		<a href="http://twitter.com/Memverse">
			<img	src="http://twitbuttons.com/buttons/vincentabry/Twitter-16.png" 
					alt="Twitter Button" 
					width="150" 
					height="90"/></a>
	</div>
		
		
	<div id="skype-contact">
		
		<p>Feel free to IM us on Skype if you have any questions</p>	
			
		<!-- Skype 'My status' button http://www.skype.com/go/skypebuttons -->
		<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
		<a href="skype:andy_vitus?chat"><img src="http://mystatus.skype.com/bigclassic/andy_vitus" 
		   style="border: none;" width="182" height="44" alt="My status" />
		</a>
	</div>	
	
	<br>
	
	<!-- Facebook - become a fan -->
	<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script>
	<script type="text/javascript">FB.init("b114614898df90328376ed012b794ed5");</script>
	<fb:fan profile_id="197413925309" stream="" connections="" width="300"></fb:fan><div style="font-size:8px; padding-left:10px">
		<a href="http://www.facebook.com/pages/Memverse/197413925309">Memverse on Facebook</a> </div>
	
</div>