<% page_title I18n.t :edit_verse, :scope => 'page_titles' %>
<div class="white-box-with-margins">
	<h1>Editing Verse</h1>

	<%= form_tag :action => 'update_verse', :id => @verse do %>
	  <%= render :partial => 'edit_verse_form' %>
	  <%= submit_tag 'Edit' %>
	<% end %>
</div>

