
<body id="inner1-body">
<div id="wrapper"><!--wrapper start-->
  
    <div class="two-box"><!--two-box start-->
    	<div class="white-box1">
        	<div class="yellow-icon"><img src="images/icon3.png" width="49" height="49" alt="" /></div>
            <div class="wbox-text">
            	<h3>Verse of the Minute</h3>
                <p>Though I speak with the tongues of men and of angels, and have not charity, I am become as sounding brass, or a tinkling cymbal.</p>
                <span class="verse"><strong>KJV</strong></span>
            </div>
        </div>
        <div class="white-box2">
        	<div class="yellow-icon"><img src="images/icon4.png" width="49" height="49" alt="" /></div>
        	<div class="wbox-text2">
            	<h3 class="nospace">Verse of the Minute</h3>
                <p><span class="number">54,586</span>&nbsp;&nbsp; verses memorized on <strong>Memverse</strong>.</p>
                <span class="verse"><a href="#">Go To Your Verses</a></span>
            </div>
        </div>
    </div><!--two-box end-->
    
    <div><img src="images/trans.png" width="1" height="10" alt="" />&nbsp;</div>
    
    <div class="tab-bg">
    <div class="tab-top">
    <div class="tab-bottom">
    	<div class="tab-nav">
        	<ul>
            	<li class="dashboard active"><a href="#">Dashboard</a></li>
                <li class="devotions"><a href="#">Spurgeons Daily Devotions</a></li>
                <li class="dashboard"><a href="#">Verse of the Day</a></li>
            </ul>
        </div>
		<div class="tab-content">
        	<h3>Recently on Memverse</h3>
            <div class="tab-content-left">
            	<ul>
                	<li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                </ul>
            </div>
            <div class="tab-content-right">
            	<ul>
                	<li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                    <li><a href="#">Eunice Sophia has memorized her 40th verse</a> <span>[20 minutes ago]</span></li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
    </div> <!-- tab-bottom -->
    </div> <!-- tab-top -->
    </div> <!-- tab-bg -->
    <div class="clr"></div>
        
</div><!--wrapper end-->
</body>
