<% title "Memverse" %>

<ul class="rounded">
	<li class="arrow"><%= link_to t('home_menu.Add Verse'), 			add_verse_path %></li>
	<li class="arrow"><%= link_to t('memorize_menu.Memorize'),			test_verse_path %></li>
	<li class="arrow"><%= link_to t('memorize_menu.Reference Recall'), 	start_ref_test_path %></li>
	<li class="arrow"><%= link_to t('leader_menu.Leaderboard'),			leaderboard_path %></li>
</ul>