<% page_title I18n.t :memory_verse_review, :scope => 'page_titles' %>

<div>

    <div class="verse-selection">

        <!-- Reference entry box -->
        <div class="verse-field ui-widget">
            <label class="tag">Enter a reference or keyword</label>
            <img class="spinner spinner-add-verse" id="ajax_spinner" src="/assets/indicator2.gif" alt="Searching ..." style="display: none" />
            <%= text_field_tag(:verse, params[:verse], :class => "flex-verse-search", :id => "js_flex-verse-search" )%> 
        </div>        

        <!-- List of verses-->
        <div class="verse-list">
            <ul id="upcoming-verses">
                <% if @verses.empty? %>

                    <li>(None)</li>                     

                <% else %>
                    
                    <% for mv in @verses[0...14] %>
                        <li class="upcoming-verse-ref <%= cycle("gray2", "white2") %>">
                            <%= mv.verse.ref %>         
                        </li>
                    <% end %>
                    
                    <% if @verses.length >= 15 %>
                        <li></li>
                        <li>( ... <%= @verses.length-14 %> more )</li>
                    <% end %>
                    
                <% end %>
            </ul>   
        </div>

        <!-- Action buttons -->
        <div class="verse-list-actions">

        </div>

    </div> 

    <div class="verse-learning">

    </div>


</div>