<div id="video-feed" class="front-page-segment">
	<script type="text/javascript" 
			src="http://pshared.5min.com/Scripts/PlayerSeed.js?sid=203&width=400&height=235&videoControlDisplayColor=%23191919&categories=181&autoStart=false">			
	</script>
</div>

<div id="news-feed" class="front-page-segment">
	<h2>Latest News</h2>
	<ul>
		<% if @posts %>
			<% @posts.each do |post| %>
				<li>
					<%= link_to post.title, post.link %>
					<br>
					<div id="post-description"><%=post.description%></div>
				</li>
			<% end %>
		<% end %>
	</ul>	
</div>