<%= render :partial => 'verse_form' %>

<div class="no-dbl-click">
	<%= link_to '[Add]', :action => 'quick_add', :vs => @verse %>
</div>

<!-- Prevent double-clicking of links to add verses -->
<script type="text/javascript">
	$(document).ready(function(){
		$('.no-dbl-click').click( function() {
			$(this).attr('disabled', 'disabled').hide();
		});
	});
</script>