<% page_title I18n.t :accuracy_test, :scope => 'page_titles' %>
<% page_description I18n.t :accuracy_test, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">

	<!-- Left side -->
	<div id="reftest-leftside">

		<div id="reftest-left-top">
			<!-- Verse Heading -->
			<div class="top-heading">
		    	<h2><span class="q-num">0</span><span>.  Reference: </span><span class="verse-ref"></span></h2>
		    </div>

		</div>

		<div id="reftest-left-bottom">

			<div class="top-heading">
		    	<h2><span>Reference: </span></h2>
		    </div>

		    <div>
				<%= text_area_tag(:answer, params[:answer], :autocomplete => "off", :size => "25x10" )%>
				<input id="submit-ref" class="submit-button"></input>
			</div>

		</div>


	</div>

	<!-- Right side -->
	<div id="reftest-rightside">

		<div id="top-dashboard">

	    	<div id="gauge" class="200x160px"></div>

	    </div>

	    <div id="reftest-feedback">

	    	<h2><span>Prior Questions</span></h2>

	    	<div id="past-questions">

	            <div class="diff-calc">

	                <div class="original"></div>
	                <div class="changed"></div>
	                <div class="diff"></div>

	            </div>

	    		<div class="fadeout"></div>

	    	</div>

		</div>

	</div>

</div>


<script language="JavaScript" type="text/javascript"><!--

    var memverseUserID = "<%= current_user.id %>"; // global variable

    // www.justgage.com
    var g = new JustGage({
		id: "gauge",
		value: "<%= current_user.accuracy %>",
		min: 0,
		max: 100,
		levelColors : ["#993333","#f9c802","#99cc33"],
		title: "Accuracy %"
	});

    $(document).ready(function() {

        //------- Initialize session ------------------
        accTestState.initialize(<%= current_user.accuracy %>);

        //------- Scoring an accuracy test ----------------------
        $( "#reftest-leftside" ).on( "click", ".submit-button", function( e ) {

        	var user_answer = $("#answer").val()

        	// Capture answer
            $(".changed").html( user_answer );

            // Calculate diff
            $(".diff-calc").prettyTextDiff({
                cleanup: true
            });


        	var questionScore;
        	var refGrade;

        	// Calc score
            questionScore = accTestState.scoreRecitation( user_answer, accTestState.currentText );
            alert( questionScore );

            // Update user's accuracy score
            userAccuracy = accTestState.updateAccuracy( questionScore );
            g.refresh( userAccuracy );

            // Get next reference for testing
            accTestState.getMV();

        });

		//------- Handle enter key ----------------------
        $('#answer').keypress(function (e) {
			if (e.which == 13) {
				$('#submit-ref').click();
				return false;
			}
		});


    }); // End of jQuery document ready
--></script>





