<div class="white-box-bg">
	<div class="test-verse">
    	<div class="top-heading">
        	<h2><span>Verse:</span> John 15:7</h2>
            <div class="hide-hints"><a href="#">Hide Hint</a></div>
        </div>
        <div class="yellow-box">W s w a a c a w s g a c o w, l u l a e w, a t s w d s e b u, a l u r w p t r t i s b u,</div>
        <div class="verse-test-area">
        	<form action="" method="get">
            	<div>
            		<textarea name="" cols="" rows="" class="verse-test-entry-box"></textarea>
                </div>
            </form>
        </div>
        <div class="tool-tip-nav">Rate Your Performance Level:</div>
        <div class="tool-tip-number">
        	<a href="#">1<span>Don't Know - No Idea</span></a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
    </div>
    
    <div class="feedback">
    	<h2>Live Feed Back</h2>
        <p>Waiting for you to begin typing...</p>
    </div>
    
    <div class="upcoming">
    	<h2>Upcoming Verses</h2>
        <ul>
        	<li class="gray2"><a href="#">Jn 15:7</a></li>
            <li class="white2"><a href="#">Jn 15:7</a></li>
            <li class="gray2"><a href="#">Jn 15:7</a></li>
            <li class="white2"><a href="#">Jn 15:7</a></li>
            <li class="gray2"><a href="#">Jn 15:7</a></li>
            <li class="white2"><a href="#">Jn 15:7</a></li>
            <li class="gray2"><a href="#">Jn 15:7</a></li>
        </ul>
        <div class="upcoming-button">
        	<a href="#"><img src="/images/add-more.png" width="192" height="25" alt="" /></a>
            <a href="#"><img src="/images/modify.png" width="192" height="25" alt="" /></a>
        </div>
    </div>
    <div class="clr"></div>
</div>
        

