<% page_title I18n.t :reftest, :scope => 'page_titles' %>

<div class="white-box-with-margins">

	<!-- Left side -->
	<div id="reftest-leftside">

		<div id="reftest-left-top">
			<!-- Verse Heading -->
			<div class="top-heading">
		    	<h2><span>Question: </span><span class="verse-ref q-num">0</span></h2>
		    </div>

			<!-- Verse Text -->
			<div id="reftestVerse">

			</div>
		</div>

		<div id="reftest-left-bottom">

			<div class="top-heading">
		    	<h2><span>Reference: </span></h2>
		    </div>

		    <div>
				<%= text_field_tag(:answer, params[:answer], :autocomplete => "off" )%>
				<input id="submit-ref" class="submit-button"></input>
			</div>

		</div>


	</div>

	<!-- Right side -->
	<div id="reftest-rightside">

		<div id="top-dashboard">

	    	<div id="gauge" class="200x160px"></div>

            <div id="overdue-refs">
                <div id="overdue-refs-num"></div>
                <div id="overdue-refs-txt">References Due Today</div>
            </div>

	    </div>

	    <div id="reftest-feedback">

	    	<h2><span>Prior Questions</span></h2>

	    	<div id="past-questions">
	    		<div class="fadeout"></div>
	    	</div>

		</div>

	</div>

</div>


<script language="JavaScript" type="text/javascript"><!--

    var memverseUserID = "<%= current_user.id %>"; // global variable

    // www.justgage.com
    var g = new JustGage({
		id: "gauge",
		value: "<%= current_user.ref_grade %>",
		min: 0,
		max: 100,
		levelColors : ["#993333","#f9c802","#99cc33"],
		title: "Reference Recall"
	});

    $(document).ready(function() {

        //------- Initialize session ------------------
        refTestState.initialize(<%= current_user.ref_grade %>);

        //------- Scoring a verse ----------------------
        $( "#reftest-leftside" ).on( "click", ".submit-button", function( e ) {

        	var questionScore;
        	var refGrade;

        	// Calc score
            questionScore = refTestState.scoreRef( $("#answer").val() );

            // Update current reference test grade
            refGrade = refTestState.updateRefGrade( questionScore );
            g.refresh( refGrade );

            // Get next reference for testing
            refTestState.getRef();

        });

		//------- Autocomplete and focus ----------------------
		$('#answer').focus().autocomplete({ source: ['Genesis', 'Exodus', 'Leviticus', 'Numbers', 'Deuteronomy', 'Joshua', 'Judges', 'Ruth', '1 Samuel', '2 Samuel',
		            '1 Kings', '2 Kings','1 Chronicles', '2 Chronicles', 'Ezra', 'Nehemiah', 'Esther', 'Job', 'Psalm', 'Proverbs',
		            'Ecclesiastes', 'Song of Songs', 'Isaiah', 'Jeremiah', 'Lamentations', 'Ezekiel', 'Daniel', 'Hosea', 'Joel',
		            'Amos', 'Obadiah', 'Jonah', 'Micah', 'Nahum', 'Habakkuk', 'Zephaniah', 'Haggai', 'Zechariah', 'Malachi', 'Matthew',
		            'Mark', 'Luke', 'John', 'Acts', 'Romans', '1 Corinthians', '2 Corinthians', 'Galatians', 'Ephesians', 'Philippians',
		            'Colossians', '1 Thessalonians', '2 Thessalonians', '1 Timothy', '2 Timothy', 'Titus', 'Philemon', 'Hebrews', 'James',
		            '1 Peter', '2 Peter', '1 John', '2 John', '3 John', 'Jude', 'Revelation']
		});

		//------- Verify Verse Format ----------------------
		$("#answer").observe_field(0.3, function( ) {
			if ( validVerseRef(this.value) ) {
				$("#answer").css({ borderColor: '#4C586E', backgroundColor: '#AFAEAE' });
			}
			else {
				$("#answer").removeAttr("style");
			}
        });

		//------- Handle enter key ----------------------
        $('#answer').keypress(function (e) {
			if (e.which == 13) {
				$('#submit-ref').click();
				return false;
			}
		});

		// $("#id_of_textbox").keyup(function(event){
		//     if(event.keyCode == 13){
		//         $("#id_of_button").click();
		//     }
		// });

    }); // End of jQuery document ready
--></script>





