<div class="passage-list-headings">

    <div class="psg-line-item heading psg-ref"       >Passage</div>
    <div class="psg-line-item heading psg-interval"  >Interval</div>
    <div class="psg-line-item heading psg-next-date" >Next Review</div>
    <div class="psg-line-item heading psg-progress"  >Progress</div>

</div>