<% page_title I18n.t :my_memory_verses, :scope => 'page_titles' %>

<div class="white-box-with-margins">

    <div class="passage-list">

        <%= render partial: "passage_headings" %>
        <%= render partial: "passage", collection: @passages %>

    </div>

</div>

<script language="JavaScript" type="text/javascript"><!--

    var memverseUserID = "<%= current_user.id %>"; // global variable

    $(document).ready(function() {

        //------- Initialize session ------------------------------
        passageListState.initialize( <%= @passages.pluck(:id).to_json %> );

        //------- Show progress for each passage ------------------
        passageListState.showPassagesProgress();

        //------- Enable passage expansion ----- ------------------
        $('.single-line-passage').on("click", function () {
            passageListState.expandPassage( $(this), $(this).find(".psg-id").text() );
        });


    }); // End of jQuery document ready


--></script>
