<% page_title I18n.t :my_memory_verses, :scope => 'page_titles' %>

<div class="white-box-with-margins">

    <div class="passage-list">

        <%= render partial: "passage_headings" %>
        <%= render partial: "passage", collection: @passages %>

    </div>

</div>
