<% page_title I18n.t :memory_verse_review, :scope => 'page_titles' %>

<div class="white-box-bg">
<div class="main-verse-review">

    <div class="passage-entry">

        <h2 class="passage-title"></h2>

        <!-- Handle each verse as a separate entity -->
        <div class="verse-not-due"></div>

        <div class="verse-due"></div>

    </div> <!-- end: passage-entry column -->

    <div class="upcoming-passages">

    </div> <!-- end: upcoming-passage column -->

</div>
</div>

<script language="JavaScript" type="text/javascript"><!--

    $(document).ready(function() {

        // This can be moved to memverse_lib once development is done
        var reviewState = {
            // setup
            initialize: function () {
                $.getJSON('passages/due.json', function (data) {
                    
                    var items = [];

                    $.each(data, function( index, mv ) {
                        items.push('<li id="' + mv.id + '">' + mv.ref + '</li>');
                    });

                    $('<ul/>', {
                        'class': 'passage-list',
                        html: items.join('')
                    }).appendTo('.upcoming-passages');

                });
            },
        }

        // Initialize session
        reviewState.initialize();



    }); // End of jQuery document ready
--></script>