<% page_title I18n.t :memory_verse_review, :scope => 'page_titles' %>

<div class="white-box-bg">
<div class="main-verse-review">

    <div class="passage-entry">

        <h2 class="passage-title"></h2>

        <div class="passage-text">

            <!-- Handle each verse as a separate entity -->
            <div class="verse-not-due"></div>

            <div class="verse-due"></div>

        </div>


    </div> <!-- end: passage-entry column -->

    <div class="upcoming-passages upcoming">
        <h2>Upcoming Passages</h2>
    </div> <!-- end: upcoming-passage column -->

</div>
</div>

<script language="JavaScript" type="text/javascript"><!--

    $(document).ready(function() {

        // This can be moved to memverse_lib once development is done
        var reviewState = {
            // setup
            initialize: function () {
                // Retrieve passages that are due for review
                $.getJSON('passages/due.json', function (data) {

                    var items = [];

                    // Build list
                    $.each(data, function( index, mv ) {
                        items.push('<li class="upcoming-verse-ref white2" id="' + mv.id + '">' + mv.ref + '</li>');
                    });

                    // Add entire list
                    $('<ul/>', { 'class': 'passage-list', html: items.join('') }).appendTo('.upcoming-passages');

                });
            },

            selectPassage: function ( passageRef, passageID ) {
                // retrieve memory verses for passage
                $.getJSON('passages/' + passageID + '/memverses.json', function (data) {
                    // display passage
                    mvDisplayPassageForReview( passageRef, data )
                });

            },
        }

        // Initialize session
        reviewState.initialize();

        // Select passage for review
        $( ".upcoming-passages" ).on( "click", ".upcoming-verse-ref", function( e ) {
            $(this).fadeOut();
            reviewState.selectPassage( $(this).text(), $(this).attr('id') );
        });

    }); // End of jQuery document ready
--></script>