<% page_title I18n.t :memory_verse_review, :scope => 'page_titles' %>

<div class="white-box-bg">
<div class="main-verse-review">

    <div class="passage-entry">

        <h2 class="passage-title"></h2>

        <!-- Handle each verse as a separate entity -->
        <div class="verse-not-due"></div>

        <div class="verse-due"></div>

    </div> <!-- end: passage-entry column -->

    <div class="upcoming-passages">

    </div> <!-- end: upcoming-passage column -->

</div>
</div>

<script language="JavaScript" type="text/javascript"><!--
    $(document).ready(function() {



    }); // End of jQuery document ready
--></script>