/*
 *= require normalize
 */

@charset "utf-8";
/* CSS Document */

.blacktext	{ background-color:#1F2229 } /* Almost black text */

/* Font sizes for Tag cloud */
#tagcloud a {padding:0 7px;margin-top:2px}
.cloud1 {font-size: 80%; background-color:#f2f1f1; } // light grey
.cloud2 {font-size: 90%; background-color:#bfbebe; } // med grey
.cloud3 {font-size: 90%; background-color:#afaeae; } // dark grey
.cloud4 {font-size:100%; background-color:#a2d70e; } // dark green
.cloud5 {font-size:100%; background-color:#b3ee0f; } // light green
.cloud6 {font-size:120%; background-color:#f88e00; } // orange
.cloud7 {font-size:140%; background-color:#fc3; }    // yellow

/* New colors

Grey
#262626;
#333333;
#555555;
#666;
#717171;
#a6a4a4;
#afaeae;
#bfbebe;
#f2f1f1;

Red
#993333;
#983626;
#aa0101;
#b95c2e;
#e17329;

Green
#3c5313;
#577a1a;
#6b9620;
#7ca529;
#99cc33 or #9c3; Menu green

Yellow
#ffcc00 or fc0;

Blue
#1f8ec2;
 -- */


body
{
	background:#bfbebe image_url('body-bg.png') repeat-x left top;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 0.8125em;
	color:#333;
	padding:0;
	margin:0;
}

form, input
{
	padding:0;
	margin:0;
}

textarea, button, input, select {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a
{
	color:#1F2229;
	outline:none;
}

a:link {
	text-decoration:none;
}

a:visited {
	text-decoration:none;
}

a:hover
{
	outline:none;
	text-decoration:underline;
}

img
{
	border:0;
}

img a
{
	border:0;
}

.clr
{
	clear:both;
}

.flt_lft
{
	float:left;
}

.flt_rht
{
	float:right;
}

.red-number {
	font-size:larger;
	font-weight:bold;
	color:#983626;
}

h1, h2, h3, h4, h5, h6 {
	font-family:"museo-slab",Georgia,"Times New Roman",Times,serif;
}

.hidden { display:none }

/*========== Wrapper ==========*/

#wrapper
{
	width:1080px;
	margin:0 auto;
}

.page-content{
  h2 {
	padding:0;
	margin:0;
	min-height:30px;
	font-size:17px;
	line-height:30px;
	color:#7ca529;
  }

  h4 {
	padding:0;
	margin:0;
	font-size:13px;
	line-height:16px;
  }

  h5 {
	padding:0;
	margin:0 0 1em 0;
	font-size: 11px;
	line-height: 16px;
  }

}

/*========== White Boxes ==========*/

.white-box-bg {
  width:1080px;
  height: 1%; overflow: hidden;
  background:#FFF;
  border:1px solid #555;
  padding:2em 0;
  border-radius:10px;
}

.white-box-with-margins {
  width:1056px;
  background:#FFF;
  border:1px solid #555;
  padding:12px;
  border-radius:10px;
  min-height: 500px;
}

.two-thirds-white-box {
  float: left;
  width: 55%;
  min-height: 262px;
  background: #fff;
  border:1px solid #555;
  margin: 0.5em 0.5em;
  padding:2em 2em;
  border-radius:10px;
}

.one-third-white-box {
  float: left;
  width: 32%;
  min-height: 262px;
  background: #fff;
  border:1px solid #555;
  margin: 0.5em 0.5em;
  padding:2em 2em;
  border-radius:10px;
}


/*========== Header ==========*/

#no-js {
	position:absolute;
	top:0;
	left:0;
	height:30px;
	line-height:30px;
	background:#d65800;
	width:100%;
	border-bottom:2px solid #8e3800;
}

#no-js p{
	text-align:center;
	font:bold 14px/30px 'Open Sans',Arial,Helvetica,Geneva,sans-serif;
	margin:0;
	padding:0;
	color:#fff;
}

#no-js p a{
	color:#f7cb47;
	text-decoration:underline;
	padding:1px 4px 3px;
	border-radius:3px;
}

#no-js p a:hover{
	background:#e45d00;
}

#header
{
	width:1080px;
	margin:0 auto;
}

.header-top
{
	width:1080px;
	height:63px;
}

/* Narrower header for sign in page ... too difficult to resize this page now */
.header-top-narrow
{
	width:940px;
	height:63px;
}

#logo
{
	width:253px;
	height:31px;
	float:left;
	padding-top:17px;
}

.top-right
{
	width:165px; /* was 490 when iPhone app teaser present */
	float:right;
}

.resize
{
	width:40px;
	height:15px;
	float:left;
	margin-right:5px;
	padding-top:25px;
}

#large
{
	background:image_url('resize-big.png') no-repeat left top;
	width:15px;
	height:15px;
	float:left;
	margin-right:6px;
	cursor:pointer;
}

#small
{
	background:image_url('resize-small.png') no-repeat left top;
	width:15px;
	height:15px;
	float:left;
	cursor:pointer;
}

.iphone
{
	background:image_url('i-phone.png') no-repeat right center;
	font:16px/31px "Times New Roman",Times,serif;
	width:245px;
	height:31px;
	float:left;
	margin-top:18px;
	color:#FFF;
	margin-right:5px;
}

.auth-button
{
	width:195px;
	float:left;
	padding-top:20px;
}

.auth-button ul
{
	list-style:none;
	padding:0;
	margin:0;
}

.auth-button ul li
{
	background:image_url('main-buttons.png') no-repeat 0 -225px;
	width:79px;
	height:25px;
	text-align:center;
	line-height:25px;
	font-size:10px;
	font-weight:bold;
	color:#333;
	float:left;
	margin-right:6px;
}

.auth-button ul li a
{
	display:block;
	width:79px;
	height:25px;
	color:#333;
	text-decoration:none;
}

.auth-button ul li a:hover
{
	color:#b95c2e;
	text-decoration:none;
}


/*========== Form buttons ==========*/
.submit-button
{
	background:image_url('main-buttons.png') no-repeat 0 -150px;
	width:69px;
	height:25px;
	border:0;
	cursor:pointer;
}

input.secondary {
	color: #7ca529;
	border:1px solid;
	font-size: 100%;
	height: 1.4em;
	background-color:#f2f1f1;
	border-color: #9c3;
	cursor:pointer;
}

input.large {
	height:1.5em;
	width:15em;
	font-size:1.5em;
}

.buttons input[type="submit"] {
	padding: 0.2em 0.5em;
}

/*========== Top Menu ==========*/
.menu
{
	height:90px;
}

.menu-main-only
{
	height:48px;
}

.menu ul
{
	list-style:none;
	padding:0;
	margin:0;
}

.menu ul li
{
	background:image_url('nav-sepa.png') no-repeat left top;
	float:left;
	height:42px;
	line-height:42px;
	color:#FFF;
	font-weight:normal;
	text-transform:uppercase;
}

.menu ul li a
{
	color:#FFF;
	text-decoration:none;
	padding:0 15px;
	display:block;
}

.menu ul li a:hover, ul li.selected a
{
	color:#9c3;
	text-decoration:none;
}

.submenu
{
	height:42px;
}

.submenu-left
{
	width:1040px;
	height:42px;
	float:left;
}

.submenu ul
{
	list-style:none;
	padding:0;
	margin:0;
}

.submenu ul li
{
	float:left;
	height:33px;
	line-height:33px;
	margin-top:5px;
	color:#9c3;
	font-weight:normal;
	padding:0;
	background:none;
	text-transform:none;
}

.submenu ul li.nopad
{
	padding-left:0;
}

.submenu ul li a
{
	color:#9c3;
	text-decoration:none;
	display:block;
}

.submenu ul li a:hover, .submenu ul li.active a
{
	color:#fc3;
	text-decoration:none;
}

.submenu-icon
{
	width:32px;
	height:32px;
	float:right;
	padding-top:3px;
}

/* Start with submenus hidden */
.submenustyle {
	display:none;
	filter:alpha(opacity=0);
	-moz-opacity:0;
}

/*========== Verse Illumination Ribbon ==========*/
#news-strip
{
	background:image_url('news-ribbon.png') no-repeat left top;
	width:940px;
	height:46px;

  .scrollable {
	/* required settings */
	position:absolute;
	overflow:hidden;
	left:35px;
	width:650px;
	height:90px;
  }

  .scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
  }

  .items div {
	float:left;
	width:650px;
  }

  .strip-left
  {
	width:171px;
	height:46px;
	float:left;
	font:15px/46px "Times New Roman",Times,serif;
	color:#FFF;
	padding-left:50px;
  }

  .strip-right
  {
	width:719px;
	height:46px;
	float:right;
	text-align:center;
	line-height:46px;
	font-style:italic;
	color:#666;
	position:relative;
  }

  .strip-right span
  {
	color:#000;
	font-weight:bold;
  }

  .arrow-left
  {
	width:15px;
	height:26px;
	position:absolute;
	left:20px;
	top:8px;
	cursor:pointer;
  }

  .arrow-right
  {
	width:15px;
	height:26px;
	position:absolute;
	right:20px;
	top:8px;
	cursor:pointer;
  }
}

/*========== Banner ==========*/

#banner-bg
{
	background:image_url('banner-bg.png') no-repeat left top;
	width:1080px;
	height:309px;
}

.banner-top
{
	width:1080px;
	height:246px;
}

.banner-img
{
	width:209px;
	float:left;
	padding-left:1px;
	padding-top:26px;
	margin-right:35px;
}

.banner-text
{
	width:695px;
	float:left;
}

.banner-text h1
{
	padding:30px 0 15px;
	margin:0;
	font-weight:normal;
	font-size:30px;
	color:#983626;
}

.text-left
{
	width:305px;
	float:left;
	margin-right:35px;
}

.text-right
{
	width:295px;
	float:left;
}

.banner-text ul
{
	list-style:none;
	padding:0;
	margin:0;
}

.banner-text ul li
{
	background:image_url('right.png') no-repeat left top;
	font-size:14px;
	font-weight:bold;
	color:#666;
	padding:2px 0 22px 30px;
}

.banner-text ul li.free
{
	font-size:18px;
	font-weight:bold;
	color:#7ca529;
	font-style:italic;
}

.banner-text ul li.free a
{
	color:#7ca529;
	text-decoration:none;
}

.banner-text ul li.free a:hover
{
	color:#7ca529;
	text-decoration:underline;
}

.banner-text ul li a
{
	color:#666;
	text-decoration:none;
}

.banner-text ul li a:hover
{
	color:#333;
	text-decoration:none;
}

/* ===== Red and green action buttons on main page ====== */

.banner-bottom
{
	width:1080px;
	height:63px;
}

.banner-bottom ul
{
	list-style:none;
	padding:0;
	margin:0;
	padding:20px 0 0 60px;
}

.banner-bottom ul li
{
	background:image_url('main-buttons.png') no-repeat left top;
	width:179px;
	height:25px;
	float:left;
	text-align:center;
	line-height:25px;
	font-size:11px;
	font-weight:bold;
	color:#FFF;
	text-transform:uppercase;
	margin-right:35px;
}

.banner-bottom ul li a
{
	width:179px;
	height:25px;
	display:block;
	color:#FFF;
	text-decoration:none;
}

.banner-bottom ul li a:hover, .banner-bottom ul li a.active
{
	background:image_url('main-buttons.png') no-repeat 0 -75px;
	color:#FFF;
	text-decoration:none;
}

/* ===== Flash Messages ====== */


.gray-box-bg {
	width:1030px;
	background:#717171;
	border:1px solid #717171;
	padding:0 25px;
	border-radius:10px;
}


div.flash {
	width:1030px;
	min-height:29px;
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	line-height:29px;
	padding-left:25px;
	text-transform:uppercase;
	margin-bottom:8px;
	margin-top:8px;
}

div.flash a {
	font-size:13px;
	font-weight:bold;
	color:#fc0;
	text-transform:uppercase;
}

div.flash span
{
	color:#fc0;
}

/* div#flash-notice {
}

div#flash-warning {
}

div#flash-error {
} */

#narrow-login div.flash {
	margin-top:10px;
	width:884px;
  margin-bottom:8px;
  margin-top:5px;
}

/*========== Content ==========*/

#content
{
	width:1080px;
}

#content h2
{
	height:39px;
	line-height:39px;
	padding:0;
	margin:0;
	font-size:18px;
	color:#577a1a;
	font-weight:normal;
	padding-left:15px;
}

#content h2.red
{
	color:#983626;
}

#content h2.gray
{
	color:#555;
}


.side-margins {
	padding:0 2em;
}

.narrow-side-margins {
	padding:0 0.5em;
}

.content-box1
{
	background:image_url('box1-mid.png') repeat-y left top;
	width:294px;
	float:left;
	margin-right:11px;
}

.content-box1-top
{
	background:image_url('box-tops.png') no-repeat 0 0;
	width:294px;
}

.content-box1-bottom
{
	background:image_url('box1-bott.png') no-repeat left bottom;
	width:294px;
}

.text-area1
{
	width:268px;
	padding:15px 15px 5px 11px;
}

.content-row
{
	width:268px;
	margin-bottom:10px;
}

.content-icon
{
	width:46px;
	float:left;
	text-align:center;
}

.content-text
{
	width:212px;
	float:right;
	color:#666;
}

.content-text h3
{
	padding:0;
	margin:0;
	font-size:120%;
	color:#1f8ec2;
	font-weight:bold;
	padding-bottom:5px;
}

.content-text p
{
	padding:0;
	margin:0;
}

.learn-more
{
	display:block;
	font-size:12px;
	color:#933;
	padding-top:5px;
}

.learn-more a
{
	color:#933;
	text-decoration:underline;
}

.learn-more a:hover
{
	color:#e17329;
	text-decoration:underline;
}

.content-box2
{
	background:image_url('box2-mid.png') repeat-y left top;
	width:354px;
	float:left;
	margin-right:12px;
}

.content-box2-top
{
	background:image_url('box-tops.png') no-repeat -344px 0;
	width:354px;
}

.content-box2-bottom
{
	background:image_url('box2-bott.png') no-repeat left bottom;
	width:354px;
}

.text-area2
{
	width:314px;
	padding:20px;
}

.content2-row
{
	width:314px;
	margin-bottom:33px;
}

.content2-icon
{
	width:16px;
	float:left;
	text-align:center;
	margin-right:10px;
}

.content2-text
{
	width:275px;
	float:left;
	font-size:12px;
	color:#666;
}

.content2-text h3
{
	padding:0;
	margin:0;
	font-size:16px;
	color:#1f8ec2;
	font-weight:bold;
	padding-bottom:5px;
}

.post-date
{
	display:block;
	color:#999;
	font-size:11px;
	padding-bottom:5px;
}

.content2-text p
{
	padding:0;
	margin:0;
}

.content-box3-area
{
	width:269px;
	float:left;
}

.content-box3
{
	background:image_url('box3-mid.png') repeat-y left top;
	width:269px;
	float:left;
	margin-bottom:10px;
}

.content-box3-top
{
	background:image_url('box-tops.png') no-repeat -748px 0;
	width:269px;
}

.content-box3-bottom
{
	background:image_url('box3-bott.png') no-repeat left bottom;
	width:269px;
}

.sign-field
{
	width:237px;
	padding:13px 16px;
}

.new-field
{
	background:image_url('sign-field.png') no-repeat left top;
	width:227px;
	height:18px;
	border:0;
	padding:4px 5px;
	line-height:18px;
	margin-bottom:12px;
	outline:none;
}

.button-area
{
	height:25px;
}

.forgot
{
	width:120px;
	height:25px;
	float:left;
	font-size:12px;
	color:#666;
}

.right-button
{
	width:69px;
	height:25px;
	float:right;
}

.content-box3-top2
{
	background:image_url('box-tops.png') no-repeat -1067px 0;
	width:269px;
}

.nomar
{
	margin-bottom:0;
}

.volunteers
{
	width:237px;
	padding:13px 16px;
}

.volunteers span
{
	color:#933;
}

.volunteers span a
{
	color:#933;
	text-decoration:none;
}

.volunteers span a:hover
{
	color:#933;
	text-decoration:underline;
}

.volunteers p
{
	padding:0;
	margin:0;
}

.learn-area
{
	text-align:center;
	padding-top:22px;
	height:25px;
}

/*========== Footer ==========*/

#footer
{
	width:1080px;
	height:70px;
	text-align:center;
	font-size:12px;
	color:#333;
	line-height:70px;
}

#footer span
{
	color:#933;
}

#footer span a
{
	color:#933;
	text-decoration:underline;
}

#footer span a:hover
{
	color:#FFF;
	text-decoration:underline;
}

/*========== Layout ==========*/

#inner1-body
{
	background:#bfbebe image_url('body-bg2.png') repeat-x left top;
}

.inner-top-right
{
	background:image_url('user-icon.png') no-repeat left top;
	min-width:220px;
	height:18px;
	line-height:18px;
	margin-top:23px;
	float:right;
	color:#FFF;
	text-align:left;
	padding-left:25px;
}


.breadcum-area
{
	width:1080px;
	height:38px;
}

.breadcum-left
{
	width:600px;
	float:left;
}

.home-icon
{
	display:block;
	width:25px;
	height:23px;
	float:left;
	padding-top:6px;
	margin-right:6px;
}

.breadcum-link
{
	width:560px;
	height:23px;
	line-height:23px;
	float:left;
	padding:8px 7px 0 0;
}

.breadcum-link a
{
	color:#000;
	text-decoration:none;
}

.breadcum-link a:hover
{
	color:#000;
	text-decoration:underline;
}

.breadcum-right
{
	width:395px;
	float:right;
	text-align:right;
	padding-top:5px;
}

.breadcum-right img
{
	margin-left:8px;
	height:25px;
}

/*========== Home Page ==========*/

.two-box
{
	width:1080px;
	font-size:12px;
	color:#666;
}

.two-box p, .two-box h3
{
	padding:0;
	margin:0;
}

.two-box h3
{
	font-size:18px;
	color:#6b9620;
	font-weight:bold;
	padding-bottom:5px;
}

.two-box h3.nospace
{
	padding-bottom:0;
}

.votm
{
	width:60%;
	min-height:91px;
	float:left;
	padding:14px 14px 0;
	background:#FFF;
	border:1px solid #555;
	border-radius:10px;
}

.progress-info
{
	width:33%;
	min-height:91px;
	float:right;
	padding:14px 14px 0;
	background:#FFF;
	border:1px solid #555;
	border-radius:10px;
}

.votm-text
{
	width:90%;
	float:right;
	padding-bottom:14px;
}

.yellow-icon
{
	width:49px;
	height:49px;
	float:left;
	padding-top:12px;
}

.verse
{
	display:block;
	font-size:14px;
	color:#aa0101;
	font-style:italic;
	padding-top:5px;
	font-weight:normal;
}

.verse a
{
	color:#aa0101;
	text-decoration:underline;
}

.verse a:hover
{
	color:#F60;
}

.progress-text
{
	width:80%;
	float:right;
}

.number
{
	font:24px Georgia,"Times New Roman",Times,serif;
	color:#3c5313;
}


/*.home-page-tabs {

}*/

.tab-top {
	width:1080px;
	background:#767575;
	border-style:solid solid none;
	border-width:1px;
	border-color:#555;

	-moz-border-radius-topright:10px;
	-webkit-border-radius-topright:10px;
	border-top-right-radius:10px;

	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}

.tab-bottom {
	width:1080px;
	background:#FFF;
	border-style:none solid solid;
	border-width:1px;
	border-color:#555;

	-moz-border-radius-bottomright:10px;
	-webkit-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;

	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}

.tab-nav
{
	width:1080px;
	height:51px;
}

.tab-nav ul
{
	list-style:none;
	padding:0;
	margin:0;
	padding:13px 0 0 18px;
}

.tab-nav ul li
{
	height:51px;
	float:left;
	font-size:12px;
	font-weight:bold;
	float:left;
}

.tab-nav ul li.normtab
{
	background:image_url('tabs.png') no-repeat 0 -255px;
	width:158px;
	height:29px;
	text-align:center;
	line-height:29px;
	color:#666;
}

.tab-nav ul li.normtab a
{
	width:158px;
	height:38px;
	display:block;
	color:#666;
	text-decoration:none;
}

.tab-nav ul li.normtab a:hover, .tab-nav ul li.active a
{
	background:image_url('tabs.png') no-repeat 0 0;
	color:#983626;
	text-decoration:none;
}

.tab-nav ul li.widetab
{
	background:image_url('tabs.png') no-repeat 0 -176px;
	width:206px;
	height:29px;
	text-align:center;
	line-height:29px;
	color:#666;
}

.tab-nav ul li.widetab a
{
	width:206px;
	height:38px;
	display:block;
	color:#666;
	text-decoration:none;
}

.tab-nav ul li.widetab a:hover, .tab-nav ul li.widetab.active a
{
	background:image_url('tabs.png') no-repeat 0 -88px;
	color:#983626;
	text-decoration:none;
}

.tab-content
{
	width:1040px;
	padding:25px 20px;
	min-height:420px;
}

.tab-content h3
{
	margin:0 0 15px;
	padding:0 0 10px;
	font-size:18px;
	color:#6b9620;
	font-weight:bold;
	padding-bottom:10px;
	border-bottom:1px solid #a6a4a4;
	margin-bottom:15px;
}

.tab-content div div ul li a {
	color:#000
}

.tab-content div div ul li a:hover {
	text-decoration:underline
}

.tab-content-left
{
	width:49%;
	padding-right:1%;
	float:left;
}

.tab-content-right
{
	width:49%;
	padding-left:1%;
	float:left;
}

.tab-content ul
{
	list-style:none;
	padding:0;
	margin:0;
}

.tab-content ul li
{
	background:image_url('tab-list-icon.png') no-repeat left 2px;
	font-size:12px;
	color:#666;
	padding:0 0 15px 17px;
}

.tab-content ul li span
{
	color:#6b9620;
}

.tab-content ul li a
{
	color:#666;
	text-decoration:none;
}

.tab-content ul li a:hover
{
	color:#000;
	text-decoration:none;
}

.tab-content #devotion, .tab-content #daily-activity, .tab-content #community
{
	display:none;
	width:100%;
}

#reset-schedule {
	background:#777;
	font-size:larger;
	margin:0.5em 1em;
	padding:0.25em 1em;
}

/*========== Getting Started Page ==========*/
.left-start {
	float:left;
	width:45%;
	font-size:150%;
	margin-left:1%;
}

.left-start ol {
	line-height:200%;
}


.right-start {
	float:left;
	width:45%;
	font-size:110%;
	margin-left:4%;
}

/*========== Add Verse ==========*/

.enter-verse
{
	width:45%;
	float:left;
	padding-left:3em;
	padding-right:2em;
	margin-right:4em;
	border-right:1px solid #bfbebe;
}

.verse-entry-box
{
	width:100%;
	height:140px;
	background:#f2f1f1;
	border:1px solid #ccc;
	overflow:auto;
}

.verse-field
{
	padding:10px 0 20px;
}

.tag
{
	font-size:13px;
	font-weight:bold;
	color:#666;
	display:block;
	padding-bottom:5px;
}

.translate
{
	padding:0 0 20px;
}

.verse-search
{
	background:image_url('verse-field.png') no-repeat left top;
	width:308px;
	height:19px;
	border:0;
	padding:4px 5px;
	line-height:19px;
}

.translation
{
	width:25%;
	float:left;
	padding-left:2em;
}

.translation h2
{
	padding:0;
	margin:0;
	height:30px;
	font-size:17px;
	line-height:30px;
	color:#7ca529;
}

.translation-drop
{
	width:318px;
}

.trans-button
{
	text-align:right;
	padding-top:5px;
}

.add-verse
{
	background:image_url('add-verse.png') no-repeat left top;
	width:122px;
	height:25px;
	border:0;
	cursor:pointer;
}

.translation-drop2
{
	width:208px;
}

/*========== Bible Search ==========*/

#searchParams {
	width:500px;
	height:27px;
	padding-right:25px; /* puts padding on the right side, so text doesn't go under the button. NOTE:TOTAL WIDTH IS 240 + 25 = 265px */
	float:left; /* some browsers display correctly without this, but better to leave it for cross browser compatibility */
	border:1px solid #577a1a; /* sets new color for border of the field */
}
#searchSubmit{
	background:transparent image_url('search_button.png') no-repeat;
	width:20px;
	height:20px;
	border:0;
	cursor:pointer;
	margin-left:-24px; /* image is 20x20px, so leave little extra */
	margin-top:4px; /* leave some space from the top, so button looks in the middle */
}


/*-- OLD STYLES BELOW THIS LINE ------------------*/

/* === Global Styles === */

.action-link {
	font-style:italic;
	color:#577a1a; /* green */
	font-weight:bold;
}

.unsubscribe-link {
	font-style:italic;
	font-weight:bold;
}

.superscript {
	vertical-align:super;
	font-size:70%;
}


.text-highlight {
	color:#577a1a;
	font-weight:bold;
}

.red-highlight {color:#f00}

.hilite {
	background:yellow;
}

.instructions {
	background:#9c3;
	padding:0.3em 1em;
}

table.memverse-standard {
	border:1px none black;
	border-spacing:1px;
	border-collapse:separate;
	background-color:white;
}

table.memverse-standard thead th {
	padding:10px;
	color:#fff;
	border:1px solid #93CE37;
	border-bottom:3px solid #9ED929;
	background-color:#9DD929;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(108,144,36)),
		color-stop(0.51, rgb(129,172,43)),
		color-stop(0.87, rgb(153,204,51))
		);
	background: -moz-linear-gradient(
		center bottom,
		rgb(108,144,36) 2%,
		rgb(129,172,43) 51%,
		rgb(153,204,51) 87%
		);
}

table.memverse-standard thead th:empty{
	background:transparent;
	border:0;
}

table.memverse-standard thead th a
{
	color:#FFF;
}

table.memverse-standard td {
	border:thin solid #f2f1f1;
	background-color:#f2f1f1;
	color:#232323;
	padding:3px;
}

table.memverse-standard tbody th {
	padding:15px;
	color:#fff;
	border:1px solid #93CE37;
	border-right:3px solid #9ED929;
	background-color:#9DD929;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(108,144,36)),
		color-stop(0.51, rgb(129,172,43)),
		color-stop(0.87, rgb(153,204,51))
		);
	background: -moz-linear-gradient(
		center right,
		rgb(108,144,36) 2%,
		rgb(129,172,43) 51%,
		rgb(153,204,51) 87%
		);
}

table.memverse-standard td a
{
	color:#232323;
}

table.memverse-standard td a:hover
{
	color:#000;
}

/* Image tags */
img.left {
	float:left;
}
img.right {
	float:right;
}
img.centre {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div.center {
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

#search-box {
	margin:1em 0
}

#search-box h2 {
	padding-bottom:5px;
}

/* === Container for Page === */
#container {
	width:1280px;
	height:950px;
	margin:0 auto;
}

/*
#meebo-toolbar {
	width:100%;
	height:70px;
}
*/

/* === Maximum width content e.g. tutorials, descriptions etc === */
.max-width {
	width:96%;
}

/* === Main Layout Page for Users === */

#auth a {
	color:#1F2229;  /* light green */
	background:#687284; /* dark green */
	text-align:right;
	padding-top:4px;
	padding-bottom:4px;
}

#auth {
	float:right;
	color:#1F2229;  /* light green */
	background:#687284; /* dark green */
	font-size:100%;
	text-align:right;
	padding-top:4px;
	padding-bottom:4px;
	margin-right:10px;
}

#auth li {
	margin-top:.20em;
	margin-bottom:.20em;
}

#columns {
	background:#687284; /* dark green */
}

/* === Styling for list of verses and users === */
#verse-list .list-title, #user-list .list-title {
	color:#244;
	font-weight:bold;
	font-size:medium;
}

#verse-list .list-image, #user-list .list-image {
  width:60px;
  height:70px;
}

#verse-list .list-actions, #user-list .list-actions {
  font-size:x-small;
  text-align:right;
  padding-left:1em;
}

#verse-list .list-line-even, #user-list .list-line-even {
  background:#586900;
}

#verse-list .list-line-odd, #user-list .list-line-odd {
  background:#B99500;
}

/* === Styling for user list table === */

table.user-list {
	width:85%;
	padding:6px;
	border-spacing:1px;
	border:1px solid;
	background-color:#BAB18E;
}



/* === Add a Verse Page and Forms === */

#avail-translations {
	background-color:#BAB18E; /* light green */
	width:325px
}

/* === Edit Verse === */

.verse_input {
	overflow:hidden;
	font-size:large;
	width:400px;
	height:200px;
}

.edit_area {
	overflow:hidden;
	font-size:110%;
}

/* === Demo Page for Test Verse === */

#instructions {
	position:relative;
	width:1056px;
	padding:12px;
	min-height:7em;
}

#instructions #instr-2 {
	display:none;
}

/* === Verse animation : Main Popular Verses Table === */

#pop-verses-table {
	width:30em;
	position:relative;
}

#pop-verses-table .is-in-user-list {
	background:#717171
}

.menu-popular td em {
	display:none;
	font-weight:normal;
	font-style:normal;
	z-index:2;
	position:absolute;
	left:32em;
	text-align:left;
	width:250px;
	background-color:#1F2229;
	outline:1px solid #669;
	border:2px solid #fff;
	padding:10px 15px;
	color:#fff;
	font-size:100%;
}

/* === User stats === */

.user-stats-table {
	float:left;
	margin:0.2em;
}

/* === Styling for test feedback === */

 /* 1st Panel */

#priorVerse {
	color:#444;  /* gray */
	padding-bottom:16px;
}

#currentVerse {
	position:relative;
	width:290px;
}

#complete-hint {
	display:none;
	width:290px;
}

div#currentVerse div#matchbox {
	padding-top: 30px;
	display: block;
	text-align: center;
}

div#currentVerse #matchbox span {
	font-size:130%;
	text-align:center;
	color:#9c3;  /* light green */
	background:#404040; /* dark gray */
	padding:0.2em 1em;
}

div#currentVerse #matchbox .incorrect {
	background:#687284; /* light green */
	font-size:200%;
	font-style:italic;
}

div#currentVerse #matchbox .correct {
	background:#687284; /* light green */
	font-size:500%;
	font-style:italic;
}

/* === Styling for Flashcard === */

.mnemonic
{
	background:#ffc;
	border:1px solid #ccc;
	padding:1em;
	font-weight:bold;
	color:#666;
	text-align:center;
	margin-bottom:8px;
	font-family:Georgia,Verdana,Geneva,sans-serif;
	position:relative;
}

#mclose {
	position:absolute;
	top:2px;
	right:6px;
	font-size:10px;
	color:#999;
	cursor:pointer
}
#mtext span{cursor:pointer}
#mclose:hover, #mtext span:hover {font-weight:bold;color:#333}

/* === Styling for Chapter Review === */
#chapter-test-left {
	width:35%;
	padding:0 2em 0 3em;
	float:left;
	border-right:1px solid #bfbebe;
	min-height:480px;
}

.chapter-feedback #currentVerse {
	position:relative;
	width:380px;
}

/* === Prior Verses in Chapter === */
#chapter-prior-verses {
	margin-top:0;
	float:left;
	width:54%;
	height:550px;
	padding-left:2em;
}

#chapter-text {
	height:530px; /* 20px less than the height of chapter-prior-verses */
	overflow-y:auto;
}

#chapter-text .verse-text {
	display:none;
	width:93%;
}

/* === Tweets === */
div.tweet {
	padding:0.2em 0
}

.tweet .time {
	color:#606060;
	font-size:80%
}

/* === Leaderboard Styles === */
#leaderboard .current_user {
	background:#687284
}

.group-description {
  width: 60%;
  padding: 0 0.5em 1em;
}


/* === Error Messages === */
div#errorExplanation {
  width:400px;
  border:2px solid red;
  padding:7px;
  padding-bottom:12px;
  margin-bottom:20px;
  background-color:#f0f0f0;
}

div#errorExplanation h2 {
  text-align:left;
  font-weight:bold;
  padding:5px 5px 5px 15px;
  font-size:12px;
  margin:-7px;
  background-color:#c00;
  color:#fff;
}

div#errorExplanation p {
  color:#333;
  margin-bottom:0;
  padding:5px;
}


div#errorExplanation ul li {
  font-size:12px;
  list-style:square;
}

/* === Video === */
/* div.video {

} */

/* === Align search to Get Satisfaction === */
#scontainer {
  position:fixed;
  right:-10px;
  height:150px;
  top:25%;
}

/* === Verse Filtering === */
#vsfilter {
  padding:10px;
  font:bold 12px "Open Sans",Arial,sans-serif;
  position:absolute;
  right:50px;
  top:100px;
  display:none;
}

/* === Search Icon === */
#searchico {
  position:absolute;
  right:0;
  top:100px;
  display:none;
  cursor:pointer;
}

.focusField{
	border:solid 2px #3c5313;
	background:#EFF5FF;
	color:#000;
}
.idleField{
	background:#EEE;
	color:#6F6F6F;
	border:solid 2px #DFDFDF;
}

/* === Referrals Page === */
.referrals-section {
	margin-top:1.5em;
}

/* === Styles for home page === */

#volunteer a:link {
	text-decoration:underline;
}


/* === Entry Forms === */

.entry-form {
	width:360px;
}

.entry-form fieldset {
	background-color:#eee; /* light green */
}

.entry-form legend {
	background:#ccc; /* dark green */
	color:#222; /* lightest green */
	padding:0.2em 1em;
}

.entry-form label {
	width:6em;
	float:left;
	text-align:right;
	margin-right:0.5em;
	display:block;
}

.entry-form ul li {
	list-style:none;
}

.entry-form .submit {
	margin-left:2.5em;
}

.entry-form .buttons {
	margin-left:2.5em;
}

/* === Forms: Errors === */

div.fieldWithErrors {
  padding:2px;
  background-color:red;
  display:table;
}

div.fieldWithErrors label {

}

div.fieldWithErrors input, div.fieldWithErrors select,
div.fieldWithErrors textarea
{

}

abbr.timeago{border-bottom:none}
