#bloggity_container  {
	width:1056px;
	background:#FFF;
	border:1px solid #555;
	padding:12px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	min-height:400px;
}

#bloggity_container img {
	border:0;
}

#bloggity_container table {
	border-collapse: separate;
	border-spacing: 0;
}

#bloggity_container table, #bloggity_container td, #bloggity_container th {
	vertical-align: middle;
}

#bloggity_container h1, #bloggity_container h2, #bloggity_container h3, #bloggity_container h4, #bloggity_container h5, #bloggity_container h6 {
	font-weight: normal;
	color: #111;
}

#bloggity_container h1 {
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0.5em;
}

#bloggity_container h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
#bloggity_container h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}
#bloggity_container h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin: 1.25em 0 0.25em;
	height: 1.25em;
}
#bloggity_container h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
#bloggity_container h6 {
	font-size: 1em;
	font-weight: bold;
}
#bloggity_container p {
	margin: 0 0 1.5em;
}
#bloggity_container p img {
	padding: 0;
}
#bloggity_container a:focus, #bloggity_container a:hover {
	color:#577a1a;
	text-decoration:underline;
}
#bloggity_container a {
	color: #577a1a;
}
#bloggity_container blockquote {
	margin: 1.5em;
	color: #666;
	font-style: italic;
}
#bloggity_container strong {
	font-weight: bold;
}
#bloggity_container em {
	font-style: italic;
}
#bloggity_container abbr, #bloggity_container acronym {
	border-bottom: 1px dotted #666;
}
#bloggity_container address {
	margin: 0 0 1.5em;
	font-style: italic;
}
#bloggity_container pre, #bloggity_container code {
	margin: 1.5em 0;
	white-space: pre;
}
#bloggity_container pre, #bloggity_container code, #bloggity_container tt {
	font: 1em 'andale mono' , 'lucida console' , monospace;
	line-height: 1.5;
}
#bloggity_container ul {
	list-style-type: disc;
}
#bloggity_container ol {
	list-style-type: decimal;
}
#bloggity_container table {
	margin-bottom: 1.4em;
	width: 100%;
}
#bloggity_container th {
	font-weight: bold;
	background: #C3D9FF;
}
#bloggity_container th, #bloggity_container td {
	padding: 4px 10px 4px 5px;
}
#bloggity_container tr.even td {
	background: #E5ECF9;
}
#bloggity_container caption {
	background: #eee;
}
#bloggity_container .small {
	font-size: .8em;
	margin-bottom: 1.875em;
	line-height: 1.875em;
}
#bloggity_container .large {
	font-size: 1.2em;
	line-height: 2.5em;
	margin-bottom: 1.25em;
}
#bloggity_container .hide {
	display: none;
}
#bloggity_container label {
}
#bloggity_container fieldset {
	padding: 1.4em;
	margin: 0 0 1.5em 0;
	border: 1px solid #ccc;
}
#bloggity_container legend {
	font-weight: bold;
	font-size: 1.2em;
}
#bloggity_container input.text, #bloggity_container input.title, #bloggity_container textarea, #bloggity_container select {
	margin: 0.5em 0;
	border: 1px solid #bbb;
}
#bloggity_container input.text:focus, #bloggity_container input.title:focus, #bloggity_container textarea:focus, #bloggity_container select:focus {
	border: 1px solid #666;
}
#bloggity_container input.text, #bloggity_container input.title {
	width: 300px;
	padding: 5px;
}
#bloggity_container input.title {
	font-size: 1.5em;
}

/* Specific styles */

#bloggity_container #header {
	background-color:#51555C;
	background-position:left bottom;
	background-repeat:repeat-x;
	color:#CECFD1;
	padding:10px;
}

#bloggity_container #header h1 {
	font-size:36px;
	font-weight:normal;
	line-height:1;
	margin-bottom:9px;
	color:White;
}

#bloggity_container #header h1 a {
	color:White;
	text-decoration:none;
}

#bloggity_container #header .subtitle {
	color:White;
	font-weight:normal;
}

#bloggity_container #main_content {
	width:750px;
	float:left;
	padding:15px;
}

#bloggity_container #main_content .one_blog {
	padding-top: 1em;
	padding-bottom: 1em;
}

#bloggity_container #main_content .one_blog h1, #bloggity_container #main_content .one_blog h2 {
	padding-bottom:8px;
}

#bloggity_container #main_content .one_blog h1 a, #bloggity_container #main_content .one_blog h2 a {
	text-decoration:none;
	color:#333;
	font-size:28px;
}

#bloggity_container #main_content .one_blog h1 a:hover, #bloggity_container #main_content .one_blog h2 a:hover {
	color:#555;
	border-bottom:1px solid #555;
}

#bloggity_container #main_content .one_blog .info, #bloggity_container #main_content .one_blog .info a {
	color:#577a1a;
}

#bloggity_container #main_content .one_blog .info a.comments {
	color:#555;
}

#bloggity_container #side_nav_container {
	background:#eee;
	float:right;
	width:250px;
}

#bloggity_container #side_nav_container ul.blog_list {
	margin-left:0;
	padding-left:5px;
	list-style-type:none;
}

#bloggity_container #side_nav_container ul.blog_list li {
	padding-bottom:5px;
}

#bloggity_container #side_nav_container ul.blog_list li a {
	color:#577a1a;
	text-decoration:underline;
}

#bloggity_container #side_nav_container ul.blog_list li a:hover {
	color:#6b9620;
}

#bloggity_container .subtitle {
	color:#666;
	font-size:14px;
	font-weight:bold;
}

#bloggity_container .comment {
	border-bottom:1px solid #ddd;
	margin-bottom:1em;
}

#bloggity_container .comment .comment-body {
	margin-left:90px;
	min-height:30px;
	padding:1em;
	padding-bottom:0;
}

#bloggity_container .comment.not_approved .comment-body {
	background-color:yellow;
}

#bloggity_container .comment-img img {
	float:left;
	border-radius: 5px;
}

#bloggity_container .comment-head {
	height:40px;
	margin-left:90px;
	background-color:#eee;
	text-overflow:ellipsis;
	border-radius: 5px;
}

#bloggity_container .comment-head a.commenter, time {
	padding:1em;
}

#bloggity_container .comment-head a.commenter {
	float:left;
	font-weight:bold;
	color:#999;
}

#bloggity_container .comment-head time {
	float:right;
}

#bloggity_container .comment-body ul.comment-actions {
	display:block;
	padding:0;
	text-align:right;
}

#bloggity_container .comment-body ul.comment-actions li {
	display:inline;
}

#bloggity_container #inner_asset_container .uploaded_asset {
	background:#eee;
	border:1px solid #ccc;
	padding:10px;
	margin:3px 0;
}
#blog_comment_comment {width:600px;height:150px}
#blog_comment_subject {display:none}
