@import "select2";
@import "variables";

#forums_container {
  width:1080px;
  background:#FFF;
  border:1px solid #555;
  padding:2em 1.5em;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}

#forums {
  .title {
    font-size: 174%;
  }
}

form.new_topic, form.new_post, form.edit_post {
  label {
    display: block;
    float: left;
    width: 5em;
  }

  textarea {
    width: 430px;
  }

  input[type="submit"] {
    margin: 1em 30em;
  }
}

#forum{
  position: relative;
  .secondary-nav{
    position: absolute;
    right: 0;
    top: 0;
  }
  .description{
    color: $lighter-text;
    font-style: italic;
  }

}

#topic, #forum {

  h2{
    padding: .5em;
    position: relative;
    background-color: $light-bg1;
    color: #232323;
    // margin: 0;
    a{
      text-decoration: none;
      color: #232323;
      &:hover{
        text-decoration: underline;
      }
    }
    a.reply{
      margin-right: 1em;
      font-weight: normal;
      position: absolute;
      right: 0;
      padding: .5em;
      background-color: #fff;
      font-size: .5em;
      text-decoration: none;
      &:hover{
        background-color: $light-bg1;
      }
    }
  }

  small {
    float: left;
    width: 100%;
    margin: 1em 0 0 1em;
  }


  #forum_topic_links, div#menu {
    width: 36%;
    // float: left;
    padding: 1em 0em;

    a {
      background-color: $bar1-midbg;
      padding: .5em;
      display: inline-block;
      color: $default-text;
      text-decoration: none;
      &:hover{
        background-color: $bar1-bottombg;
      }
      margin: 0;
    }
  }

  nav.pagination {
    float: right;
    padding: 1em 0;
    a{
      background-color: $bar1-midbg;
      padding: .50em 0.25em;
      display: inline-block;
      color: $default-text;
      text-decoration: none;
      &:hover{
        background-color: $bar1-bottombg;
      }
      margin: 0;
    }
  }
}

#posts, .row {

  .even{
    background-color: $light-bg1;
  }
  .odd{
    background-color: #cfcfcf;
  }
  .post{
    min-height: 75px;
    clear: both;
    position: relative;
    .user, .span2 {
      float: left;
      font-size: .75em;
      width: 140px;
      display: inline-block;
      padding: .5em 1em;
      .username{
        font-weight: bold;
      }
      .icon{
        width: 50px;
        height: 50px;
        display: inline-block;
      }
      .member-for{
        width: 80px;
        display: inline-block;
      }
    }
    .contents, .span7 {

      margin-left: 160px;
      min-height: 100px;
      border-left: 1px solid $mid-bg1;
      padding: 1em;

      time{
        padding: 5px;
        color: $lighter-text;
        margin-bottom: 1em;
        font-size: .7em;
        line-height: 18px;
      }

      .in_reply_to {
        font-size: 90%;
        font-style: italic;
      }

      .text{
        margin-right: 100px;
      }

      &:hover .btn-group {
        display: block;
      }

      .btn-group {
        display: none;
        position: absolute;
        right: 10px;
        bottom: 0;
        a {
          text-align: center;
          display: block;
          text-decoration: none;
          padding: .25em;
          margin-bottom: .25em;
          color: $default-text;
          background-color: $mid-bg1;
          &:hover {
            background-color: $mid-bg1-highlight;
          }
        }
      }
    }
  }
}

table.table-striped {
  width: 100%;
  background:#FFF;

  a{
    text-decoration: none;
    &:visited{
      color: $visited-text;
    }
    &:hover{
      text-decoration: underline;
    }
  }
  td, th{
    padding: .5em;
  }
  thead{
    th{
      background-color: $bar1-midbg;
      font-weight: normal;
      text-align: left;
    }
  }
  tbody{
    color: $lighter-text;
    .subject{
    }
    .started-by{
      font-size: .7em;
      color: $lighter-text;
    }
    .latest-post{
      font-size: .7em;
      width: 80px;
      a{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .posts-count, .views-count{
      font-size: .8em;
      width: 80px;
    }
  }
}

.pages{
  .page{
    display: inline-block;
    padding: .25em;
    &.current{
      background-color: $light-bg1;
    }
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.lock.icon{
  width: 24px;
  height: 24px;
  background: transparent image_url('forem/lock_icon.png') 0 0;
  display: inline-block;
}

.pin.icon{
  width: 9px;
  height: 15px;
  background: transparent image_url('forem/pin_icon.png') 0 0;
  display: inline-block;
}

// --------------------------------------------------------
// New Topic Creation Form
// --------------------------------------------------------
#new_topic {

  // Subject
  input#topic_subject, {
    width: 45%;  // match text box below
  }

  // Text
  #topic_posts_attributes_0_text {
    width: 45%;  // match topic subject above
    height: 20em;
  }

  // Submit button
  .btn-primary {
    margin: 1em 35em;
    padding: 0.2em 0.4em;
  }

}

// --------------------------------------------------------
// Post Create/Edit Form. A post belongs to a topic
// --------------------------------------------------------
#new_post, .edit_post {

  // margin-left: 30em;
  margin-top: 1em;

  #post_text {
    width: 70%;
    height: 20em;
  }

  // Submit button
  .btn-primary, input[type="submit"] {
    margin: 1em 5em;
    padding: 0.2em 0.4em;
  }

}

// --------------------------------------------------------
// Group Admin
// --------------------------------------------------------
#groups thead th {
  background: #666666;
  color: white;
  padding: 10px;
  border-bottom: 3px solid #232323;
  font-size: 110%;
}

.select2-drop, .select2-choice {
  min-width: 240px;
}

