.diff-calc {
	.original, .changed {
		display: none;
	}
}

.prior-questions {
    .diff {
        padding-top: 1em;
    }
}

.submit-accuracy-answer {
    padding-left: 1em;
}

.prior-verse-text {
    padding-bottom: 1em;
}

// Attempt to style input box better

// textarea#answer {
//     background-color: #fff;
// }