/*========== Badges ==========*/
@mixin badge-properties {
  width: 120px;
  height: 120px;
  float: left;
  margin: 0 1em;
  display: block;
  background-size: contain;
}

.badges-container {
  overflow: hidden;
  padding: 1em 0;
}

// @import "badges/Sermon-on-the-Mount/*.png";

.sermon-on-the-mount {
  @include badge-properties;
  &.unearned {
    background: image-url('badges/Sermon-on-the-Mount/teaser.png') no-repeat;
    &:hover { background: image-url('badges/Sermon-on-the-Mount/hover.png') no-repeat; }
  }
}

.sermon-on-the-mount.earned {
  background: image-url('badges/Sermon-on-the-Mount/badge.png') no-repeat;
}

// @import "badges/Referrer/*.png";

.referrer.unearned {
  @include badge-properties;         
  background: image-url('badges/Referrer/teaser.png') no-repeat;
  &:hover { background: image-url('badges/Referrer/hover.png') no-repeat; }
}

.referrer.earned-gold {
  @include badge-properties;         
  background: image-url('badges/Referrer/gold.png') no-repeat;
}

.referrer.earned-silver {
  @include badge-properties;         
  background: image-url('badges/Referrer/silver.png') no-repeat;
}

.referrer.earned-bronze {
  @include badge-properties;         
  background: image-url('badges/Referrer/bronze.png') no-repeat;
}

// @import "badges/Consistency/*.png";

.consistency.unearned {
  @include badge-properties;         
  background: image-url('badges/Consistency/teaser.png') no-repeat;
  &:hover { background: image-url('badges/Consistency/hover.png') no-repeat; }
}

.consistency.earned-gold {
  @include badge-properties;         
  background: image-url('badges/Consistency/gold.png') no-repeat;
}

.consistency.earned-silver {
  @include badge-properties;         
  background: image-url('badges/Consistency/silver.png') no-repeat;
}

.consistency.earned-bronze {
  @include badge-properties;
  background: image-url('badges/Consistency/bronze.png') no-repeat;
}

// @import "badges/Quiz/*.png";

.quiz-champion.unearned {
  @include badge-properties;
  background: image-url('badges/Quiz/teaser.png') no-repeat;
  &:hover { background: image-url('badges/Quiz/hover.png') no-repeat; }
}

.quiz-champion.earned {
  @include badge-properties;
  background: image-url('badges/Quiz/gold.png') no-repeat;
}

/*========== End: Badges ==========*/