/*========== Badges ==========*/
@mixin badge-properties {
  width: 120px;
  height: 120px;
  float: left;
  margin: 0 1em;  
}

.sermon-on-the-mount {
  @include badge-properties;
  background: image_url('Sermon-on-the-Mount/teaser.png');
  &:hover { url: image_url('Sermon-on-the-Mount/hover.png'); };
}

.sermon-on-the-mount.earned {
  background: image_url('Sermon-on-the-Mount/badge.png');
}

.referrer.unearned {
  @include badge-properties;         
  background: image_url('Referrer/teaser.png');
  &:hover { url: image_url('Referrer/hover.png'); };
}

.referrer.earned-gold {
  @include badge-properties;         
  background: image_url('Referrer/gold.png');
}

.referrer.earned-silver {
  @include badge-properties;         
  background: image_url('Referrer/silver.png');
}

.referrer.earned-bronze {
  @include badge-properties;         
  background: image_url('Referrer/bronze.png');
}

.consistency.unearned {
  @include badge-properties;         
  background: image_url('Consistency/teaser.png');
  &:hover { url: image_url('Consistency/hover.png'); };
}

.consistency.earned-gold {
  @include badge-properties;         
  background: image_url('Consistency/bronze.png');
}

.consistency.earned-silver {
  @include badge-properties;         
  background: image_url('Consistency/bronze.png');
}

.consistency.earned-bronze {
  @include badge-properties;         
  background: image_url('Consistency/bronze.png');
}

/*========== End: Badges ==========*/