/*========== Live Quiz ==========*/
#quiz-header {
	border-top: 1px solid #BFBEBE;
	border-bottom:1px solid #bfbebe;
	height:60px;
	width:100%;
	display:table;
}

#quiz-header div {
	display:table-cell;
	vertical-align:middle;
	padding:33px;
	line-height:0;
	font-size:14px;
	height:100%;
}

#quiz-name {
	padding-right:10px;
}

#quiz-name, #quiz-timer, #countdown-till {
	float:left;
}

div#countdown-till {
	padding-left:0;
}

#quizzers-stats {
	float:right;
	cursor:pointer;
	font-weight:bold;
}

#quizzers-stats:hover, #quizzers-stats.expanded {
	background-color:#f2f1f1;
}

#quizzers-stats h2 {
	position:relative;

}

#live-quiz {
	width:480px;
	border-right:1px solid #bfbebe;
	padding:0 10px;
	height:600px;
	float:left;
}

#roster-window {
	max-height:520px;
	padding:10px;
	width:344px;
	overflow-y:auto;
	float:right;
	background-color:#f2f1f1;
	display:none;
	position:absolute;
	right:12px;
}

div.roster-item {
	width:155px;
	height:35px;
	padding:3px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	float:left;
}

div.roster-item a {
	padding-left:0.5em;
	color:#555;
}

div.roster-item img {
	vertical-align:middle;
	border-radius: 4px, 4px;
}


div#quiz-timer {
	line-height:normal;
	padding:12px 3px 12px 30px;
	border:none;
	background:none;
	height:100%;
	width:100px;
}

.q-dot {
    width:26px;
    height:26px;
    margin-bottom:5px;
    border-radius:13px;
    font-family:Arial;
    font-weight:bold;
    font-size:12px;
    color:#fff;
    line-height:26px;
    text-align:center;
    text-decoration:strong;
    color:gray;
    background-color:#e5e5e5;
    display:inline-block;
}

.q-dot.current {
	background-color:#cecece;
	color:black;
}

.q-dot.green:hover, .q-dot.green.current {
	background-color:green;
	color:white;
	cursor:pointer;
}

.q-dot.red:hover, .q-dot.red.current {
	background-color:red;
	color:white;
	cursor:pointer;
}

/* === Quiz Questions and Answers === */

#questions-answers {
	height:500px;
	width:480px;
	overflow:auto;
}

#q-msg {  /* Feedback on answers */
	float:left;
	min-height: 3.4em;
	padding: 0.1em 0.8em;
}

#q-question {
	padding: 0.1em 0.8em;
	font-size: 1em;
	background-color: #f0f0f0;
	clear: both;
	margin-bottom: 1em;
}

#q-answer {
	max-height:200px;
	padding-right:2em;
	font-size:1em;
}

textarea.q-answer-input {
	height:200px;
	width:400px;
}

ul.mcq {
	margin:0;
	font-size:1em;
	list-style-type:none;
	padding-left:0;
}

ul.mcq li {
	padding-left:40px;
	padding-bottom:20px;
}

ul.mcq li.correct {
	background: image_url('right.png') no-repeat left top;
	font-weight:bold;
}

ul.mcq li.incorrect {
	text-decoration:line-through;
}

#submit-answer, .green-button {
	padding:0.5em 1em;
	font-size:18px;
	margin-top:1em;
	border-radius: 4px, 4px;
	background-color:#6B9620;
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
	line-height:1;
	border-bottom:2px solid rgba(0, 0, 0, 0.25);
	color:#EEE;
	font-weight:bold;
}

#submit-answer:hover {
	color:white;
}

/* === Countdown Timer === */

/* jQuery Countdown styles 1.5.9. */
.hasCountdown {
	border:1px solid #ccc;
	background-color:#eee;
}
.countdown_rtl {
	direction:rtl;
}
.countdown_holding span {
	background-color:#ccc;
}
.countdown_row {
	clear:both;
	width:100%;
	padding:0px 2px;
	text-align:center;
}
.countdown_show1 .countdown_section {
	width:98%;
}
.countdown_show2 .countdown_section {
	width:48%;
}
.countdown_show3 .countdown_section {
	width:32.5%;
}
.countdown_show4 .countdown_section {
	width:24.5%;
}
.countdown_show5 .countdown_section {
	width:19.5%;
}
.countdown_show6 .countdown_section {
	width:16.25%;
}
.countdown_show7 .countdown_section {
	width:14%;
}
.countdown_section {
	display:block;
	float:left;
	font-size:75%;
	text-align:center;
}
.countdown_amount {
	font-size:200%;
}
.countdown_descr {
	display:block;
	width:100%;
}

/* === Scoreboard === */
#live-scoreboard {
	width:170px;
	border-right:1px solid #bfbebe;
	padding:0 10px;
	height:600px;
	float:left;
	overflow:auto;
}

#live-quiz-scores {
	list-style:none;
}

.scoreboard-username {
	float:left;
	width:125px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.scoreboard-score {
	padding-left:0.2em;
}

/* === Chat === */
#chat-window {
	width:340px;
	max-height:600px;
	float:right;
	padding:0 10px;
}

div#chat-stream-narrow {
	height:520px;
	overflow:auto;
	list-style:none;
	border-right:5px;
}

.chat-username {
	color:#577a1a;
	padding-left:0.2em;
}

.chat-message {
	padding-left:0.2em;
	margin-bottom:0.2em;
}

.chat-announcement {
	padding-left:0.2em;
	margin-bottom:0.2em;
	text-align:center;
	color:#777;
	font-style:italic;
}
