// ========= Variables ============================
$left-rating-gutter: 25%;   // Passage review page

// Scope styles for passage list
.passage-list {

    padding-bottom: 2em;

    .passage-list-headings {
        font-weight: bold;
    }

    .single-line-passage {  // one line in the display of all passages
        padding: 0.5em 0em;
        clear: both;
    }

    .psg-line-item {  // components that make up a single passage line
        float: left;
        margin: 0 1em;
    }

    .psg-id {
        display: none;
    }

    .psg-ref {
        min-width: 13.5%;
    }

    .psg-interval {
        min-width: 2.1%;
        text-align: right;
        .data-pt { padding-right: 1em; }   // TODO: Why doesn't this style get applied?
    }

    .psg-next-date {
        min-width: 6.7%;
        text-align: center;
    }

    .psg-progress {
        min-width: 50%;
        max-width: 67.7%;

        .mv-interval {
            float: left;
            margin: 0.1em 0.1em;
            min-width: 1.1em;
            max-width: 1.1em;
            min-height: 1.8em;
            font-size: smaller;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .getting-started  { background-color: #1e6823; color: rgba(0, 0, 0, 0); }
    .learning         { background-color: #44a340; color: rgba(0, 0, 0, 0); }
    .almost-memorized { background-color: #8cc665; color: rgba(0, 0, 0, 0); }
    .memorized        { background-color: #d6e685; color: rgba(0, 0, 0, 0); }
    .well-known       { background-color: #e7e7e7; color: rgba(0, 0, 0, 0); }
    .perfected        { background-color: #f1f1f1; color: rgba(0, 0, 0, 0); }

    .getting-started:hover  { background-color: #1e6823; color: #eee;}
    .learning:hover         { background-color: #44a340; color: #fff;}
    .almost-memorized:hover { background-color: #8cc665; color: #000;}
    .memorized:hover        { background-color: #d6e685; color: #000;}
    .well-known:hover       { background-color: #e7e7e7; color: #000;}
    .perfected:hover        { background-color: #f1f1f1; color: #000;}

    // ========= Styles for memverses in expanded passages =======

    // container for all memory verses in expanded passage
    .mv-list-details {
        clear: both;
        background-color: #eeeeee;
        margin: 2.5em 2em 1em;
        padding: 0.5em 1em 0.5em 1em;
    }

    .mv-headings {
        font-weight: bold;
    }

    // singe line for each memory verse
    .mv-details, .mv-headings {
        clear: both;
        padding-bottom: 0.2em;

        .mv-reference  { display: inline-block; width:  7%; }
        .mv-text       { display: inline-block; width: 25%; }
        .mv-interval   { display: inline-block; width:  4%; text-align: right; padding-right: 2em; }
        .mv-next-date  { display: inline-block; width: 12%; }
        .mv-subsection { display: inline-block; width:  4%; padding-left: 2em; }
    }
}


// Scope styles for passage review page
.main-verse-review {

    // ========= Top level left column ================
    .passage-entry {
        float: left;
        width: 70%;
        padding: 0 2em;
    }

    // .passage-text {
    //     overflow-y: auto;
    //     overflow-y: scroll;
    //     max-height: 600px;
    // }

    .single-verse-in-passage {
        margin-bottom: 0.5em;

        input.blank-word {
            background-color: #fff;
        }
    }

    .passage-rating {

        width: $left-rating-gutter;
        // display: none;

        .tool-tip-nav
        {
            background: image_url('tick.png') no-repeat left top;
            width:20%;
            height:21px;
            float:left;
            font-size:12.5px;
            color:#666;
            font-weight:bold;
            line-height:21px;
            padding-left:25px;
        }

        .score-test-buttons
        {
            width: 40%;
            height:21px;
            float:left;
            position:relative;
            font-size:larger;
        }

        .score-test-buttons span, .score-test-buttons a span
        {
            font-size:22px;
            color:#999;
            text-decoration:none;
            font-weight:bold;
            line-height:21px;
            padding:0 4px;
        }

        .score-test-buttons span:hover, .score-test-buttons a span:hover
        {
            font-size:22px;
            color:#7ca529;
            text-decoration:none;
            cursor:pointer;
        }

    }

    h2.passage-title {
        margin-left: $left-rating-gutter;
    }

    .ref-and-text {
        margin-left: $left-rating-gutter;
        font-size: larger;
    }

    .mv-id {
        display: none;
    }

    .passage-id {
        display: none;
    }

    // ========= Top level right column ===============
    .upcoming-passages {
        float:left;
        width: 20%;
        .upcoming-verse-ref {
            cursor:pointer;
        }
    }

}