/* === Edit Profile Page === */
#edit-profile-form {
  width:600px;
}

#edit-profile-form li {
  padding: 0.3em 0;
  width: 570px;
  list-style: none;
  clear: both;

  div.ui-widget {
    font-size: 100%;
  }

}

#edit-profile-form div.profile-section {
  padding: 1em 2em;
  width: 900px;
  margin-bottom: 2em;
  background-color: #eee;
  h2 { padding-bottom: 1em; }
}

#edit-profile-form label {
  width:15em;
  padding-right:0.5em;
  vertical-align: center;
  font-size: 110%;
}

/* Set size of text input fields */
.profile-wide-text-field {
  width: 18em;
  height: 1.5em;
}

input[type="checkbox"] {
  margin-top: 0.25em;
}

#edit-profile-form .buttons {
  margin-left: 22.5em;
  margin-bottom: 1em;
}

#edit-profile-form .update-profile {
  padding: 0.25em;
}

.warning {
  font-weight: bold;
  color: #b95c2e;
  padding-left: 1em;
}

.setting-explanation {
  width: 500px;
}
