// ========= Variables ============================
$left-rating-gutter: 25%;   // Passage review page

// Scope styles for passage list
.passage-list {

    .passage-list-headings {
        font-weight: bold;
    }

    .single-line-passage {  // one line in the display of all passages
        padding: 0.5em 1em;
        clear: both;
    }

    .psg-line-item {  // components that make up a single passage line
        float: left;
        margin: 0 1em;
    }

    .psg-id {
        display: none;
    }

    .psg-ref {
        min-width: 15%;
    }

    .psg-interval {
        min-width: 2%;
        text-align: right;
        .data-pt { padding-right: 1em; }   // TODO: Why doesn't this style get applied?
    }

    .psg-next-date {
        min-width: 6%;
    }

    .psg-progress {
        min-width: 62%;

        .mv-interval {
            float: left;
            margin-left: 0.2em;
            min-width: 1.8em;
            min-height: 1.8em;
            font-size: smaller;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .getting-started  { background-color: #1e6823; color: #1e6823;}
    .learning         { background-color: #44a340; color: #44a340;}
    .almost-memorized { background-color: #8cc665; color: #8cc665;}
    .memorized        { background-color: #d6e685; color: #d6e685;}
    .well-known       { background-color: #eeeeee; color: #eeeeee;}
    .perfected        { background-color: #99ccff; color: #99ccff;}

    .getting-started:hover  { background-color: #1e6823; color: #000;}
    .learning:hover         { background-color: #44a340; color: #000;}
    .almost-memorized:hover { background-color: #8cc665; color: #000;}
    .memorized:hover        { background-color: #d6e685; color: #000;}
    .well-known:hover       { background-color: #eeeeee; color: #000;}
    .perfected:hover        { background-color: #99ccff; color: #000;}
}


// Scope styles for passage review page
.main-verse-review {

    // ========= Top level left column ================
    .passage-entry {
        float: left;
        width: 70%;
        padding: 0 2em;
    }

    // .passage-text {
    //     overflow-y: auto;
    //     overflow-y: scroll;
    //     max-height: 600px;
    // }

    .single-verse-in-passage {
        margin-bottom: 0.5em;

        input.blank-word {
            background-color: #fff;
        }
    }

    .passage-rating {

        width: $left-rating-gutter;
        // display: none;

        .tool-tip-nav
        {
            background: image_url('tick.png') no-repeat left top;
            width:20%;
            height:21px;
            float:left;
            font-size:12.5px;
            color:#666;
            font-weight:bold;
            line-height:21px;
            padding-left:25px;
        }

        .score-test-buttons
        {
            width: 40%;
            height:21px;
            float:left;
            position:relative;
            font-size:larger;
        }

        .score-test-buttons span, .score-test-buttons a span
        {
            font-size:22px;
            color:#999;
            text-decoration:none;
            font-weight:bold;
            line-height:21px;
            padding:0 4px;
        }

        .score-test-buttons span:hover, .score-test-buttons a span:hover
        {
            font-size:22px;
            color:#7ca529;
            text-decoration:none;
            cursor:pointer;
        }

    }

    h2.passage-title {
        margin-left: $left-rating-gutter;
    }

    .ref-and-text {
        margin-left: $left-rating-gutter;
        font-size: larger;
    }

    .mv-id {
        display: none;
    }

    .passage-id {
        display: none;
    }

    // ========= Top level right column ===============
    .upcoming-passages {
        float:left;
        width: 20%;
        .upcoming-verse-ref {
            cursor:pointer;
        }
    }

}