/* === Quiz Question (Left panel) === */
.complete-quiz-question {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #eee;
}

.quiz-question {
    float: left;
    width: 34%;
    padding-right: 0 1em;
    p.true {
        color: green;
    }
}

.quiz-question-answers {
    float: left;
    width: 35%;
    p.true {
        color: green;
    }
}

.quiz-question-stats {
    float: left;
    width: 27%;
    padding: 1em;
    margin:0 auto;
}

.quiz-question-num {
    float:left;
    width: 20%;
    margin-bottom: 1em;
}

.quiz-question-type {
    float:left;
    width: 15%;
    margin-bottom: 1em;
}

#mcq {

    background-color: #f0f0f0;
    margin: 1em 0 0 0;
    padding: 1em;
    min-height: 460px;
    clear: both;

	.left-question {
		width: 38%;
		float: left;
	}

  .right-other-info {
      width: 50%;
      float: left;
  }

}

.quiz-submit {
    padding-top: 1em;
    clear: both;
}

/* === Quiz Question Stats (Right panel) === */
.quiz-question-stats table {
  border-spacing:0;
  text-align:center;
}

.quiz-question-stats table thead {
  height:27px;
  line-height:27px;
  padding:5px;
  margin:0;
  font-size:16px;
  color:#983626;
  font-weight:bold;
}

.quiz-question-stats table thead th {
  padding:5px;
}

.quiz-question-stats table tbody {
  height:25px;
  line-height:25px;
  color:#666;
}

.quiz-question-stats table tbody th {
  border-top:1px solid #afaeae;
  border-collapse:collapse;
  text-align:left;
}

.quiz-question-stats table tbody td {
  border-top:1px solid #afaeae;
  border-collapse:collapse;
}

.supporting-ref-display .item {
  clear: both;  // needed for short verses
}

/* === Quiz Question Nav (Bottom) === */
.quiz-question-navigation {
    padding-top: 2em;
    clear: both;
}

/* === Related Quiz Questions === */

div.related-quiz-questions {
  padding-bottom: 1em;
  clear: left;
}

/* Single element in search result ... */
div.related-q {

  clear: both;

  /* question */
  span.difficulty {
    color: #888888;
    font-size: smaller;
  }

  /* question */
  span.mcq-question {
    color: #999999;
    font-size: smaller;
  }

}
