.quick-start {
  min-height:550px;
}

/* Start with quick start steps hidden */
#minor-translations, #foreign-translations, #choose-time-alloc, #choose-starting-verses {
  display:none;
}

.quick-start-selection
{
  width:880px;
  height:63px;
}

.quick-start-selection ul
{
  list-style:none;
  padding:0;
  margin:0;
  padding:20px 0 0 60px;
}

.quick-start-selection ul li
{
  background: image_url('main-buttons.png') no-repeat left top;
  width:179px;
  height:25px;
  float:left;
  text-align:center;
  line-height:25px;
  font-size:11px;
  font-weight:bold;
  color:#FFF;
  text-transform:uppercase;
  margin-right:35px;
  margin-bottom:15px;
}

.quick-start-selection ul li a
{
  width:179px;
  height:25px;
  display:block;
  color:#FFF;
  text-decoration:none;
}

.quick-start-selection ul li a:hover, .quick-start-selection ul li a.active
{
  background: image_url('main-buttons.png') no-repeat 0 -75px;
  color:#FFF;
  text-decoration:none;
}

#quick-start-verse-selection {
  position:relative;
  min-height: 200px;
  #new-verse-entry {
    position:absolute;
    width: 90%;
    display:none;
  }
  #existing-verse-add {
    position:absolute;
  }
}

.quick-start-show-verse {
  min-height: 120px;
}

.quick-start-add-verse {
  text-align:right;
  padding-top:5px;
}

.quick-start-add-button {
  background: image_url('add-verse.png') no-repeat left top;
  width:122px;
  height:25px;
  padding:5px 125px 10px 0px;
  border:0;
  cursor:pointer;
}

.quick-start-enter-verse {
  width:40%;
  min-height:500px;
  float:left;
  padding-left:3em;
  padding-right:2em;
  padding-bottom:2em;
  margin-right:4em;
  border-right:1px solid #bfbebe;
}

.verse-added
{
  background:#FFF image_url('tick.png') no-repeat right center;
  height:30px;
  float:right;
  text-align:right;
  padding-right:20px;
  margin-right:50px;
  color:#999;
  line-height:30px;
  font-size:13px;
  font-weight:bold;
}

#start-memorizing {
  display:none;
  padding-left:2em;
  width: 100%;
}

/* Popular verses scroll */
.quick-start-popular-scroll {
  width:40%;
  min-height:500px;
  float:left;
  padding-left:0.5em;
  padding-right:1em;
  padding-bottom:1em;

  /* root element for scrollable */
  .scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;

    /* vertical scrollables have typically larger height than width but not now */
    height: 430px; // should match height of vertical class ... height should be 3x size of item height + padding
    width: 420px;  // should match width of vertical class and actions
  }

  /* root element for scrollable items */
  .scrollable .items {
    position:absolute;

    /* this time we have very large space for the height */
    height:20000em;
  }

  /* root element for scrollable */
  .vertical {

    /* required settings */
    position:relative;
    overflow:hidden;

    /* vertical scrollers have typically larger height than width */
    height: 430px; // should match height of scrollable class
    width: 420px;  // should match width of scrollable class and actions
    border-top:1px solid #ddd;
  }

  /* root element for scrollable items */
  .items {
    position:absolute;
    /* this time we have very large space for height */
    height:20000em;
    margin: 0px;
  }

  /* single scrollable item */
  .item {
    border-bottom:1px solid #ddd;
    padding:10px 0 0 0;
    height:133px;
  }

  /* elements inside single item */
  .item img {
    float:left;
    margin-right:20px;
    height:180px;
    width:240px;
  }

  .item h3 {
    margin:0 0 5px 0;
    font-size:16px;
    /* color:#456; */
    font-weight:normal;
  }

  /* the action buttons above the scrollable */
  #actions {
    width:420px;   // should match width of vertical and scrollable class
    margin:30px 0 10px 0;
  }

  #actions a {
    font-size:11px;
    cursor:pointer;
    color:#666;
  }

  #actions a:hover {
    text-decoration:underline;
    color:#000;
  }

  .disabled {
    visibility:hidden;
  }

  .next {
    float:right;
  }
} /* end of scroll styles */


