/* === Signup Page === */
#signup-page-form {
  font-size:140%;
  width:700px;
  margin-left:7%;
  margin-top:1.5em;
}

#signup-page-form h2 {
  padding: 0 0 5px 40px;
  font-size: 120%;
}

#signup-page-form #error_explanation {
  font-size: 88%;
  color: #aa0101;
  h2 {
    padding: 10px 0 0 40px;
    color: black;
  }
}

#signup-page-form label {
  width:10em;
}

#signup-page-form .submit-button {
  margin-left: 15%;
}

#signup-page-form .request-button {
  margin-left: 6%;
}

#signup-page-form li {
  margin-top: 0.7em;
}

#sign-up-button-b {
	width:315px;
	padding:10px;
	background: linear-gradient(#f2f1f1, #bfbebe);
	border-color:#999;
	border-radius: 5px;
	font-size:12px;
	font-weight:bold;
}

#sign-up-button-b:hover {
	border-color:#577a1a;
	background: linear-gradient(#9c3, #5E7D25);
}

.sign-up-links {
  font-size: 65%;
  float: left;
  padding-left: 6%;
}


/* === Sign-in Page Styling === */

#signup-page-form .sign-in-buttons .submit-button {
  margin-left: 3%;
}

.remember-me {
  float:left;
  margin-left: 0.2em;
  font-size: 80%;

  #user_remember_me {
    float: right;  // neeeded to float checkbox right in Chrome
    margin-top: 0.25em;
  }

}

.tooltip2 {
  background-color:#000;
  border:1px solid #fff;
  padding:10px 15px;
  display:none;
  color:#fff;
  text-align:left;
  font-size:12px;
  opacity:0.8;

  /* outline radius for mozilla/firefox only */
  -moz-box-shadow:0 0 10px #000;
  -webkit-box-shadow:0 0 10px #000;
}


/* === Registration Page Styling === */
div.signupform {
  margin:auto 0;
}

div.signup {
  position:relative;
  height:50px;
}
div.signup input {
  height:25px;
  width:300px;
  padding:5px;
}

div.sidetip {
  position:absolute;
  left:320px;
  top:0;
  font-size:14px;
}

div.sidetip p {
  display:none; /* hidden at first */
}

p.isaok{
  color:#577a1a;
}

p.error{
  color:#983626;
}

div.sidetip a {
  color:#111;
}

/* === Forgotten password page (request email to be sent) === */
#forgotten_password {
  width:550px;
}

#forgotten_password label {
  width:2.5em;
}

/* === Reset password page === */
#reset_password {
  width:550px;
}

#reset_password label {
  width:5.5em;
}

#reset_password .buttons {
  margin-left:9em;
}