/* ==================================== */
/* ==  Reference Test : Left Panel   == */
/* ==================================== */
#reftest-leftside {
    width: 45%;
    height: 475px;
    float: left;
    padding: 0em 2em 2em 2em;
    border-right-color:#bfbebe;
    border-right-style:solid;
    border-right-width:1px;
}

#reftest-left-top {
    height: 36%;  // Should be same as top-dashboard
    margin-bottom: 1em;
    margin-top: 1em;

}

#reftestVerse {
    padding:0.75em;
    font-size:105%;
    min-height: 8em;
}

#reftest-leftside #answer {
    margin-top:2%;
    margin-bottom:2%;
    margin-left:1em;
}

#submit-ref {
    vertical-align:bottom;
    margin-bottom:2%;
}

/* ==================================== */
/* ==  Reference Test : Right Panel  == */
/* ==================================== */
#reftest-rightside {
    float:left;
    padding: 0em 2em 2em 2em;
    width: 45%;
    height: 475px;
}

#reftest-feedback {
    height: 60%;
    padding-left: 1em;
}

#top-dashboard {

    height: 36%;  // Should be same as reftest-left-top
    margin-bottom: 1em;
    margin-top: 1em;
    // background-color: #f5f6f5;

    #gauge {
        width: 50%;
        float: left;
    }

    #overdue-refs {
        width: 30%;
        float: left;
        padding: 3em 1em 1em 3em;
        #overdue-refs-num {
            font-size: 200%;
            color: #AA0101;
        }
    }


}

#past-questions {
    padding: 1em 0em;
    height: 82%;
    overflow: hidden;
    position: relative;
}

// Feedback on previous ref test questions
.prior-feedback {

    .prior-question {
      display: inline-block;
      width: 28%;
    }

    .divider {
      display: inline-block;
      width: 3%;
    }

    .prior-answer {
      display: inline-block;
      width: 30%;
    }
    .prior-feedback {
      display: inline-block;
      width: 38%;
    }

}

.fadeout {
    position: absolute;
    bottom: 0em;
    width:100%;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}
