.spritz-container {
    padding-left: 2em;
    min-height: 400px;
}

.spritz-chapter-heading {
    padding-left: 5em;
    min-height: 2em;
}

.memverse-spritz-pane {
    padding-top: 1em;
    padding-left: 5em;
}

.spritz-selection {
    padding-top: 3em;
    padding-left: 5em;
}