/* === Show Verse Page === */

/* For nice display of verses anywhere on website */
.verse-text {
  width:25%;
  float:left;
  padding:0 1em 0 2em
}


#verse-show {
  height:240px;
}

#verse-show h2 {
  text-align:center;
}

.verse-text #show-verse {
  background-color:#EEE;
  padding:0.5em;
  margin-top:1em;
}

.verse-text #nav {
  width:78%;
  margin:auto;
}

.verse-tag {
  background-color:#EEE;
  padding:0.2em 1em;

  // tag name too long causes problems, so force linebreak
  -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.tag-list {
  width:15%;
  padding:0 1em 0 2em;
  float:left;
}

.mv-info {
  width:30%;
  padding-left:2em;
  float:left;
}

#memverse-tags {
  margin-top: 13px;
}
