<p>You currently have no referrals. If you have referred people in the past, contact them and ask them
   to designate you as the person who referred you.</p>
      
<p>If you'd like to refer a friend or family member, include this link in your email and when they register
   at Memverse you'll automatically be added as the person who referred them.</p>

<p><%= @user.referral_link %></p>

