<h1>Who Referred You?</h1>

<p>You can enter either the name, login (username) or the email address of the person who referred you:</p>

<div class="details-form">
    
  <fieldset>
    <legend> Enter User login, email or name</legend>
    
      <% form_tag( {}, { :id => 'advanced_search' } ) do %>
        <p>
        Search:     <%= text_field_tag( :search_param,  params[:search_param],  :size =>  40 )%>
        <img class="spinner" id="ajax_spinner" src="/images/indicator.gif" alt="Searching ..." style="display: none" /> 
        </p>
                      
      <% end %>
          
  </fieldset>
        
</div>  

<br>

<div id="search_results">
  <%= render :partial=>'search_user' %>
</div>

<script language="JavaScript" type="text/javascript"><!--		
	$(document).ready(function() {
		$("#search_param").observe_field(0.5, function( ) { 
			$.get("/search_user", { search_param: this.value },
				function(data){	
					$("#search_results").html(data);
			});
        });
    });
    
	$('.spinner')
		.ajaxStart(function() {
	        $(this).show();
	    })
		.ajaxStop(function() {
	        $(this).hide();
    });     
--></script>


