<% page_title @church.name %>
<div class="white-box-with-margins">
<h1><%= @church.rank ? @church.rank + ". " : "" %><%= @church.name %></h1>

<table class="memverse-standard">
	<%= render :partial => "users/user_headings" %>
	<%= render :partial => "users/user", :collection => @users %>
</table>
</div>
