<div id="pop-verses-table" class="verse-list">
	<table class="menu-popular" cellpadding="4" cellspacing="1" border="1">
		<tr>
			<th>Rank</th>
			<th>Verse</th>
		</tr>

		<% for vs in @vs_list %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td align="center"><%=@vs_list.index(vs)+1%></td>
				<td><%= vs[0]	%></td>
			</tr>
		<% end %>

	</table>

</div>

<!-- http://www.webdesignerwall.com/tutorials/jquery-tutorials-for-designers/ -->
<script type="text/javascript">
$(document).ready(function(){

	$(".menu-popular a").hoverIntent(function() {
		$(this).next("em").animate({opacity: "show", left: "30em"}, "slow");
	}, function() {
		$(this).next("em").animate({opacity: "hide", left: "32em"}, "medium");
	});


});
</script>