<% page_title "Bible Bee Tool" %>

<div class="white-box-bg">
	<div class="side-margins">
		<h1>Bible Bee Tool</h1>
		
		<object width="900" height="700">
			<param name="movie" value="/videos/bible_bee_tool.swf">
			<embed src="/videos/bible_bee_tool.swf" width="900" height="700">
			</embed>
		</object>
		
		<p>Designed by <a href="/users/13954">Jonathan Peterson</a></p>
	</div>
</div>
