<% page_title I18n.t :contact_feedback, :scope => 'page_titles' %>
<% page_description I18n.t :contact_feedback, :scope => 'page_descriptions' %>

<section class="two-thirds-white-box">
	<h1>Questions, Feature Requests, Reporting Errors</h1>

	<p>
		We welcome feedback. Many of the features on Memverse were implemented in response to feedback from users.
		The best place for asking questions, requesting new features, and reporting bugs is our support forum.
		We monitor it daily and there are often users online who can give a quick answer.
		Click on the '?' icon bottom right to get started.
	</p>

</section>

<section class="one-third-white-box">
	<h1>Newsletter</h1>

	<p>Phil Walker has graciously offered to write a periodic newsletter. It will include tips on how to use Memverse, recent changes to the website, and
	encouragement for those times when the weeds of life press in.</p>

	<!-- BEGIN: Constant Contact Stylish Email Newsletter Form -->
	<div align="left">
		<div style="width:160px; background-color: #ffffff;">
			<form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:3;"><span style="background-color: #006699; float:right;margin-right:5;margin-top:3"><img src="http://img.constantcontact.com/ui/images1/visitor/email1_trans.gif" alt="Email Newsletter icon, E-mail Newsletter icon, Email List icon, E-mail List icon" border="0"></span>
				<input type="text" name="ea" size="20" value="" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10px; border:1px solid #999999;">
				<input type="submit" name="go" value="Subscribe" class="submit"  style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px;">
				<input type="hidden" name="m" value="1101581360798">
				<input type="hidden" name="p" value="oi">
			</form>
		</div>
	</div>
	<!-- END: Constant Contact Stylish Email Newsletter Form -->
	<!-- BEGIN: SafeSubscribe -->
	<div align="left" style="padding-top:5px;">
		<a href="http://www.constantcontact.com/safesubscribe.jsp" target="_blank">
			<img src="http://img.constantcontact.com/ui/images1/safe_subscribe_logo.gif" border="0" width="168" height="14" alt=""/>
		</a>
	</div>
	<!-- END: SafeSubscribe -->
</section>

<section class="two-thirds-white-box">
	<h1>Facebook</h1>

		<p>There is a growing Memverse community on Facebook. It's a great way to meet other people with a passion for memorizing the Bible.</p>

		<!-- Facebook - become a fan -->
		<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script>
		<script type="text/javascript">FB.init("b114614898df90328376ed012b794ed5");</script>
		<fb:fan profile_id="197413925309" stream="" connections="" width="580"></fb:fan><div style="font-size:8px; padding-left:10px">
			<a href="http://www.facebook.com/pages/Memverse/197413925309">Memverse on Facebook</a> </div>
</section>

<section class="one-third-white-box">
	<h1>Twitter</h1>

	<p>If you like your news and updates in 140 characters or less, you can find us on Twitter.</p>
	<a href="http://www.twitter.com/Memverse"><img src="http://twitter-badges.s3.amazonaws.com/follow_bird_us-c.png" alt="Follow Memverse on Twitter"/></a>
</section>

