<% page_title I18n.t :help_support, :scope => 'page_titles' %>
<% page_description I18n.t :help_support, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">

	<h1><b>List of Frequently Asked Questions</b></h1>
	<h2 class="question">My verse has an error in it.  How do I fix it?</h2>
	<div class="answer">
		<p>
			Go to the ‘My Verses’ page and scroll down until you find the verse that has the error in it.
			The rightmost column entitled ‘Verse Status’ ought to read ‘Verified,’ ‘Error Reported,’ ‘Pending,’ or ‘Editable.’
		</p>
		<ul>
			<li>If it reads ‘Error Reported’ or ‘Pending,’ we are aware that there is an issue and will hopefully check it as soon as possible.</li>
			<li>If it reads ‘Editable’ click ‘Editable’ and you will be brought to a page where you can change the verse.</li>
			<li>If it reads ‘Verified,’ click ‘Verified’ and you will be able to report an error in the verse.</li>
		</ul>
		We are currently working on a faster method to verify correct verses. You can help us with our project by going to <a href="https://www.memverse.com/check_verses">https://www.memverse.com/check_verses</a> to help us keep the verses correct.</p>
	</div>
	<h2 class="question">How do Pending Verses work?</h2>
	<div class="answer">
		<p>
			By setting verses as pending, you can add verses to your account that will eventually be part of
			your memorization queue but that won’t be placed in the queue immediately.
			You can set a verse as pending by clicking the word under status (which will either be ‘Learning’ or
			‘Memorized’) or the software will do it automatically to new verses if your current ‘Minutes per Day’
			stat is above your target minutes per day. Memverse will then input your pending verses into the
			memorization queue whenever your ‘Minutes per Day’ stat has fallen under your target minutes per day if the ‘Add Veses as needed?’
			box is checked on your profile, or you can always toggle it manually by clicking the ‘Pending’ status on your ‘My Verses’ page.
		</p>
		<p>See <a href="https://www.memverse.com/blog/main/Pending_Verses">this blog post</a> for more details.</p>
	</div>
	<h2 class="question">When is a verse considered memorized?</h2>
	<div class="answer">
		A verse is considered memorized when its interval is above 30 days. You can read more about how long it might take to get a verse
		memorized after it is inputted into the system <a href="https://www.memverse.com/blog/main/Understanding_the_Interval">here</a>.
	</div>
	<h2 class="question">How do I tag a verse?</h2>
	<div class="answer">
		Go to the ‘My Verses’ page and scroll down until you find the verse that you want to tag.
		Click the verse and you’ll be brought to a page where you can add tags to the verse.
	</div>
	<h2 class="question">What do those options on my profile mean?</h2>
	<div class="answer">
		<ul>
			<li>If you check ‘Add Verses as needed?’, the software will automatically input your verses marked as pending into your memorization queue when your current ‘minutes per day’
				stat is under your target minutes per day which you’ve already inputted into the system.  To turn off this feature, uncheck this box.</li>
			<li>If you check ‘Test all References’, it means that all references will be tested in Reference Recall.  If left unchecked, the software will
				only test the reference for the first verse in each passage you’re memorizing.</li>
			<li>If you check ‘Always show Feedback,’ the software will always show you where you have mistakes in your verse no matter how large the interval is.
				If you uncheck it, whenever the interval of a verse is above 90 days, the software won’t show you the feedback section of the ‘Review’ page, but will still tell you once you have typed the verse in perfectly.</li>
		</ul>
	</div>
	<h2 class="question">How do badges work?</h2>
	<div class="answer">
		<p>
			Badges are awarded for exceptional achievements and added permanently to your dashboard.
			You can read more about badges and check the current requirements <a href="https://www.memverse.com/blog/main/memverse-badges">here</a>.
		</p>
	</div>
	<h2 class="question">How does the mnemonic way of doing Memverse work?</h2>
	<div class="answer">
		Instead of typing in your verses the normal way under ‘Review,’ you can choose to just type in the first letter of each word to get through the verse quicker if you’re already very familiar with it.
		You enter mnemonic mode after typing two single letters with a space in between them.  You can read more about this feature in our <a href="https://www.memverse.com/blog/main/enter-your-memory-verses-with-the-mnemonic">inaugural blog post here</a>.
	</div>

	<div class="clr"></div>

</div>

<script type="text/javascript">
$(document).ready(function(){
	$("div.answer").hide();
	$("h2.question").on("click", function(){
		$(this).next().slideToggle("slow"); // toggle sibling
	});
});
</script>