<% page_title I18n.t :help_support, :scope => 'page_titles' %>
<% page_description I18n.t :help_support, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">
	<!-- Search widget -->
	<div id='gsfn_search_widget'>
		<a href="http://getsatisfaction.com/memverse" class="widget_title">User-Powered Support for Memverse</a>
		<div class='gsfn_content'>
			<form accept-charset='utf-8' action='http://getsatisfaction.com/memverse' id='gsfn_search_form' method='get' onsubmit='gsfn_search(this); return false;'>
				<div>
					<input name='style' type='hidden' value='' />
					<input name='limit' type='hidden' value='5' />
					<input name='utm_medium' type='hidden' value='widget_search' />
					<input name='utm_source' type='hidden' value='widget_memverse' />
					<input name='callback' type='hidden' value='gsfnResultsCallback' />
					<input name='format' type='hidden' value='widget' />
					<label class='gsfn_label' for='gsfn_search_query'>Ask a question, share an idea, or report a problem.</label>
					<input id='gsfn_search_query' maxlength='120' name='query' type='text' value='' />
					<input id='continue' type='submit' value='Continue' />
				</div>
			</form>

			<div id='gsfn_search_results' style='height: auto;'></div>

		</div>
	</div>

	<h1><b>List of Frequently Asked Questions</b></h1>
	<h2>My verse has an error in it.  How do I fix it?</h2>
	<p>Go to the ‘My Verses’ page and scroll down until you find the verse that has the error in it.
		The rightmost column entitled ‘Verse Status’ ought to read ‘Verified,’ ‘Error Reported,’ ‘Pending,’ or ‘Editable.’
		<ul>
			<li>If it reads ‘Error Reported’ or ‘Pending,’ we are aware that there is an issue and will hopefully check it as soon as possible.</li>
			<li>If it reads ‘Editable’ click ‘Editable’ and you will be brought to a page where you can change the verse.</li>
			<li>If it reads ‘Verified,’ click ‘Verified’ and you will be able to report an error in the verse.</li>
		</ul>
		We are currently working on a faster method to verify correct verses. You can help us with our project by going to <a href="http://www.memverse.com/check_verses">http://www.memverse.com/check_verses</a> to help us keep the verses correct.</p>
	<h2>How do Pending Verses work?</h2>
	<p>Setting verses as pending allow you to add verses to the system that will gradually be placed in your memorization queue
		 but that won’t be placed in the queue immediately. You can set a verse as pending by clicking the word under status
		 (which will either be ‘Learning’ or ‘Memorized’) or the software will do it automatically to new verses if your current
		 ‘Minutes per Day’ stat is above your target minutes per day. Memverse will then input your pending verses into the
		 memorization queue whenever your ‘Minutes per Day’ stat has fallen under your target minutes per day if the ‘Add Veses as needed?’
		 box is checked on your profile, or you can always toggle it manually by clicking the ‘Pending’ status on your ‘My Verses’ page.
		 You can read more about it in <a href="http://www.memverse.com/blog/main/Pending_Verses">this blog post</a>.
	<h2>When is a verse considered memorized?</h2>
	<p>A verse is considered memorized when its interval is above 30 days. You can read more about how long it might take to get a verse
		memorized after it is inputted into the system <a href="http://www.memverse.com/blog/main/Understanding_the_Interval">here</a>.</p>
	<h2>How do I tag a verse?</h2>
	<p>Go to the ‘My Verses’ page and scroll down until you find the verse that you want to tag.
		Click the verse and you’ll be brought to a page where you can add tags to the verse.</p>
	<h2>What do those options on my profile mean?</h2>
	<p>
		<ul>
			<li>If you check ‘Add Verses as needed?’, the software will automatically input your verses marked as pending into your memorization queue when your current ‘minutes per day’
				stat is under your target minutes per day which you’ve already inputted into the system.  To turn off this feature, uncheck this box.</li>
			<li>If you check ‘Test all References’, it means that all references will be tested in Reference Recall.  If left unchecked, the software will
				only test the reference for the first verse in each passage you’re memorizing.</li>
			<li>If you check ‘Always show Feedback,’ the software will always show you where you have mistakes in your verse no matter how large the interval is.
				If you uncheck it, whenever the interval of a verse is above 90 days, the software won’t show you the feedback section of the ‘Review’ page, but will still tell you once you have typed the verse in perfectly.</li>
		</ul>
	</p>
	<h2>How do badges work?</h2>
	<p>Badges are very hard achievements that you can accomplish which are visible on your dashboard. You can read more about badges and check the current requirements <a href="http://www.memverse.com/blog/main/memverse-badges">here</a>.</p>
	<h2>How does the mnemonic way of doing Memverse work?</h2>
	<p>Instead of typing in your verses the normal way under ‘Review,’ you can choose to just type in the first letter of each word to get through the verse quicker if you’re already very familiar with it.
		You enter mnemonic mode after typing two single letters with a space in between them.  You can read more about this feature in our <a href="http://www.memverse.com/blog/main/enter-your-memory-verses-with-the-mnemonic">inaugural blog post here</a>.</p>

</div>

<!-- Search box scripts -->
<script src="http://getsatisfaction.com/memverse/widgets/javascripts/71b6df0410/widgets.js" type="text/javascript"></script>







