<% page_title I18n.t :global_stats, :scope => 'page_titles' %>
<% page_description I18n.t :global_stats, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">

	<div>
		<%= ziya_chart load_memverse_clock_url(:xml).html_safe, :size => "1040x500" -%>
	</div>
	
	<br>
	
	<div>
		<p>
			This is the most important leaderboard. Denominations were man's idea; God only has one church. 
		</p>
		
		<p>
			Memverse has <%= number_with_delimiter(@global_users) %> active users as of <%= @last_entry %>. 
			As a church, we have <%= number_with_delimiter(Memverse.memorized.count) %> verses memorized.
		</p>
	</div>
</div>
