<% page_title I18n.t :global_stats, :scope => 'page_titles' %>
<% page_description I18n.t :global_stats, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">

	<div id="container" style="width: 100%; height: 500px"></div>

	<br>

	<div>
		<p>
			Memverse has <%= number_with_delimiter(@global_users) %> active users as of <%= @last_entry %>.
			As a church, we have <%= number_with_delimiter(Memverse.memorized.count) %> verses memorized.
		</p>
	</div>
</div>


<script type="text/javascript">

var chart; // globally available

$(document).ready(function() {

	Highcharts.setOptions({
	    colors: ['#6b9620', '#3c5313', '#e17329', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
	});

	var options = {
	    credits: {
	        text: 'Memverse.com',
	        href: 'https://www.memverse.com'
	    },
		chart: {
			renderTo: 'container',
			defaultSeriesType: 'area'
		},

		title: {
			text: 'Global Statistics',
	        style: {
	            color: '#333333',
	            fontWeight: 'bold'
	        }
		},
		xAxis: {
	        labels: {
	            enabled: false
	        }
		},
		yAxis: [{
			title: {
				text: 'Verses',
		        style: {
		            color: '#333333',
		            fontWeight: 'bold'
		        }
			},
		}, {
			title: {
				text: 'Users',
		        style: {
		            color: '#333333',
		            fontWeight: 'bold'
		        }
			},
			opposite: true,
		}],
	    legend: {
	        itemStyle: {
	            color: '#333333',
	            fontWeight: 'bold'
	        }
	    },
		plotOptions: {
			series: {
				lineWidth: 2,
				fillOpacity: 0.1,
				marker: {
					enabled: false,
					states: {
						hover: {
							enabled: true,
							radius: 4
						}
					}
				},
				shadow: false,
				states: {
					hover: {
						lineWidth: 1,
					}
				}
			},
		   	area: {
		    	fillColor: {
		        	linearGradient: [0, 0, 0, 450],
		        	stops: [[0, '#6b9620'],
		            		[1, 'rgba(0,0,0,0)']],
		    	},
		    	lineColor: '#6b9620',
		    },
			line: {
			}
		},
		series: []
	};



	$.get('/global_data.json', function(data) {

		var learning_data  = { data: [] };
		var memorized_data = {	data: [],
								fillcolor: { stops: [[0, '#3c5313'], [1, 'rgba(0,0,0,0)']] },
								lineColor: '#3c5313'
							  };
		var active_users   = { data: [], type: "line", yAxis: 1 };
		var dates		   = [];

    	learning_data.data = data[0];
    	learning_data.name = "Learning"

    	memorized_data.data = data[1];
    	memorized_data.name = "Memorized";

    	active_users.data = data[2];
    	active_users.name = "Active Users";

    	dates = data[3];

		options.series.push(learning_data);
		options.series.push(memorized_data);
		options.series.push(active_users);
		options.xAxis.categories = dates;

	    // Create the chart
	    var chart = new Highcharts.Chart(options);

	}, "json" );

});

</script>