<h1>Memverse Stats</h1>

<div>
	<%= ziya_chart load_memverse_clock_url, :size => "1100x500" -%>
</div>

<br>

<div>
	<p>
		This is the most important leaderboard. Denominations were man's idea; God only has one church. 
	</p>
	
	<p>
		Memverse has <%= @global_users %> active users as of <%= @last_entry %>. 
		As a church, we have <%= @memorized_verses %> verses memorized.
	</p>
</div>