<% content_for :head do %>
    <script type="text/javascript">
        var SpritzSettings = {
               clientId: "930d14594cea1fd81",
               redirectUri: "http://www.memverse.com/spritz_login_success.html"
        };
    </script>

    <script id="spritzjs" type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>
<% end %>

<p><div data-role="spritzer" data-url="http://www.memverse.com/supermemo"></div><p>


