<% content_for :head do %>
    <script type="text/javascript">
        var SpritzSettings = {
               clientId: "930d14594cea1fd81",
               redirectUri: "https://www.memverse.com/spritz_login_success.html"
        };
    </script>
    <script id="spritzjs" src="//sdk.spritzinc.com/js/1.2/js/spritz.min.js"></script>
<% end %>

<!-- Page content -->
<div class="white-box-bg">

    <div class="spritz-container">

        <div class="spritz-chapter-heading">
            <h3 id="selectionTitle"></h3>
        </div>

        <!-- Main Spritz Div -->
        <div    id="spritzer" class="memverse-spritz-pane"
                data-role="spritzer"
                data-options='{
                    "redicleWidth": 250,
                    "redicleHeight": 70,
                    "speedItems": [250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 800],
                    "defaultSpeed": 500
                }'
                data-url="http://sdk.spritzinc.com/sampleText/HelloWorld.html"></div>

        <!-- Reference entry box -->
        <div class="spritz-selection verse-field ui-widget">
            <label class="tag">Enter a chapter reference</label>
            <%= image_tag("indicator2.gif", alt: "Searching...", style: "display: none", class: "spinner spinner-add-verse", id: "ajax_spinner") %>
            <%= text_field_tag(:chref, params[:chref], :class => "chref", :id => "chref", :placeholder => "e.g. Matthew 5", :size => "20" ) %>
        </div>

    </div>

</div>


<script language="JavaScript" type="text/javascript"><!--

    function onTextSelected( chapter_string ) {

        console.log("User has requested chapter:" + chapter_string);

        var ref = $.trim( chapter_string )
        var url;
        var name;

        if ( validChapterRef( ref ) ) {

            console.log("Found valid chapter reference:" + ref )

            // We should check whether we have entire chapter in database but skipping that for now
            if ( ch_ref = parsePassageRef( ref ) ) {

                url  = 'https://www.memverse.com/read/' + 'NIV' + '/' + ch_ref.bk + '/' + ch_ref.ch;
                name = ref;

                console.log("Getting text from:" + url);

                $('#selectionTitle').text(name);
                $('#spritzer').data('controller').setUrl(url);
            }
        }

    }

    $(document).ready(function() {

        $("#chref").focus();
        // Add selection handler
        $("#chref").observe_field(0.5, function () {
            onTextSelected( this.value )
        });
    });

--></script>


