<% page_title "STT Setia" %>
<script type="text/javascript" src="/videos/flowplayer-3.2.8.min.js"></script>

<div class="white-box-bg">
	<div class="side-margins">
		<h1>STT Setia</h1>
		
		<a  
			 href="/videos/Spirit-of-Setia.flv"
			 style="display:block;width:520px;height:330px"  
			 id="player">
		</a> 
	
		<script>
			flowplayer("player", "/videos/flowplayer-3.2.9.swf");
		</script>
		<p><!-- Mr. Walker will provide some text for here soon. --></p>
	</div>
</div>
