<% page_title "STT Setia" %>
<script type="text/javascript" src="/videos/flowplayer-3.2.8.min.js"></script>

<div class="white-box-bg">
	<div class="side-margins">
		<h1>STT Setia</h1>

		<p>The video below shows some scenes of an attack on STT Setia, a seminary in Jakarta Indonesia, in July 2008, and the conditions immediately following the attack as Setia continued to exist for 18 months without a campus. Voice of the Martyrs wrote a nice summary and endorsement of the school which you can see at <a href="https://www.memverse.com/docs/SETIA.pdf">www.memverse.com/docs/SETIA.pdf</a>.</p>

		<a
			 href="http://memverse.videos.s3.amazonaws.com/Spirit-of-Setia.flv"
			 style="display:block;width:520px;height:330px;float:left;margin:15px"
			 id="player">
		</a>

		<p>The challenges and stress was intense and took its toll on the school. Several excellent professors and many of the 1,500 students left the school. However, STT Setia is still moving forward with its mission and vision to offer seminary (post high school) education to young people who have a heart for God and are interested in training to "reach the unreached, love the unloved, and serve the unserved" in difficult places and situations throughout Indonesia. Often, the students themselves come from poor villages and would not be able to attend seminary, except for the financial help STT Setia provides.</p>

		<p>In 2010 Setia built a new campus in a large complex that used to be a factory. The renovations were not completed, due to lack of funding. However, classes still go on in temporary rooms for the 800 students currently enrolled (some of which are on village mission work which students do for their 6th and 7th semesters at Setia).</p>

		<p>Today, Setia is being forced to move from this location, which they were never able to secure the right permit for.  Please pray for the prompt selling of this property and buying of and building on new property as Setia moves forward.</p>

		<p>Here at Setia, the students wake up at 5:00 a.m. for student led morning worship, eat together, work together, worship together (with daily noon and evening worship times in addition to the early wake up worship) and study together as they prepare to be servants of God. In addition to this main campus, STT Setia has 19 other smaller seminaries, and 56 other secondary/primary/vocational schools throughout the country mostly run and taught by Setia graduates. There are also 870 Setia churches (some still house churches) started by alumni and countless allumni missionaries sharing the gospel throughout Indonesia.</p>

		<p>I and my wife Jacky are excited about being a part of what God is doing at and through Setia. If you would like more information about Setia, or would like our email updates about Setia, please feel free to get in touch at <a href="mailto:philjohn1558@yahoo.com">philjohn1558@yahoo.com</a>. We look forward to many more from around the world coming to join us in years to come (as professors, students, or other helpers) in being a part of this wonderful work of God here in the beautiful country of Indonesia.</p>

		<p>In Christ, Phil Walker</p>

		<p>P.S. Please pray for us as we hope to eventually get a new video made showing STT Setia as it is today in 2015.</p>

		<script>
		flowplayer("player", "/videos/flowplayer-3.2.9.swf",  {
			clip:  {
				autoPlay: false,
				autoBuffering: true
			}
		});
		</script>

		<!-- <video width="352" height="288" controls="controls">
			<source src="http://memverse.videos.s3.amazonaws.com/Setia-Missionaries.mp4" type="video/mp4" />
			<source src="http://memverse.videos.s3.amazonaws.com/Setia-Missionaries.ogg" type="video/ogg" />
			Your browser does not support the video tag.
		</video> -->
	</div>
</div>
