<div id="volunteer">
	<h1>Volunteer Opportunities</h1>
	
	<p>We are looking for volunteers in a variety of areas. If you'd like to help, we'd like to 
		<%= link_to 'hear from you', :controller => 'info', :action => 'contact'%></p>
	
	<ol>
		<li><h3>Web Design</h3> If you know Ruby and Rails and would like to add features to Memverse we would definitely
		welcome the help. Two areas that we are considering are iPhone/Android support and a Facebook application.</li>
		
		<li><h3>Help localize Memverse</h3> If you speak another language and would like to help localize Memverse.com or manage
		another foreign language translation, it would greatly expand the reach of the website</li>
		
		<li><h3>Tell others about Memverse</h3> Word of mouth is still the best way to spread the word. But email
		works pretty well too.</li>
	</ol>	
	
</div>