<% page_title I18n.t :volunteer, :scope => 'page_titles' %>
<% page_description I18n.t :volunteer, :scope => 'page_descriptions' %>
<div class="white-box-with-margins">
<div id="volunteer">
	<h1>Volunteer Opportunities</h1>
	
	<p>We are looking for volunteers in a variety of areas. If you'd like to help, we'd like to 
		<%= link_to 'hear from you', :controller => 'info', :action => 'contact'%>.</p>
	
	<ol>
		<li><h3>Web Design</h3> 
			If you know Ruby, Rails, or Javascript and would like to add features to Memverse we would definitely
			welcome the help. We have hundreds of outstanding issues in GitHub that could use your help.
		</li>

		<li><h3>Android Mobile Application</h3> 
			An Android application for Memverse is one of the most requested features by users. We already have both
			iOS and Windows Mobile apps so we know it is possible. Our <a href="/api/index.html">API is well-documented</a>
		</li>

		<li><h3>Help localize Memverse</h3> 

			If you speak another language and would like to help localize Memverse.com or manage
			another foreign language translation, it would greatly expand the reach of the website.
		</li>
		
		<li><h3>Tell others about Memverse</h3> 
			Word of mouth is still the best way to spread the word. But email
			works pretty well too. You can download a flyer about MemVerse created by Dakota Lynch, one of our users, by <a href="/docs/MemVerse.pdf">clicking here</a>.
		</li>

		<li><h3>Create an App</h3> 
			Explore our <a href="/api/index.html">API</a> and let us know if you'd like to build an app on the Memverse platform. A single-page Javascript app would be awesome.
		</li>
	</ol>	
	
</div>
</div>
